
<section class="object-purchase">

    <div class="object-item__container object-purchase__container">

        <div class="object-purchase__head">
            <input type="checkbox" name="switch" id="purchase-switch" class="switch">
            <label *ngIf="isAuthorizated" for="purchase-switch" class="object-item__title">Условия покупки</label>
            <h2 *ngIf="!isAuthorizated">Условия покупки</h2>
        </div>

        <div class="object-purchase__options" *ngIf="isAuthorizated">
            <button class="btn__admin-setting">Настройки</button>
        </div>
        
        <nav class="object-purchase__nav">
            <ul class="object-purchase__nav-list" *ngIf="!isAuthorizated">
                <li class="object-purchase__nav-item" (click)="showType = 'credit'"
                    [ngClass]="{'object-purchase__nav-item_active': showType === 'credit'}">Ипотека</li>
                <li class="object-purchase__nav-item" (click)="showType = 'installment'"
                    [ngClass]="{'object-purchase__nav-item_active': showType === 'installment'}">Рассрочка</li>
            </ul>
        </nav>

        <div class="object-purchase__list" *ngIf="showType === 'credit'">
    
            <div class="object-purchase__list-container">
    
                <div class="object-purchase__list-head">
                    <p class="object-purchase__list-text object-purchase__list-text_head">Банк</p>
                    <p class="object-purchase__list-text object-purchase__list-text_head">Ставка от</p>
                    <p class="object-purchase__list-text object-purchase__list-text_head">Срок</p>
                    <p class="object-purchase__list-text object-purchase__list-text_head">Минимальный взнос</p>
                </div>
                <div class="object-purchase__list-item" *ngFor="let bank of mockBank">
                    <div class="object-purchase__list-text object-purchase__list-image">
                        <img src="{{bank.image}}" alt="bank-logo">
                    </div>
                    <p class="object-purchase__list-text object-purchase__list-name">{{bank.name}}</p>
                    <p class="object-purchase__list-text object-purchase__list-text_grey object-purchase__list-rate">{{bank.rate}}</p>
                    <p class="object-purchase__list-text object-purchase__list-text_grey object-purchase__list-date">до {{bank.date}} лет</p>
                    <p class="object-purchase__list-text object-purchase__list-text_grey object-purchase__list-payment">от {{bank.payment}}%</p>
                </div>
            </div>

            <button class="object-purchase__list-btn btn-empty">Показать все банки</button>
        </div>
        
        <app-object-item-installment 
            *ngIf="showType === 'installment'">
        </app-object-item-installment>
    </div>
</section>
