<ul class="form-flats-list">
    <li class="form-flats-list__item">
        <div class="create-shares__wrap create-shares__wrap_path">

            <h3 class="create-shares__typografy-title create-shares__typografy-title_in-path">Квартира</h3>

            <div class="create-shares__wrap create-shares__wrap_btn">
                <button class="create-shares__btn create-shares__btn_path-controll" (click)="remove.next()">Удалить</button>
                <button class="create-shares__btn create-shares__btn_path-controll">Вверх</button>
                <button class="create-shares__btn create-shares__btn_path-controll">Вниз</button>
            </div>

            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_select create-shares__wrap_w3">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Дом</p>
                <select [(ngModel)]="conf.blockFlat.house"
                        (ngModelChange)="changeHouse($event)"
                        class="create-shares__input create-shares__input_status">
                    <option *ngFor="let house of housesOptions"
                            [value]="house">Дом {{house}}</option>
                </select>
            </div>
            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_select create-shares__wrap_w3">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Секция</p>
                <select [(ngModel)]="conf.blockFlat.section"
                        (ngModelChange)="changeSection($event)"
                        [value]="conf.blockFlat.section"
                        class="create-shares__input create-shares__input_status">
                    <option *ngFor="let section of sectionsOptions"
                            [value]="section">Секция {{section}}</option>
                </select>
            </div>
            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_select create-shares__wrap_w3">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Квартира</p>
                <select [(ngModel)]="conf.blockFlat.number"
                        (ngModelChange)="changeFlat($event)"
                        [value]="conf.blockFlat.number"
                        class="create-shares__input create-shares__input_status">
                    <option *ngFor="let flat of flatsOptions"
                            [value]="flat">Квартира {{flat}}</option>
                </select>
            </div>

            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_w3">
                <input type="text" [value]="!conf.blockFlat.price ? '' : (conf.blockFlat.price | bitNumber) + ' &#8381;'"
                    class="create-shares__input create-shares__input_title" disabled #price>
                <p class="create-shares__typografy-subtitle"
                    [ngClass]="{'create-shares__typografy-subtitle_placeholder': conf.blockFlat.price}">Стоимость</p>
            </div>
            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_w3">
                <input type="text" class="create-shares__input"
                    (click)="conf.blockFlat.discountType = ShareFlatDiscountType.SUM"
                    [value]="conf.blockFlat.discountType === ShareFlatDiscountType.SUM ? conf.blockFlat.discount : ''"
                    (input)="conf.blockFlat.discount = $event.target.value"
                    (change)="conf.blockFlat.discount = $event.target.value"
                    [ngClass]="{'create-shares__input_disabled': conf.blockFlat.discount !== '' && conf.blockFlat.discountType === ShareFlatDiscountType.PERCENT }">
                <p class="create-shares__typografy-subtitle"
                    [ngClass]="{'create-shares__typografy-subtitle_placeholder': conf.blockFlat.discountType === ShareFlatDiscountType.SUM && conf.blockFlat.discount !== ''}">Скидка, руб</p>
            </div>
            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_w3">
                <input type="text" class="create-shares__input"
                    (click)="conf.blockFlat.discountType = ShareFlatDiscountType.PERCENT"
                    [value]="conf.blockFlat.discountType === ShareFlatDiscountType.PERCENT ? conf.blockFlat.discount : ''"
                    (input)="conf.blockFlat.discount = $event.target.value"
                    (change)="conf.blockFlat.discount = $event.target.value"
                    [ngClass]="{'create-shares__input_disabled': conf.blockFlat.discount !== '' && conf.blockFlat.discountType === ShareFlatDiscountType.SUM }">
                <p class="create-shares__typografy-subtitle"
                    [ngClass]="{'create-shares__typografy-subtitle_placeholder': conf.blockFlat.discountType === ShareFlatDiscountType.PERCENT && conf.blockFlat.discount !== ''}">Скидка, %</p>
            </div>

        </div>
    </li>
</ul>
