<div class="g-modal-bg create-shares" *ngIf="isForm">
    <form class="create-shares__container" [formGroup]="form">

        <button class="create-shares__cls-btn btn-cls" (click)="close.emit()"><span></span></button>
        <button class="create-shares__cls-success btn-success" [disabled]="!form.valid" [class.btn-disabled]="!form.valid" (click)="onSave(form.value)"><span></span></button>
        <h2 class="create-shares__typografy-title">Добавить акцию</h2>
        <!-- <p class="shares-edit-form__typografy-date">{{dateNow}}</p> -->

        <div class="create-shares__wrap create-shares__wrap_main create-shares__wrap_path">

            <h3 class="create-shares__typografy-title create-shares__typografy-title_in-path">Основная информация</h3>

            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_full">
                <ghm-textarea [formControlName]="'name'"
                    class="create-shares__input create-shares__input_area create-shares__input_title"
                    [ngClass]="{'invalid-value': form.get('name').invalid && form.get('name').dirty}"
                    [placeholder]="'Заголовок'"
                    [invalid]="form.get('name').invalid && form.get('name').dirty">
                </ghm-textarea>
                <p class="create-shares__typografy-error">Поле обязательно для заполнения</p>
            </div>
            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_full">
                <!-- <p class="create-shares__typografy-subtitle_add-link">Вставить ссылку</p> -->
                <ghm-textarea [formControlName]="'text'"
                    class="create-shares__input create-shares__input_area"
                    [ngClass]="{'invalid-value': form.get('text').invalid && form.get('text').dirty}"
                    [placeholder]="'Краткое описание'"
                    [link]="false"
                    [invalid]="form.get('text').invalid && form.get('text').dirty">
                </ghm-textarea>
                <p class="create-shares__typografy-error">Поле обязательно для заполнения</p>
            </div>

            <div class="create-shares__wrap create-shares__wrap_select create-shares__wrap_input create-shares__wrap_full">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Жилой комплекс</p>
                <select name="objectId" class="create-shares__input create-shares__input_status" [formControlName]="'objectId'" (change)="changeMod($event)">
                    <option [value]="jkObject._id" *ngFor="let jkObject of modsBtnList; let i = index">{{ i === 0 ? 'Все комплексы' : jkObject.name }}</option>
                </select>
            </div>

            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_w2">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Дата публикации</p>
                <div class="create-shares__input create-shares__input_datepicker">
                    <app-ghm-date-picker [formControlName]="'created_at'"></app-ghm-date-picker>
                </div>
            </div>
            <div class="create-shares__wrap create-shares__wrap_select create-shares__wrap_input create-shares__wrap_w2">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Статус</p>
                <select name="publish" class="create-shares__input create-shares__input_status" [formControlName]="'publish'" (change)="setShowOnMain({ isPublishChange: true })">
                    <option [value]="false">Черновик</option>
                    <option [value]="true">Чистовик</option>
                </select>
            </div>
            
            <div class="create-shares__wrap create-shares__wrap_input create-shares__wrap_w2">
                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_placeholder">Срок акции до</p>
                <div class="create-shares__input create-shares__input_datepicker">
                    <app-ghm-date-picker [formControlName]="'finish_date'" (ngModelChange)="setShowOnMain({ isFinishDateChange: true })"></app-ghm-date-picker>
                </div>
            </div>
            <div class="create-shares__wrap create-shares__wrap_checkbox create-shares__wrap_w2">
                <label class="g-checkbox">
                    <input type="checkbox" name="countdown" id="countdown" [formControlName]="'countdown'" (change)="setShowOnMain({ isCountDownChange: true })">
                    <div></div>
                    <span>Обратный отсчет</span>
                </label>
            </div>

            <div class="create-shares__wrap create-shares__wrap_preview create-shares__wrap_full">
                <div class="create-shares__wrap">
                    <div class="create-shares__btn create-shares__btn_photo-preview" (click)="mainImgPicker.click()">
                        <span>Загрузить фото</span>
                        <input [style.display]="'none'"
                            type="file"
                            accept=".jpg, .jpeg"
                            #mainImgPicker
                            (change)="onImagePicked($event, 'main-image')">
                    </div>

                    <div class="create-shares__image create-shares__image_preview" *ngIf="form.get('mainThumbnail').value">
                        <img class="shares-edit-form__cover"
                            [src]="uploadsPath + form.get('mainThumbnail').value"
                            [alt]="form.value.name">

                        <button class="create-shares__cls-preview" (click)="deleteImage()"><span></span></button>
                    </div>
                        
                </div>

                <p class="create-shares__typografy-subtitle create-shares__typografy-subtitle_preview">Загрузите фото для превью</p>
            </div>
            <div class="create-shares__wrap create-shares__wrap_full">
                <label [class.create-shares__wrap_checkbox--disabled]="(publish.value === 'false' || publish.value === false) || countdown.value && countdownDays < 0"
                       class="g-checkbox">
                    <input type="checkbox" name="public" id="public" style="display: none;" [formControlName]="'show_on_main'">
                    <div></div>
                    <span>Показать акцию на главной</span>
                </label>
            </div>
            <div class="create-shares__wrap create-shares__wrap_margin">
                <label [class.create-shares__wrap_checkbox--disabled]="(publish.value === 'false' || publish.value === false) || countdown.value && countdownDays < 0"
                       class="g-checkbox">
                    <input type="checkbox" name="public" id="public" style="display: none;" [formControlName]="'show_on_promo'">
                    <div></div>
                    <span>Промо</span>
                </label>
            </div>
        </div>

        <h3 class="create-shares__typografy-title create-shares__typografy-title_out-path">Основная информация</h3>

       <div class="shares-edit-form__path-wrap">

            <div formArrayName="body">
                <div *ngFor="let block of body.controls; index as i; let last = last"
                     [ngSwitch]="block.value.blockType">

                    <app-shares-edit-text
                        [formControlName]="i"
                        [isFirst]="i"
                        [isLast]="last"
                        (move)="moveBlock(body.controls, i, $event)"
                        [type]="'description'"
                        *ngSwitchCase="'description'"
                        (remove)="removeBlock(i)"
                        (addLink)="showModalFunc($event, i)">
                    </app-shares-edit-text>

                    <app-shares-edit-image
                        [formControlName]="i"
                        [isFirst]="i"
                        [isLast]="last"
                        (move)="moveBlock(body.controls, i, $event)"
                        *ngSwitchCase="'image'"
                        (remove)="removeBlock(i)">
                        <div class="create-shares__btn create-shares__btn_photo-preview" (click)="mainImgPicker.click()">
                            <span>Загрузить фото</span>
                            <input [style.display]="'none'"
                                type="file"
                                accept=".jpg, jpeg"
                                (change)="onImagePicked($event, 'change-image', i)"
                                #mainImgPicker>
                        </div>
                    </app-shares-edit-image>

                    <app-shares-edit-text
                        [formControlName]="i"
                        [isFirst]="i"
                        [isLast]="last"
                        [type]="'title'"
                        (move)="moveBlock(body.controls, i, $event)"
                        *ngSwitchCase="'title'"
                        (remove)="removeBlock(i)">
                    </app-shares-edit-text>

                    <app-shares-edit-flats
                        [formControlName]="i"
                        *ngSwitchCase="'flats'"
                        (remove)="removeBlock(i)">
                    </app-shares-edit-flats>

                </div>
            </div>
        </div>

        <ul class="create-shares__wrap create-shares__wrap_elements">
            <li class="create-shares__btn create-shares__btn_title" (click)="addTitle()">Заголовок</li>
            <li class="create-shares__btn create-shares__btn_text" (click)="addDescription()">Текст</li>
            <li class="create-shares__btn create-shares__btn_image" (click)="singleImgPicker.click()">Изображение
                <input #singleImgPicker
                       [style.display]="'none'"
                       type="file"
                       accept=".jpg, jpeg"
                       (change)="onImagePicked($event, 'single-image')">
            </li>
            <li class="create-shares__btn create-shares__btn_flats" (click)="addFlats()">Квартиры по акции</li>
        </ul>

        <div class="create-shares__wrap create-shares__wrap_upld">
            <button class="create-shares__btn create-shares__btn_public btn_var-2"
                [ngClass]="{ 'shares-edit-form__save_disabled': form.invalid }"
                [disabled]="form.invalid"
                (click)="onSave(form.value)">Сохранить и закрыть
            </button>
            <button class="create-shares__btn create-shares__btn_save" (click)="close.emit()">Отменить</button>
        </div>
    </form>
</div>

<app-shares-edit-anchor *ngIf="showModal"
    [data]="modalAnchorData"
    (close)="showModal = false">
</app-shares-edit-anchor>
