@import "../../../styles/modules/mixins/mixin";

:host {
    width: 100%;
    height: 100%;
}

.search-output {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__result {
        @include container();
        @media (max-width: 767px) {
            width: 100%;
            max-width: 100%;
        }

        &-wrap {
            position: relative;
            width: 100%;
            margin: 0 0 4px;
        }
    }
}
