@import "../../../../../styles/modules/mixins/mixin";

// .search { position: static !important; }
.house {
    width: 100%;
    min-height: calc(100vh - 362px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 16px 0 0;

    &__container { @include container(); }
    &__nav {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 24px 0 0;
        margin: 0 0 40px;

        &-back {
            font: 18px/24px $font-proba;
            color: $col-black;
            position: relative;
            padding-left: 8px + 28px;
            margin-bottom: 24px;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: url(/assets/img/arrow.svg) center no-repeat rgba($color: $col-black, $alpha: .03);
                transition: background-color .2s linear;
            }
            &:hover::before {
                background-color: rgba($color: $col-black, $alpha: .5);
            }
        }

        &-list {
            display: flex;

            &--for-commertial {
                border-bottom: 0;
                padding: 0;
                li + li { margin-left: 16px; }
            }
        }
        &-link {
            font: 18px/23px $font-proba;
            color: rgba($color: $col-black, $alpha: .5);
            transition: color .2s linear;
            &:hover { color: $col-red_hover; }
            &.active { color: $col-red; }
        }
        &-item {
            font: $font-18;
            color: $col-black-5;
            transition: color .2s linear;
            white-space: nowrap;
            position: relative;
            cursor: pointer;
            margin-right: 16px;
            &:last-child { margin-right: 0; }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -9px;
                width: 100%;
                height: 1px;
                background: transparent;
            }
            &_disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            &_active {
                color: $col-red;
                &::before { background-color: $col-red; }
            }
        }
    }
}

.object__flat-list-wrap {
    width: 100%;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.object__flat {

    &-nav {
        width: 100%;
        height: 25px;
        margin-bottom: 37px;

        &--overflow-hidden {
            width: calc(100% + 40px);
            height: 100%;
            overflow: hidden;
            margin: 0 -20px;
        }
        &--scroll {
            width: 100%;
            height: calc(100% + 20px);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0 20px;
        }
    }
    &-list {
        display: flex;
        padding-right: 20px;
    }
    &-item {
        font: $font-18;
        color: #000000;
        white-space: nowrap;
        opacity: 0.5;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &_active {
            color: #ee4237;
            opacity: 1;
        }
    }
}
