@import "../../styles/modules/mixins/mixin.scss";

.flats {
    width: 100%;
    min-height: 100vh;
    padding: 40px 0 96px;
    display: flex;
    flex-flow: column;
    align-items: center;
    @media (max-width: 760px) { padding: 32px 0 64px; }

    &__title {
        width: $mobileContainer;
        max-width: $tabletContainer;
        margin: 0 0 40px;
        @media (max-width: 760px) {
            font-size: 28px;
            line-height: 28px;
            margin: 0 0 32px;
        }
    }

    &__nav {
        width: $mobileContainer;
        max-width: $tabletContainer;
        height: 48px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        @media (max-width: 760px) {
            height: auto;
            justify-content: space-between;
        }

        &-more {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 760px) {
                height: 38px;
                font: $font-16;
                margin: 0;
                transform: none;
                position: static;
            }
        }
        &-up {
            color: $col-red;
            font: $font-18;
            position: relative;
            padding-right: 20px;
            &::before {
                content: '';
                width: 12px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background: url(/assets/img/flats/red_arrow_up.svg) center no-repeat;
                transform: rotate(180deg);
            }
        }
    }

    &__show-filter {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url(/assets/img/flats/show_filter.svg) center no-repeat $col-red;
        position: fixed;
        bottom: 65px;
        right: 15px;
        z-index: 15;

        &_active {
            background-image: url(/assets/img/check.svg);
            background-size: 26px 20px;
            right: 30px;
            z-index: 110;
        }
    }

    &__sorting {
        width: 100%;
        padding: 24px 0;
        background-color: $col-white;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 0 4px;
        @media (max-width: 760px) {
            padding: 16px 0;
        }
    }
}
