<header class="header" #header
        [ngClass]="{
            'header-fixed' : isFixed,
            'header-fixed--hide' : isHidden}">

    <div class="header-loader" *ngIf="preloader"></div>
    
    <div class="header__container">
        <nav class="nav">
            <a class="header__logo" routerLink="/">
                <img src="/assets/img/jk-object/header_logo.svg" alt="logo" >
            </a>
            <ul class="nav__bar">
                <li
                    *ngFor="let link of links; let i = index">
                    <a *ngIf="link.name !== 'Избранное'"
                       class="nav__link"
                       [ngClass]="{ 'active' : checkLink(link.url) }"
                        [routerLink]="link.url">{{link.name}}</a>
                    <a *ngIf="link.name === 'Избранное'" class="nav__link-heart" [routerLink]="link.url"><img src="/assets/img/jk-object/header_heart.svg" alt="heart"><sup>{{favoriteCounter}}</sup></a>
                </li>
            </ul>
        </nav>
        <div class="header__phone"><a href="tel:+7 (499) 211 22 33">+7 (499) 211 22 33</a></div>
    </div>

</header>

<app-header-nav *ngIf="navAnchors.length"
    [isFixed]="navFixed"
    [isSided]="navSided"
    [anchors]="navAnchors"
    [pageName]="pageName">
</app-header-nav>
