<header class="header" #header
        [ngClass]="{
            'header-fixed' : isFixed,
            'header-fixed--hide' : isHidden}">

    <nav class="nav">
        <ul class="nav__bar">
            <a class="header__logo" routerLink="/">
                <img src="/assets/img/jk-object/header_logo.svg" alt="logo" >
            </a>
            <li
                *ngFor="let link of links; let i = index">
                <a *ngIf="link.name !== 'Избранное'"
                   class="nav__link"
                   [ngClass]="{
                        'active' : checkLink(link.url),
                        'hover' : hoveredLink !== -1 && hoveredLink !== i}"
                    (mouseenter)="hoveredLink = i"
                    (mouseout)="hoveredLink = -1"
                    [routerLink]="link.url">{{link.name}}</a>
                <a *ngIf="link.name === 'Избранное'" class="nav__link-heart" [routerLink]="link.url"><img src="/assets/img/jk-object/header_heart.svg" alt="heart"><sup>12</sup></a>
            </li>
        </ul>
    </nav>
    <div class="header__phone">+7 (499) 211 22 33</div>
</header>

<app-header-nav *ngIf="navAnchors.length"
    [isFixed]="navFixed"
    [isSided]="navSided"
    [anchors]="navAnchors"
    [pageName]="pageName">
</app-header-nav>
