.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    height: 77px;
    background: transparent;
    box-sizing: border-box;

    &-fixed {
        position: fixed !important;
        top: 0;
        transform: translateY(0);
        left: 0;
        width: 100%;
        z-index: 51;
        background: #fafafa;
        transition: transform 0.2s linear;

        &--hide {
            transform: translateY(-77px);
        }
    }

    &__logo {
        margin-right: 41px;
    }

    &__phone {
        color: #ee4237;
        font-size: 24px;
    }
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        padding-right: 24px;


    }
    li:last-child {
        padding-right: 0;
    }
}

.nav__link {
    font-size: 24px;
    color: #000;

    &:hover {
        color: #ee4237;

    }

    &-heart {
        position: relative;
        font-size: 24px;
        color: #000;

        sup {
            font-size: 14px;
            position: absolute;
            top: -8px;
            right: -14px;
        }

        &:before {
            content: url(/assets/img/jk-object/header_hearthover.svg);
            font-size: 14px;
            position: absolute;
            top: 1px;
            right: 0;
            display: none;

        }

        &:hover:before {
            display: block;
        }
    }
}

.active {
    color: #ee4237 !important;
}

.hover {
    opacity: 0.5;
}

