
<section class="object-storage">

    <div class="object-item__container object-storage__container">

        <a routerLink="storage" class="object-storage__item object-storage__item_storeroom">
            <h2 class="object-storage__item-title">Кладовые</h2>
            <p class="object-storage__item-descr">
                Персональные кладовые помещения — это доступный, 
                экономичный и удобный способ хранения сезонных
                и крупногабаритных вещей.
            </p>
            <p class="object-storage__item-price">от 751 300 ₽</p>
        </a>
        <a routerLink="parking" class="object-storage__item object-storage__item_parking">
            <h2 class="object-storage__item-title">Машиноместа</h2>
            <p class="object-storage__item-descr">
                Продлите срок жизни вашего автомобиля и обезопасьте 
                его от угона. Приобретите машиноместо в подземном паркинге
            </p>
            <p class="object-storage__item-price">от 410 000 ₽</p>
        </a>
    </div>
</section>