<app-admin-modal [formValid]="form.valid" (closeModal)="close($event)">

    <h1 class="location__title">Настройка «Местоположения»</h1>
    <form [formGroup]="form">
        <div class="location__info" [class.location__info--disable]="!data.get('show').value" formArrayName="location" *ngFor="let data of form.get('location')['controls']; let i = index">
            <ng-container formGroupName="{{i}}">
                <div class="location__wrapper">
                    <h2 class="location__info-title">{{data.get('name').value}}</h2>
                    <label class="location__delete"><input hidden type="checkbox" formControlName="show">{{data.get('show').value ? 'Выключить' : 'Включить'}}</label>
                </div>
                <div class="form">
                    <div class="form-item">
                        <input type="text" class="form-input info-input" formControlName="coords" appSlideTopLabel>
                        <label class="form-label info-suptitle">Координаты объекта</label>
                    </div>
                    <a href="https://yandex.ru/maps/?text={{objectName}}" target="_blank" class="location__coords">Узнать координаты</a>
                </div>
                <div class="location__helper">
                    <label class="btn  btn--location">Загрузить фото
                        <input style='display: none;' type="file" placeholder="Upload file" accept=".jpg" (change)="imageUpload($event, i)">
                    </label>
                    <p class="location__hint">Загрузите фото для маркера на карте</p>
                </div>
                <div class="location__wrap" *ngIf="data.get('thumbnail').value">
                    <button class="button__delete" (click)="delImage(i)"><img class="location__img" src="/assets/img/jk-object/admin-modal/tab_delete.svg" alt="delete"></button>
                    <img class='bg-img' [src]="uploadsPath + data.get('thumbnail').value" alt="image" width="164" height="108">
                </div>
            </ng-container>
        </div>
    </form>

</app-admin-modal>
