@import '../../../../../../../styles/modules/mixins/mixin';

.storage-modal {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: $col-white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 57px 0 0;
    z-index: 99;

    &__container {
        width: 100%;
        height: 100%;
        min-height: 550px;
        position: relative;
        box-sizing: border-box;
        background-color: $col-white;
        padding: 0 24px 24px;
    }

    &__btn {
        width: 100%;
        height: 57px;
        display: flex;
        align-items:center;
        justify-content: flex-end;
        background-color: $col-white;
        box-sizing: border-box;
        position: fixed;
        top: 0; left: 0;
        padding: 0 20px;
        z-index: 1;
        
        &-cls {
            border-radius: 0;
            transform: translateX(10px);
        }
    }

    &__name {
        font: 24px/29px $font-proba;
        color: $col-black;
        margin: 0 0 8px;
    }
    &__image {
        width: 100%;
        height: 58.125vw;
        margin: 0 0 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__list {
        font: $font-18;
        color: $col-black;
        margin: 0 0 24px;

        &-item {
            width: 100%;
            padding: 8px 0;
            border-bottom: 1px solid $col-border;
            display: flex;
            justify-content: space-between;
            &> span:last-child { color: $col-black-5; }
        }
    }

    &__btns {
        @include container();
        position: absolute;
        bottom: 24px; left: 20px;

        &-reserve {
            width: 100%;
            margin: 0 0 12px;
        }
        &-credit { width: 100%; }
    }
}
