@import "../../../../styles/modules/mixins/mixin";

.object-trigger {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 64px;

    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item {
        width: 340px;
        height: 160px;
        background-color: $col-white;
        transition: background-color .2s linear;
        box-sizing: border-box;
        padding: 16px 24px;
        cursor: pointer;
        position: relative;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
        margin: 0 0 24px;
        &:last-child,
        &:nth-last-child(2) { margin: 0; }
        
        &-text {
            font: 18px/23px $font-proba;
            color: $col-black;
    
            &_for-space { color: $col-black-5; }
            &_price {
                position: absolute;
                bottom: 16px;
                left: 24px;
    
                span {
                    font-size: 48px;
                    line-height: 58px;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .object-trigger {

        &__container {
            justify-content: flex-start;
            align-items: center;
            flex-flow: column;
        }
        &__item {
            max-width: 100%;
            margin: 0 0 16px;
            &:last-child,
            &:nth-last-child(2),
            &:nth-child(2) { margin: 0 0 16px; }
        }
    }
}