
<section class="object-trigger">

    <div class="object-item__container object-trigger__container">

        <div class="object-trigger__item object-trigger__item_stud" *ngFor="let item of triggers; let i = index">
            <p class="object-trigger__item-text">{{i === 0 ? 'Студии' : i + ' комнатные'}}</p>
            <p class="object-trigger__item-text object-trigger__item-text_for-space">({{item.space}})</p>
            <p class="object-trigger__item-text object-trigger__item-text_price">
                от 
                <span>{{item.price}}</span> 
                млн &#8381;
            </p>
        </div>
    </div>
</section>