<div class="search">

    <app-search-form
        [showChess]="showChess"
        [chessHeight]="chessHeight"
        (formChange)="formChange($event)"
        (sortChange)="sortChange($event)">
    </app-search-form>

    <ng-content></ng-content>

    <div class="search__main">

        <app-search-output
            [flatsList]="outputFlatsList"
            [count]="count"
            (loadMore)="loadMore(true)"
            [showMore]="isLoadMoreBtn">
        </app-search-output>
    </div>
</div>

