@import '../../../../../../styles/modules/mixins/mixin';

.parking-schema {
    width: 100%;
    min-height: calc(100vh - 93px);
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    padding: 77px 0 0;

    &__container {
        width: 100%;
        max-width: 1104px;
    }
    &__nav {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        margin: 0 0 24px;

        &-container {
            width: 100%;
            max-width: (1280px - 64px);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-back {
            @include back-link;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 24px;
        height: 20px;

        &-item {
            font: $font-18;
            color: $col-black;

            &+ p { margin-left: 16px; }
            &--space { color: $col-black-5; }
        }
    }
    &__plan {
        width: 100%;
        height: 600px;
        box-sizing: border-box;
        text-align: center;

        svg {
            height: 69vh;
            min-height: 270px;
        }
    }
}

.parking-floor {
    &_description {
        position: relative;

        &_scheme {
            display: flex;

            svg {
                height: 69vh;
                min-height: 270px;
            }
        }
    }
}

.flat-mod {
    cursor: pointer;

    &:hover path, &:hover polygon, &:hover polyline, &:hover rect {
        fill: #cda571;
    }
}

.flat-mod--available path, .flat-mod--available polygon, .flat-mod--available polyline, .flat-mod--available rect {
    fill: #f2e7d5;
}

.flat-mod--out-of-stock path, .flat-mod--out-of-stock polygon, .flat-mod--out-of-stock polyline, .flat-mod--out-of-stock rect {
    fill: #d8d8d8;
}
