<section class="dynamic-header">

    <p class="dynamic-header__start">{{description}}</p>

    <ul class="dynamic-header__months">
    
        <li *ngFor="let item of monthArray; let i = index; let last = last"
            [ngClass]="{
                'dynamic-header__months-item_disabled': item.disabled,
                'dynamic-header__months-item_current': (i + 1) == month
            }"
            (click)="monthChange.emit(i + 1)"
            class="dynamic-header__months-item">
            {{item.name}}
        </li>
    
    </ul>

    <div class="dynamic-header__years">
        <div class="dynamic-header__years-active" (click)="tooltipYear = true">{{year}}</div>
        
        <div class="dynamic-header__years-tooltip" *ngIf="tooltipYear">

            <ul class="dynamic-header__years-list">
                <li class="dynamic-header__years-cls" (click)="tooltipYear = false"></li>
    
                <ng-container *ngIf="!isAuthorizated">
    
                    <li *ngFor="let item of visibleYears"
                        [ngClass]="{
                            'dynamic-header__years-item_active': item == year
                        }"
                        (click)="yearChange.emit(item); monthParser(item)"
                        class="dynamic-header__years-item">
                        {{item}}
                    </li>
                </ng-container>
                <ng-container *ngIf="isAuthorizated">
    
                    <li *ngFor="let item of yearsArray"
                        [ngClass]="{
                            'dynamic-header__years-item_active': item == year
                        }"
                        (click)="yearChange.emit(item); monthParser(item)"
                        class="dynamic-header__years-item">
                        {{item}}
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    
</section>
