<section class="news">
    <div class="news__container">
        <h1 class="news__title">Новости</h1>

        <nav class="news__nav">
            <ul class="news__nav-list">
                <li routerLink="/news-shares/all" [routerLinkActive]="['active']" class="news__nav-item">Все</li>
                <li routerLink="/news-shares/news" [routerLinkActive]="['active']" class="news__nav-item">Новости</li>
                <li routerLink="/news-shares/shares" [routerLinkActive]="['active']" class="news__nav-item">Акции</li>
            </ul>
        </nav>

        <app-news-shares-all-items
            [snippets]="snippets">
        </app-news-shares-all-items>

    </div>
</section>
