
<section class="object-project">

    <div class="object-item__container object-members__container">

        <div class="object-project__head">
            <h2 class="object-project__head-title">Посмотрите другие проекты</h2>
        </div>
    </div>

    <div class="object-item__container object-members__container object-members__container_disabled">
        <div class="object-project__slider">

            <button class="object-project__slider-all btn-empty">Все проекты</button>
            <button (click)="prevBtn()" *ngIf="currentSlide > 0"
                class="object-project__slider-btn object-project__slider-btn_prev btn-slider btn-slider_prev btn-slider_white">
                <span></span>
            </button>
            <button (click)="nextBtn()" *ngIf="currentSlide + 3 < mockProject.length"
                class="object-project__slider-btn object-project__slider-btn_next btn-slider btn-slider_next btn-slider_white">
                <span></span>
            </button>

            <div class="object-project__slider-item slider-list" [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 282 ) ) + 'px)') }">
                
                <div class="slider-list__wrap">

                    <ng-container *ngFor="let snippet of mockProject; let i = index">
    
                        <div class="slider-list__item"
                            [ngClass]="{'current-slide': currentSlide === i }">
        
                            <div class="slider-list__image">
                                <img src="{{snippet.image}}" alt="news-image">
                            </div>
                            <p class="slider-list__title">{{snippet.title}}</p>
                            <p class="slider-list__info">{{snippet.info}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>