@import "../../../../styles/modules/mixins/mixin";

.object-members {
    width: 100%;
    display: flex;
    justify-content: center;
    &--margin { margin-bottom: 96px; }

    &__title { margin: 0 0 32px; }

    &__wrap {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        &_members {
            display: block;
            width: auto;
            max-width: 205px;
            margin-right: 40px;
        }
    }
    &__text {
        display: block;
        font: 18px/24px $font-proba;
        color: $col-red;
        margin: 0 0 8px;
        
        &_black { color: $col-black }
        &_for-title {
            font-size: 16px;
            line-height: 24px;
            color: $col-black-5;
        }
    }
}

@media (max-width: 767px) {

    .object-members {
        &--margin { margin: 0 0 64px; }
        

        &__title { margin: 0; }
        &__wrap_members {
            margin: 24px 24px 0 0;
        }
    }
}