@import '../../../../../../styles/modules/mixins/mixin';

.dynamic-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &_active {
        display: flex;
    }

    &__cls-btn {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0; right: 0;
        z-index: 100;
    }

    &__wrap {
        width: calc(100% - 40px);
        height: 80%;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto;
    }

    &__slide {
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        transition: opacity .2s linear;
        opacity: 0 !important;
        &.dynamic-slider-current {
            opacity: 1 !important;
        }

        &> img { width: 100%; }
    }

    &__btn {
        position: absolute;
        top: calc(50% - 20px);
        border-radius: 50%;
        z-index: 50;

        &_left { left: -40px - 35px; }
        &_right { right: -40px - 35px; }
    }
    &__text {
        font: 18px/23px $font-proba;
        color: $col-black;
        position: absolute;
        bottom: -44px;

        &-title { left: 0; }
        &-month { right: 0; }
    }
}