<section class="news">
    <div class="news__container">
        <h2 class="news__title">Новости</h2>

        <button class="btn-admin-2 btn-admin-2--settings" (click)="createSnippet()" *ngIf="isAuthorizated">Добавить новость</button>

        <nav class="news__nav">
            <ul class="news__nav-list">
                <li routerLink="/news-shares/all" [routerLinkActive]="['active']" class="news__nav-item">Все</li>
                <li routerLink="/news-shares/news" [routerLinkActive]="['active']" class="news__nav-item">Новости</li>
                <li routerLink="/news-shares/shares" [routerLinkActive]="['active']" class="news__nav-item">Акции</li>
            </ul>
        </nav>

        <app-news-list class="news__snippets-list"
            (deleteSnippet)="deleteSnippet($event)"
            (redactSnippet)="redactSnippet($event)"
            (updateSnippet)="updateSnippet($event)"
            [isAuthorizated]="isAuthorizated"
            [snippetsArray]="snippetsArray">
        </app-news-list>

    </div>
</section>

<!-- форма создания новости -->
<app-news-create-redact-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange($event)"
    [snippetsArray]="snippetsArray"
    [redactId]="redactId"
    (close)="isCreateRedactForm  = false; windowScrollLocker.unblock()"
    [isForm]="isCreateRedactForm">
</app-news-create-redact-form>

<!-- форма удаления новости -->
<app-news-delete-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange($event)"
    (close)="isDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="snippetsArray"
    [redactId]="redactId" [isForm]="isDeleteForm">
</app-news-delete-form>

