<section class="object-builder" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="project__wrap">
        <input type="checkbox" name="switch" id="builder-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
        <label *ngIf="isAuthorizated" for="builder-switch" class="object-item__title">{{objectName}}</label>
    </div>

    <ng-container *ngIf="switchOn">

        <div class="object-item__container">

            <h2 *ngIf="!isAuthorizated">{{objectName}}</h2>

            <button *ngIf="isAuthorizated" class="btn__admin-content btn_var-2 object-builder__admin-btn" (click)="closeModal = false">Контент</button>

            <div class="object-builder__social" *ngIf="snippet.created_at">
                <a class="object-builder__social-item" target="_blank" [href]="snippet.socials.vk" *ngIf="snippet.socials.vk">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                        <g fill="none" fill-rule="evenodd">
                            <path class="object-builder__social-item_for-hover" fill="#000" d="M28.564 16.745c.132-.43 0-.745-.629-.745h-2.078c-.529 0-.772.273-.905.573 0 0-1.056 2.512-2.554 4.143-.484.473-.705.623-.969.623-.132 0-.323-.15-.323-.58v-4.014c0-.515-.154-.745-.594-.745h-3.267c-.33 0-.529.24-.529.466 0 .488.75.6.826 1.975v2.984c0 .654-.12.773-.385.773-.705 0-2.419-2.523-3.435-5.41-.2-.561-.4-.788-.93-.788h-2.08c-.593 0-.712.273-.712.573 0 .537.705 3.199 3.281 6.72C15 25.696 17.42 27 19.621 27c1.321 0 1.485-.29 1.485-.788v-1.817c0-.58.125-.695.543-.695.309 0 .837.15 2.07 1.31 1.41 1.374 1.642 1.99 2.435 1.99h2.078c.594 0 .891-.29.72-.86-.187-.57-.86-1.396-1.753-2.375-.485-.559-1.212-1.16-1.432-1.46-.308-.387-.22-.558 0-.902 0 0 2.533-3.477 2.797-4.658"/>
                        </g>
                    </svg>
                </a>
                <a class="object-builder__social-item" target="_blank" [href]="snippet.socials.inst" *ngIf="snippet.socials.inst">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                        <g fill="none" fill-rule="evenodd">
                            <g class="object-builder__social-item_for-hover" fill="#000" transform="translate(14 14)">
                                <path d="M9.616 0c1.872 0 2.55.195 3.235.561a3.816 3.816 0 0 1 1.588 1.588c.366.684.561 1.363.561 3.235v4.232c0 1.872-.195 2.55-.561 3.235a3.816 3.816 0 0 1-1.588 1.588c-.684.366-1.363.561-3.235.561H5.384c-1.872 0-2.55-.195-3.235-.561A3.816 3.816 0 0 1 .56 12.851C.195 12.167 0 11.488 0 9.616V5.384c0-1.872.195-2.55.561-3.235A3.816 3.816 0 0 1 2.149.56C2.833.195 3.512 0 5.384 0h4.232zM7.5 3.6a3.9 3.9 0 1 0 0 7.8 3.9 3.9 0 0 0 0-7.8zm4.2-1.2a.9.9 0 1 0 0 1.8.9.9 0 0 0 0-1.8z"/>
                                <circle cx="7.5" cy="7.5" r="2.5"/>
                            </g>
                        </g>
                    </svg>
                </a>
                <a class="object-builder__social-item" target="_blank" [href]="snippet.socials.fb" *ngIf="snippet.socials.fb">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                        <g fill="none" fill-rule="evenodd">
                            <path class="object-builder__social-item_for-hover" fill="#000" transform="translate(14, 13)" d="M13.2142857,0 L1.78571429,0 C0.8,0 0,0.8 0,1.78571429 L0,13.2142857 C0,14.2 0.8,15 1.78571429,15 L13.2142857,15 C14.2,15 15,14.2 15,13.2142857 L15,1.78571429 C15,0.8 14.2,0 13.2142857,0 Z M12,5.83333333 L11.2857143,5.83333333 C10.5214286,5.83333333 10.2142857,6.01666667 10.2142857,6.56666667 L10.2142857,7.66666667 L12,7.66666667 L11.6428571,9.5 L10.2142857,9.5 L10.2142857,15 L8.42857143,15 L8.42857143,9.5 L7,9.5 L7,7.66666667 L8.42857143,7.66666667 L8.42857143,6.56666667 C8.42857143,5.1 9.14285714,4 10.5714286,4 C11.6071429,4 12,4.36666667 12,4.36666667 L12,5.83333333 Z"/>
                        </g>
                    </svg>
                </a>
            </div>

            <p class="project__description" *ngIf="snippet.created_at">{{snippet.description}}</p>

            <div class="project-indicators" *ngIf="snippet.created_at">
                <h3 class="project-indicators__title">
                    Технико-экономические показатели
                </h3>
                <div class="indicators__grid-container">
                    <div class="indicators__grid-item" *ngFor="let item of snippet.indicators">
                        <p class="project-indicators__key">{{item.text}}</p>
                        <p class="project-indicators__value">{{item.value}}</p>
                    </div>

                    <ng-container *ngIf="snippet.createdIndicators && snippet.createdIndicators.length > 0">
                        <div class="indicators__grid-item" *ngFor="let createdItem of snippet.createdIndicators">
                            <div class="project-indicators__key">{{createdItem.name}}</div>
                            <div class="project-indicators__value">{{createdItem.value}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>

    </ng-container>

</section> 

<app-objects-item-project-admin *ngIf="!closeModal"
    [id]="objectId"
    [(snippet)]="snippet"
    (closeModal)="closeModal = $event">
</app-objects-item-project-admin>
