
<section class="object-dynamic">

    <div class="object-dynamic__back">
        <a [routerLink]="'/objects/list/' + objectId" class="object-dynamic__back-btn btn-empty" *ngIf="jk">ЖК {{jk.name}}</a>
    </div>

    <div class="object-dynamic__container">

        <h2 class="object-dynamic__title" *ngIf="jk">Фотоотчет ЖК {{jk.name}}</h2>
        <button *ngIf="isAuthorizated" class="btn__admin-setting" (click)="closeTabsModal = false">Настройки</button>

        <nav class="object-dynamic__nav">
            <!--<ul class="object-dynamic__nav-list">-->
                <!--<li class="object-dynamic__nav-item" (click)="changeTab('process')" *ngIf="tabSnippet?.dynamic && tabSnippet.dynamic[0].show"-->
                    <!--[class.object-dynamic__nav-item_active]="active === 'process'">Ход строительства</li>-->
                <!--<li class="object-dynamic__nav-item" (click)="changeTab('ready')" *ngIf="tabSnippet?.dynamic && tabSnippet.dynamic[1].show"-->
                    <!--[class.object-dynamic__nav-item_active]="active === 'ready'">Готовые дома</li>-->
            <!--</ul>-->
            <nav-menu
                [navList]="navList"
                [linkType]="'else'"
                (routeNavigate)="changeTab($event)"
            ></nav-menu>
        </nav>

        <ng-container *ngIf="tabSnippet?.dynamic && (tabSnippet.dynamic[0].show || tabSnippet.dynamic[1].show)">

            <div class="object-dynamic__date">
                <!-- Раздел с выбором месяца и года -->
                <app-object-dynamic-date *ngIf="active === 'process'"
                    (monthChange)="monthChange($event)"
                    (yearChange)="yearChange($event)"
                    [month]="currentMonth"
                    [year]="currentYear"
                    [objectId]="objectId"
                    [description]="tabSnippet.dynamic[0].description">
                </app-object-dynamic-date>
            </div>

            <div class="object-dynamic__content">

                <div class="object-dynamic__content-gallery">

                    <button *ngIf="isAuthorizated" class="btn__admin-content btn_var-2"
                        (click)="closeContentModal = false">Контент</button>

                    <!-- Раздел с изображениями динамики -->
                    <app-object-dynamic-gallery
                        [isAuthorizated]="isAuthorizated"
                        [tempArray]="objectsArray"
                        [month]="currentMonth"
                        [year]="currentYear">
                    </app-object-dynamic-gallery>

                    <div class="object-dynamic__month-switcher">
                        <!-- *ngIf="objectsArray.length" [objectsArray]="objectsArray" -->
                        <app-object-dynamic-month-switcher *ngIf="active === 'process'"
                            (monthChange)="monthChange($event)"
                            [month]="currentMonth"
                            [year]="currentYear"
                            [objectId]="objectId">
                        </app-object-dynamic-month-switcher>
                    </div>
                </div>

                <div class="object-dynamic__content-schema">
                    <!-- Раздел схемы корпусов(навигация) -->
                    <app-object-dynamic-schema
                        [isAuthorizated]="isAuthorizated"
                        [objectsArray]="objectsArray">
                    </app-object-dynamic-schema>
                </div>
            </div>

        </ng-container>

    </div>
</section>

<app-dynamic-admin-settings *ngIf="!closeTabsModal"
    [id]="objectId"
    [snippet]="tabSnippet"
    (snippetChange)="tabSnippet = $event"
    (closeModal)="closeTabsModal = $event">
</app-dynamic-admin-settings>

<app-dynamic-admin-content *ngIf="!closeContentModal"
    [id]="objectId"
    [year]="currentYear"
    [month]="currentMonth"
    [snippet]="contentSnippet"
    (snippetChange)="setContent($event)"
    (closeModal)="closeContentModal = $event">
</app-dynamic-admin-content>
