@import "../../../../../../styles/modules/mixins/mixin";

:host {
    position: absolute;
    top: auto;
    right: calc((100% - 1280px + 64px) / 2);
}

.floor__slider {
    width: 48px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;

    &-btn_up {
        transform: rotate(-90deg);
        margin: 0 0 12px;
    }
    &-btn_down {
        transform: rotate(-90deg);
        margin: 12px 0 0;
    }


    &-text {
        font: 500 16px/23px $font-mus;
        @include font-smoothing;
        color: $col-black;
    }

    &_hidden {
        width: 48px;
        height: 48px;
        overflow: hidden;
        position: relative;
    }
    &-list {
        font: 48px/48px $font-text;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transition: .2s linear;
    }
    &-item {
        text-align: center;
        padding: 7px 0 0;
        height: 48px;
        box-sizing: border-box;
    }
}
