<div class="career__container" [class.career__container--margin]="switchOn || isAuthorizated">

    <div class="career__wrapper" [class.career__head]="switchOn">
        <input type="checkbox" name="switch" id="career1" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
        <label for="career1" class="career__label" *ngIf="isAuthorizated">Карьера</label>
    </div>

    <ng-container *ngIf="switchOn">

        <h2 class="career__title" *ngIf="!isAuthorizated">Карьера</h2>

        <div class="career__options" *ngIf="isAuthorizated">
            <a class="btn btn--settings" (click)="closeModal = false">Настройки</a>
        </div>

        <div class="career__wrap" *ngIf="snippet?.data">
            <ng-container *ngFor="let block of snippet.data">
                <div class="career__item" *ngIf="block.show">
                    <p class="career__prof">{{block.name}}</p>
                    <a href="{{block.url}}" target="_blank" class="career__link">{{block.text}}</a>
                </div>
            </ng-container>
        </div>

    </ng-container>
</div>

<app-about-career-admin *ngIf="!closeModal"
    [(snippet)]="snippet"
    (closeModal)="closeModal = $event">
</app-about-career-admin>
