@import "../../../styles/modules/mixins/mixin";

.career__container {
    margin:  auto;
    width: 1280px;
    box-sizing: border-box;

    &--margin {
        padding: 96px 88px 0;
    }
}

.career__head {
    margin: 0 0 16px;
}

.btn {

    padding: 10px 16px ;
    background: #ee4237;
    color: #fff;
    font-size: 18px;
    outline: none;
    font-family: inherit;
    border:none;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background: #ee534a
    }
    &::before {
        content:url(/assets/img/jk-object/content_icon.svg);
        margin-right:5px ;
    }
}

.btn--settings {
    background: #454545;
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }
    &::before {
        content:url(/assets/img/jk-object/settings.svg);
        margin-right:5px ;
    }
}
.switch {
    display: none;
}
.career__label {
    display: block;
    font: 36px/43px $font-proba;
    color: $col-black;
    position: relative;
    padding-left: 40px;
    transform: translateX(-40px);
}
.career__label::after {
    content: '';
    width: 32px;
    height: 20px;
    background: #787878 ;
    position: absolute;
    border-radius: 20px;
    top: 7px;
    left: 0;
    z-index: 1;

}
.career__label::before {
    content: '';
    width: 16px;
    height: 16px;
    background: #fff ;
    position: absolute;
    border-radius: 50%;
    top: 9px;
    left: 3px;
    z-index: 2;
    cursor: pointer;
    transition: .3s;
}
.switch {
    display: none;

    &:checked + .career__label {
        &::before { left: 13px; }
        &::after { background: #ee4237; }
    }
}


.career__title {
    font-size: 36px;
    margin-bottom: 32px;
    line-height: 1.25;
}

.career__options {
    margin: 0 0 16px;
}

.career__wrap {
    display: grid;
    grid-template-columns: 352px 352px;
    grid-row-gap: 24px;
}
.career__prof {
    font-size: 24px;
    line-height: 1.25;
}
.career__link {
    color: #ee4237;
    font-size: 18px;
    line-height: 1.25;
    margin-top: 8px;
}
