<section class="about" #container>

    <app-about-product id="product"></app-about-product>

    <app-about-functions id="functions"></app-about-functions>

    <div style="height: 600px; opacity:0;"></div>

    <div class="helper" #helper>

        <app-about-stage id="stage"></app-about-stage>

        <app-about-team id="team" [isAuthorizated]="isAuthorizated"></app-about-team>

        <app-about-career id="career" [isAuthorizated]="isAuthorizated"></app-about-career>

        <app-home-news id="about-news" [pageName]="'about'"></app-home-news>

        <app-about-documentation id="docs" [isAuthorizated]="isAuthorizated"></app-about-documentation>

    </div>

</section>
