<div class="list">
    <div class="list__head">
        <h3 class="list__title">В стоимость включено:</h3>
        <ul class="list__default">
            <li class="list__item">
                <div class="list__item-default">
                    <p class="list__item-title">
                        Кухня со встроенной техникой
                    </p>
                    <div class="list__tooltip">
                        <span class="list__tooltip-content">
                            <h4 class="list__tooltip-title">Включает в себя</h4>
                            <ul class="list__tooltip-list">
                                <li class="list__tooltip-item">Кухонный комплект</li>
                                <li class="list__tooltip-item">Варочная панель</li>
                                <li class="list__tooltip-item">Духовой шкаф</li>
                                <li class="list__tooltip-item">Холодильник</li>
                                <li class="list__tooltip-item">Вытяжка</li>
                                <li class="list__tooltip-item">Мойка и кухонный смеситель</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <p class="list__item-value">464 555 ₽</p>
            </li>
        </ul>
    </div>
    <div class="list__toggle-options">
        <h3 class="list__title">Предметы мебели (опционально):</h3>

        <!-- При включении предметов мебели вешаем активный класс на кнопку -->
        <!-- class: list__switch--active -->
        <button class="list__switch list__switch--active"></button>
    </div>
    <div class="list__toggle-content">
        <ul class="list__options">
            <li class="list__item">
                <label class="list__item-checkbox">
                    <input type="checkbox">
                    <div class="input-invalid"></div>
                    <span class="list__item-title">Кровать 2 сп. изг. прямоуг. (1600мм)</span>
                </label>
                <p class="list__item-value">+ 39 224 ₽</p>
            </li>
            <li class="list__item">
                <label class="list__item-checkbox">
                    <input type="checkbox">
                    <div class="input-invalid"></div>
                    <span class="list__item-title">Тумба 2 ящ</span>
                </label>
                <p class="list__item-value">+ 7 800 ₽</p>
            </li>
            <li class="list__item">
                <label class="list__item-checkbox">
                    <input type="checkbox">
                    <div class="input-invalid"></div>
                    <span class="list__item-title">Комод 4 ящ</span>
                </label>
                <p class="list__item-value">+ 14 400 ₽</p>
            </li>
            <li class="list__item">
                <label class="list__item-checkbox">
                    <input type="checkbox">
                    <div class="input-invalid"></div>
                    <span class="list__item-title">Зеркало навесное</span>
                </label>
                <p class="list__item-value">+ 12 903 ₽</p>
            </li>
            <li class="list__item">
                <label class="list__item-checkbox">
                    <input type="checkbox">
                    <div class="input-invalid"></div>
                    <span class="list__item-title">Шкаф 4 дв</span>
                </label>
                <p class="list__item-value">+ 78 020 ₽</p>
            </li>
        </ul>
        <div class="list__total">
            <p class="list__title">Итоговая стоимость меблировки</p>
            <b class="list__total-value">589 599 ₽</b>
        </div>
    </div>
</div>
