@import "../../styles/modules/mixins/mixin";

.input-invalid {
    border-color: $col-red !important;
    &+ label + p { color: $col-red !important; }
}

.disabled-submit-btn {
    opacity: .5;
    cursor: not-allowed !important;
}

.form-modal {
    padding: 60px 0;
    box-sizing: border-box;
    align-items: center;
    &_credit { align-items: flex-start; }
    
    &__close-area {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
}


.form-request {
    width: 964px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 48px 94px;
    position: relative;
    z-index: 20;

    &__cls-btn {
        position: fixed;
        top: 64px;
        right: calc(((100% - 964px) / 2) - (22px + 48px));
        z-index: 11;
    }

    &__title { margin: 0 0 54px; }
    &__notice {
        font: $font-14;
        color: $col-black-5;
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
    }

    &__wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        position: relative;
        margin: 0 0 46px;

        &_size-w2 { width: 509px; }
        &_size-w3 { width: 242px; }
        &_last { margin: 0; }
        &_areas {
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0;
            margin: 0 0 71px;
        }
    }

    &__checkbox { margin: 0 0 40px; }
    
    &__btn {
        width: 166px;
        height: 48px;
    }
}

.time-input-active {
    pointer-events: auto !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-confirm {
    position: absolute;
    width: 928px;
    height: 198px;
    padding: 48px 64px;
    z-index: 20;
    border-radius: 16px;
    background: $col-white;
    box-sizing: border-box;

    &__modal {
        padding: 60px 0;
        box-sizing: border-box;
        align-items: center;
        z-index: 1000;

        &__close-area {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
        }
    }
    &__cls-btn {
        position: absolute;
        top: 0;
        right: -80px;
        z-index: 11;
    }

    &__title {
        font: 34px/43px $font-proba;
        @include font-smoothing;
        color: $col-black;
        margin: 0 0 16px;
    }

    &__subtitle {
        font: 18px/26px $font-proba;
        color: rgba(0, 1, 5, 0.8);
    }
}
