@import "../../../../styles/modules/mixins/mixin";
$font: 15px/19px 'Montserrat', sans-serif;
$color: #ffffff;
$color2: #1c1c1c;
$color3: #606060;
$color4: #888aa1;
$required-input : #ffb3b3;

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.g-modal-bg {
    padding: 60px 0;
    box-sizing: border-box;
}

.admin-news_progress-loader {
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font: 15px 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    flex-direction: column;

    &-title {
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &-line {
        width: 200px;
        height: 15px;
        border: 1px solid white;
        box-sizing: border-box;
        position: relative;
        margin-top: 20px;
    }

    &-inner {
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: white;
        box-sizing: border-box;
        transition: .2s;
    }
}

.submit-btn-disabled {
    cursor: not-allowed !important;
    background: lightgray !important;
    box-shadow: none !important;
    position: relative;

    &:after {
        content : 'Не заполнены обязательные поля!';
        font: 15px 'Arial', sans-serif;
        position: absolute;
        white-space: nowrap;
        left: 120%;
        color: $required-input;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: .3s;
    }

    &:hover:after {
        opacity: 1;
    }
}

.invalid-input-value {
    border-color : $col-red !important;
    & + p + p { display: block; }
}

.admin-news_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    background: rgba(38,38,38,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form {

    &__container {
        width: 1088px;
        min-height: 100px;
        border-radius: 5px;
        position: relative;
        z-index: 11;
    }
    &__cls {

        &-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            z-index: 10;
        }

        &-btn,
        &-success {
            position: absolute;
            right: -60px;
            top: 0;
            cursor: pointer;
        }
        &-success { top: 56px; }

        &-preview {
            width: 17px;
            height: 17px;
            position: absolute;
            top: -8.5px;
            left: -8.5px;
            border-radius: 50%;
            background-color: $col-red;
            display: flex;
            justify-content: center;

            span {
                display: block;
                width: 7px;
                height: 1px;
                position: relative;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8.5px;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }
                &::before { transform: rotate(45deg); }
                &::after { transform: rotate(-45deg); }
            }
        }
    }
    
    &__form {
        width: 916px;
        box-sizing: border-box;
        padding: 48px 70px;
        background-color: $col-white;
        position: relative;

        &-title {
            width: 100%;

            &_in-path { margin: 0 0 32px; }
            &_out-path { margin: 0 0 16px; }
            &_for-input {
                font: 18px/23px $font-proba;
                color: $col-black-5;
                position: absolute;
                top: 24px;
                left: 0;
                transition: top .2s linear, font-size .2s linear, line-height .2s linear;
                user-select: none;
                margin: 0;
                pointer-events: none;
            }
            &_placeholder {
                font-size: 14px;
                line-height: 18px;
                top: 0;
            }
            &_error {
                display: none;
                position: absolute;
                top: calc(100% + 4px);
                left: 0;
                color: $col-red;
            }
            &_for-photo,
            &_for-datepicker,
            &_for-select {
                @extend .create-form__form-title_for-input;
                position: static;
            }
            &_for-photo { width: 50%; }
        }
        &-wrap {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            &_margin {
                margin-top: 15px;
            }
            &_path {
                width: 100%;
                flex-flow: row wrap;
                justify-content: space-between;
                background-color: #efefef;
                padding: 16px 24px 32px;
                box-sizing: border-box;
                position: relative;
                margin: 0 0 8px;
            }
            &_main { margin: 0 0 40px; }
            &_input {
                position: relative;
                padding: 18px 0 0;
                margin: 0 0 24px;
            }
    
            &_full { width: 100%; }
            &_w2   { width: calc(50% - 12px); }
            &_w3   { width: calc(33.333% - 8px); }

            &_datepicker {
                padding: 0;
                margin: 0 0 24px;
            }
            &_select {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    width: 20px;
                    height: 20px;
                    background: url(/assets/img/btn_next_grey.svg) center no-repeat;
                    transform: rotate(-90deg) translateY(-50%);
                }
            }
            &_photo {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin: 0 0 25px;
            }

            &_image-preview {
                width: 164px;
                height: 108px;
                margin: 16px 0 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &_controls {
                display: flex;
                flex-flow: row nowrap;
                margin: 0 0 48px;
            }

            &_checkbox--disabled {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        &-area {
            width: 100%;
            height: 35px;
            min-height: 35px;
            box-sizing: border-box;
            overflow: hidden;
            padding: 4px 0 8px;
            font: 18px/23px $font-proba;
            color: $col-black;
            border: 0;
            border-bottom: 1px solid $col-black-5;
            background-color: transparent;
            transition: border-bottom .2s linear;
            &:focus {
                border-bottom: 2px solid $col-black;
                &+ p {
                    top: 0;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            &_datepicker {
                overflow: visible;
                padding: 0;
            }
        }

        &-select {
            width: 100%;
            font: 18px/23px $font-proba;
            padding: 4px 0 8px;
            color: $col-black;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid $col-black-5;
            background-color: transparent;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        &-img { margin-right: 8px; }
        &-btn {
            height: 35px;
            display: flex;
            align-items: center;
            padding: 0 16px 0 40px;
            background: 16px 50% no-repeat #454545;
            font: 18px/23px $font-proba;
            color: $col-white;
            cursor: pointer;
            &:not(.create-form__form-btn_controls-images),
            &:not(.create-form__form-btn_preview-image) {
                margin-right: 8px;
            }

            &_preview-image { background-image: url(/assets/img3red/news_shares/camera.svg); }
            &_controls {
                &-title  { background-image: url(/assets/img3red/news_shares/title.svg); }
                &-text   { background-image: url(/assets/img3red/news_shares/text.svg); }
                &-image  { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIDAgMTggMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUwLjIgKDU1MDQ3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5SZWN0YW5nbGUgMzMgQ29weTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSLQkNC00LzQuNC90LrQsC0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTM1LjAwMDAwMCwgLTI0NDYuMDAwMDAwKSIgc3Ryb2tlPSIjRkZGRkZGIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0zMy1Db3B5IiB4PSI1MzUuNSIgeT0iMjQ0Ni41IiB3aWR0aD0iMTciIGhlaWdodD0iMTYiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg=='); }
                &-images { background-image: url(/assets/img3red/news_shares/group_image.svg); }
            }
        }

        &-submit {
            margin-right: 8px;
            height: 48px;
        }
        &-save {
            height: 48px;
            background-color: #fff;
            padding: 0 16px 0 8px;
            color: $col-black;
            &:disabled { color: $col-black-5; }
        }
    }
}

.delete-news {

    &__modal {
        overflow: auto;
        align-items: center;
    }
    &__container {
        width: 1088px;
        min-height: 100px;
        border-radius: 5px;
        position: relative;
        z-index: 11;
    }
    &__cls-btn {
        position: absolute;
        right: -60px;
        top: 0;
        z-index: 2;
        cursor: pointer;
    }

    &__form {
        width: 100%;
        height: 100%;
        padding: 40px 35px 35px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 5px;
        position: relative;

        &-title {
            font: 42px/46px 'Leksa';
            @include font-smoothing;
            color: $col-black;
            margin: 0 0 25px;
        }
        &-text {
            @include f16-24;
            margin: 0 0 30px;
        }
        &-wrap {
            display: flex;
        }
        &-cnsl,
        &-del {
            height: 35px;
            padding: 0 16px 0 40px;
            display: flex;
            align-items: center;
            font: 18px/23px $font-proba;
            color: $col-white;
            cursor: pointer;

            &_accept {
                height: 48px;
                margin-right: 8px;
                padding: 0 24px;
            }
            &_reject {
                height: 48px;
                padding: 0 24px 0 8px;
                color: $col-black;
            }
        }
        &-cnsl {
            border: solid 1px $col-blue;
            background-color: #fff;
            color: $col-blue;
            margin: 0 0 0 20px;
        }
    }
}

.create-shares {

    &__cls {
        &-area {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &-btn,
        &-success {
            position: absolute;
            right: -60px;
            top: 0;
            z-index: 2;
        }
        &-success { top: 56px; }

        &-preview {
            width: 17px;
            height: 17px;
            position: absolute;
            display: flex;
            justify-content: center;
            top: -8.5px;
            left: -8.5px;
            border-radius: 50%;
            background-color: $col-red;

            span {
                display: block;
                width: 7px;
                height: 1px;
                position: relative;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }
                &::before { transform: rotate(45deg); }
                &::after { transform: rotate(-45deg); }
            }
        }

    }
    &__container {
        width: 916px;
        box-sizing: border-box;
        padding: 48px 70px;
        background-color: $col-white;
        position: relative;
    }

    &__typografy {

        &-title {
            width: 100%;
            margin: 0 0 24px;

            &_in-path { margin: 0 0 32px; }
            &_out-path { margin: 0 0 16px; }
        }

        &-subtitle {
            font: 18px/23px $font-proba;
            color: $col-black-5;
            position: absolute;
            top: 24px;
            left: 0;
            transition: top .2s linear, font-size .2s linear, line-height .2s linear;
            user-select: none;
            pointer-events: none;

            &_placeholder {
                font-size: 14px;
                line-height: 18px;
                top: 0;
            }
            &_preview { position: static; }
            &_add-link {
                font-size: 14px;
                line-height: 18px;
                top: 0;
                right: 0;
                left: auto;
                color: $col-red;
                text-decoration: underline;
            }
        }
        &-error {
            display: none;
            font: 14px/18px $font-proba;
            color: $col-red;
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
        }
    }

    &__wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        position: relative;

        &_path {
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
            background-color: #efefef;
            padding: 16px 24px 32px;
            box-sizing: border-box;
            position: relative;
            margin: 0 0 8px;
        }
        &_path-img2 {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &_main { margin: 0 0 40px; }
        &_input {
            position: relative;
            padding: 18px 0 0;
            margin: 0 0 24px;
        }

        &_full { width: 100%; }
        &_w2   { width: calc(50% - 12px); }
        &_w3   { width: calc(33.333% - 8px); }

        &_select {
            &::before {
                content: '';
                position: absolute;
                bottom: 10px;
                right: 0;
                width: 20px;
                height: 20px;
                pointer-events: none;
                background: url(/assets/img/btn_next_grey.svg) center no-repeat;
                transform: rotate(-90deg) translateY(-50%);
            }
        }
        &_checkbox { padding: 27px 0 0; }
        &_preview {
            flex-flow: row nowrap;
            margin: 0 0 25px;
        }
        &_btn {
            flex-flow: row nowrap;
            position: absolute;
            top: 16px;
            right: 24px;
        }
        &_elements {
            flex-flow: row nowrap;
            margin: 0 0 48px;
        }
        &_upld { flex-flow: row nowrap; }
    }

    &__input {
        width: 100%;
        min-height: 36px;
        box-sizing: border-box;
        font: 18px/23px $font-proba;
        color: $col-black;
        border: 0;
        border-bottom: 1px solid $col-black-5;
        background-color: transparent;
        transition: border-bottom .2s linear;
        &:focus {
            border-bottom: 2px solid $col-black;
            &+ p {
                top: 0;
                font-size: 14px;
                line-height: 18px;
            }
        }
        &_datepicker { padding: 0; }
        &_status {
            border-radius: 0;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        &_disabled { pointer-events: none; }
        &_area { border: none; }
    }

    &__btn {
        height: 35px;
        padding: 0 16px 0 40px;
        display: flex;
        align-items: center;
        font: 18px/23px $font-proba;
        color: $col-white;
        cursor: pointer;

        &_photo-preview {
            background: url(/assets/img3red/news_shares/camera.svg) 16px 9px no-repeat #454545;
            margin: 0 8px 16px 0;
        }
        &_path-controll {
            padding: 0;
            background: transparent;
            color: $col-black;
            margin-right: 16px;
            &:last-child { margin: 0; }
        }

        &_text,
        &_title,
        &_image { margin-right: 8px; }

        &_text  { background: url(/assets/img3red/news_shares/text.svg) 16px 50% no-repeat #454545; }
        &_title { background: url(/assets/img3red/news_shares/title.svg) 16px 50% no-repeat #454545; }
        &_flats { background: url(/assets/img3red/news_shares/flat.svg) 16px 50% no-repeat #454545; }
        &_image { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIDAgMTggMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUwLjIgKDU1MDQ3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5SZWN0YW5nbGUgMzMgQ29weTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSLQkNC00LzQuNC90LrQsC0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTM1LjAwMDAwMCwgLTI0NDYuMDAwMDAwKSIgc3Ryb2tlPSIjRkZGRkZGIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0zMy1Db3B5IiB4PSI1MzUuNSIgeT0iMjQ0Ni41IiB3aWR0aD0iMTciIGhlaWdodD0iMTYiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==') 16px 50% no-repeat #454545; }

        &_public {
            height: 48px;
            margin-right: 8px;
            padding: 0 24px;
        }
        &_save {
            height: 48px;
            padding: 0 24px 0 8px;
            color: $col-black;
        }
    }

    &__image {
        position: relative;

        &_preview {
            width: 164px;
            height: 108px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
