<div class="objects__utilities" [formGroup]="form" *ngIf="form">
    <div class="objects__utilities-helper">
        <div class="objects__utilities-lock">
            <button class="objects__utilities-search g-tooltip-area btn-empty" [class.active]="showPopUp"
                    (click)="showPopUp = true">Район
            </button>
            <div class="objects__utilities-wrap" [class.show]="showPopUp" *ngIf="showPopUp" #tooltip>
                <div class="objects__close-area" (click)="switchPopup(tooltip)"></div>
                <app-checkbox-list
                    [btnList]="btnList"
                    [formControlName]="'districts'"
                    [name]="'districts'">
                </app-checkbox-list>
            </div>
        </div>
        <div class="objects__utilities-price">
            <p class="objects__price-title">Цена</p>
            <label class="objects__price-wrap">
                <p class="objects__price-hint" [class.not-placeholder]="form.get('priceMin').value.length">от</p>
                <input type="text" class="objects__price-input" placeholder="{{minPricePlaceholder}} млн"
                    [value]="form.get('priceMin').value"
                    (input)="removeChars($event, 'priceMin')"
                    (change)="form.get('priceMin').setValue($event.target.value)">
            </label>
            <label class="objects__price-wrap">
                <p class="objects__price-hint" [class.not-placeholder]="form.get('priceMax').value.length">до</p>
                <input type="text" class="objects__price-input" placeholder="{{maxPricePlaceholder}} млн"
                    [value]="form.get('priceMax').value"
                    (input)="removeChars($event, 'priceMax')"
                    (change)="form.get('priceMax').setValue($event.target.value)">
            </label>
        </div>
    </div>
    <div class="objects__nav">
        <nav-menu
            [navList]="navList"
            [linkType]="'else'"
            (routeNavigate)="form.get('status').setValue($event)"
        ></nav-menu>
    </div>

</div>
