<section class="contacts">
    <div class="contacts__container">
        <div class="contacts__item">
            <p class="contacts__address">г. Люберцы, Новорязанское ш., д.7
                Торгово-офисный центр Гренада</p>
            <p class="contacts__route">от м. Котельники, 10 мин пешком</p>
        </div>
        <div class="contacts__item">
            <div class="contacts__phone"><a href="tel:+7 (499) 211 22 33">+7 (499) 211-22-33</a></div>
            <div class="contacts__email"><a href="mailto:info@3-red.com">info@3-red.com</a></div>
        </div>

    </div>

    <div id="map" class="contacts__map"></div>
</section>

