@import "../../../../styles/modules/mixins/mixin";

.object-documentation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 96px;

    &__head { margin: 0 0 16px; }

    &__options {
        margin: 0 0 16px;
        .btn__admin-setting { margin-right: 8px; }
    }

    &__list {
        width: 100%;

        &-item {
            display: flex;
            flex-flow: row wrap;
            padding: 16px 0;
            border-bottom: 1px solid #d8d8d8;
            &:last-child { border-bottom: 0; }
        }

        &-title {
            width: 100%;
            max-width: 612px;
            margin: 0 0 17px;
        }

        &-wrap {
            width: 100%;
            display: flex;

            &_file {
                justify-content: space-between;
                align-items: flex-start;
                margin: 0 0 12px;
                &:last-child { margin: 0; }
            }
        }

        &-file {
            display: block;
            width: 441px + 9px + 19px;
            font: 18px/23px $font-proba;
            color: $col-red;
            padding-left: 19px + 9px;
            position: relative;
            background: url(/assets/img/pdf.svg) left center no-repeat;
            background-size: 19px 23px;
        }
        &-date {
            max-width: 85px;
            font: 18px/23px $font-proba;
            color: $col-black-5;
            text-align: right;
        }
    }
}

@media (max-width: 760px) {
    .object-documentation__list-wrap_file {
        flex-flow: column-reverse nowrap;
    }
    .object-documentation__list-file {
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 23px;
    }
    .object-documentation__list-date {
        font-size: 12px;
        line-height: 14px;
        margin: 0 0 8px;
    }

    .object-documentation__btn-more {
        padding-right: 23px;
        background: url(/assets/img/jk-object/more-bank.svg) right center no-repeat;
        font: 16px/22px $font-proba;
        color: $col-red;
    }
    .object-documentation__head-title {
        font-size: 28px;
        line-height: 34px;
    }
}