@import "../../../../styles/modules/mixins/mixin";

.object-location {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__container {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    &__options {
        margin: 0 0 16px;
        .btn__admin-setting { margin-right: 8px; }
    }
    &__title { margin: 0 0 24px; }
    &__nav { margin: 0 0 16px; }
    &__address {
        margin: 0 0 24px;

        &-title {
            font: 14px/18px $font-proba;
            color: $col-black-5;
            margin: 0 0 4px;
        }
        &-name {
            font: 18px/23px $font-proba;
            color: $col-black;
        }
    }
    &__map {
        width: 100%;
        height: 500px;
        position: relative;

        &-item {
            width: 100%;
            height: 100%;
        }
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: calc(100% - 16px);
            right: 8px;
            bottom: 8px;
        }
    }
}

@media (max-width: 767px) {
    .object-location {
        margin: 0;

        &__address {
            margin: 0 0 16px;

            &-name { @include font-size(16px,19px); }
        }
        &__nav {
            width: 100%;
            height: 30px;
            position: relative;

            &-wrap {
                width: calc(100% + 40px);
                height: 40px;
                position: absolute;
                top: 0;
                left: -20px;
                overflow: hidden;
                
                &_for-scroll {
                    height: calc(100% + 20px);
                    overflow-x: scroll;
                    overflow-y: hidden;
                    padding: 0 20px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }
        }
        &__head-title { @include font-size(28px,34px); }
        &__map {
            height: 420px;

            &-link {
                //width: calc(100% - 40px);
                //right: 20px;
                //bottom: 15px;
                padding: 0;
            }
        }
    }
}
