<section class="object-location" [class.object-item--margin]="switchOn">

    <div class="object-item__container object-location__container">

        <ng-container *ngIf="switchOn">

            <h2 class="object-location__title">Местоположение</h2>

            <div class="object-location__address">
                <p class="object-location__address-title">ЖК распологается по адресу</p>
                <p class="object-location__address-name">{{objectAddress}}</p>
            </div>

            <nav class="object-location__nav">
                <div class="object-location__nav-wrap">
                    <div class="object-location__nav-wrap_for-scroll">
                        <nav-menu
                            [delay]="500"
                            [linkType]="'else'"
                            [navList]="tabSnippet.location"
                            (routeNavigate)="openTab = $event">
                        </nav-menu>
                    </div>
                </div>
            </nav>

            <app-location-infrastructure *ngIf="openTab === 'Инфраструктура' && isTabSet"
                [contentSnippet]="contentSnippet"
                [infraTab]="tabSnippet.location[2]">
            </app-location-infrastructure>
        </ng-container>
    </div>

    <div class="object-location__map" *ngIf="switchOn">

        <app-location-routes *ngIf="(openTab === 'Объект' || openTab === 'Офис продаж') && isTabSet"
            [contentSnippet]="contentSnippet"
            [routesTab]="tabSnippet.location[0]"
            [officeTab]="tabSnippet.location[1]"
            [tab]="openTab">
        </app-location-routes>

        <div id="map" class="object-location__map-item" *ngIf="isTabSet; else elseBlock"></div>
        <a href="#" class="object-location__map-link btn_var-2">Открыть Я.Карты</a>
        <ng-template #elseBlock>
            <div class="object-item__mock-img"></div>
        </ng-template>
    </div>
</section>
