
// .btn_var-1 - Первый вариант кнопки (со "срезанным" углом и фиксированной шириной)
// .btn_var-2 - Второй вариант кнопки (красная прямоугольная, красный фон)
// .btn_var-3 - Третий вариант кнопки (прозрачный фон, красный border)
// .btn-empty - кнопка без границ и фона
// .btn-slider - кнопки для слайдера (пред/след слайд)
// .btn-admin - кнопка для админки, серый фон, отступ для фоновой картинки (присваивать через background-image)
// .btn-cls - круглая белая кнопка закрытия модальных окон
// .btn-success - круглая зеленая кнопка с фоновой галочкой
// .btn__admin-content - Кнопка админка с надписью "Контент" (использовать совместно с .btn_var-2)
// .btn__admin-setting - Кнопка админка с надписью "Настройки" (использовать совместно с .btn_var-2)

// .g-checkbox/.g-radiobox - классы для чекбоксов/радиобоксов устанавликать на "label"внутри которого есть input, div, span(именно в таком порядке)

// .g-modal-bg - класс фона у модальных окон

// .g-text_small - Текстовые классы, устанавливают шрифт (font: 16px/19px $font-proba)
// .g-text_sign - Текстовые классы, устанавливают шрифт (font: 14px/18px $font-proba)


.btn_var-1,
.btn_var-2 {
    height: 48px;
    background-color: $col-red;
    font: 18px/23px $font-proba;
    color: $col-white;
    transition: background-color .2s linear;
    &:hover { background-color: $col-red_hover; }
    &:disabled { color: rgba($color: $col-white, $alpha: 0.5); }
}
.btn_var-1 {
    width: 200px;
    clip-path: polygon(100% 0, 100% 36px, 188px 100%, 0 100%, 0 0);
}
.btn_var-2 { padding: 0 24px; }

.btn_var-3 {
    height: 48px;
    padding: 0 24px;
    font: 18px/23px $font-proba;
    color: $col-black;
    border: solid 1px $col-red;
    transition: background-color .2s linear, border-color .2s linear, color .2s linear;
    &:hover {
        background-color: $col-red_hover;
        border-color: $col-red_hover;
        color: $col-white;
    }
    &:disabled { color: rgba($color: $col-black, $alpha: 0.5); }
}
.btn__admin-content,
.btn__admin-setting {
    height: 35px;
    padding: 0 16px 0 35px;
}
.btn__admin-content { background: url(/assets/img/jk-object/content_icon.svg) 16px 8px no-repeat $col-red; }
.btn__admin-setting {
    font: 18px/23px $font-proba;
    color: $col-white;
    cursor: pointer;
    background: url(/assets/img/jk-object/settings.svg) 16px 8px no-repeat #454545;
}

.btn-empty {
    font: 18px/23px $font-proba;
    color: $col-black;
    transition: color .2s linear;
    background-color: rgba($color: #000000, $alpha: 0);
    background-color: transparent;
    &:hover { color: rgba($color: $col-black, $alpha: 0.5); }
}

.btn-slider {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s linear;

    span {
        display: block;
        width: 16px;
        height: 1px;
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: background-color .2s linear;
        }
    }
    &_next {
        span::before,
        span::after {
            transform-origin: right;
            transform: rotate(45deg);
        }
        span::after { transform: rotate(-45deg); }
    }
    &_prev {
        span::before,
        span::after {
            transform-origin: left;
            transform: rotate(45deg);
        }
        span::after { transform: rotate(-45deg); }
    }

    &_white {
        background-color: $col-white;
        span::before,
        span::after { background-color: $col-black; }
        
        &:hover {
            background-color: $col-red_hover;
            span::before,
            span::after { background-color: $col-white; }
        }
    }
    &_black {
        background-color: rgba($color: $col-black, $alpha: 0.56);
        span::before,
        span::after { background-color: $col-white; }
        &:hover { background-color: rgba($color: $col-black, $alpha: 0.7); }
    }
}
.btn-admin {
    height: 35px;
    padding: 6px 16px 6px 37px;
    background: 16px 50% no-repeat #454545;
    font: 18px/23px $font-proba;
    color: $col-white;
    cursor: pointer;
}

.btn-admin-2 {
    margin: 24px 0 ;
    display: inline-block;
    background:  #454545;
    padding:7px 12px 7px 36px;
    font-family: inherit;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right:8px ;
    position: relative;
    &--settings {
        background: #454545;
        margin-top: 0;
        &:hover {
            background: rgba(0, 0, 0, .56);
        }
        &::before {
            content:url(/assets/img/plus.svg);
            margin-right:5px ;
            position: absolute;
            top: 25%;
            left: 12px;
        }
    }
}

.btn-cls {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s linear;
    background-color: $col-white;

    span {
        display: block;
        width: 24px;
        height: 1px;
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: background-color .2s linear;
            transform: rotate(45deg);
            background-color: $col-black;
        }
        &::after { transform: rotate(-45deg); }
    }
    &:hover {
        background-color: $col-red_hover;
        span {
            &::before,
            &::after { background-color: $col-white; }
        }
    }
}
.btn-success {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(/assets/img3red/check_white.svg) center no-repeat $col-green;
    transition: background-color .2s linear;
    &:hover { background-color: $col-red_hover; }

}

.btn-disabled {
    background-color: grey;

    &:hover { background-color: grey; }
}

// Чекбокс + Радиобокс
.g-checkbox,
.g-radiobox {
    display: flex;
    cursor: pointer;
    &:hover {
        div  { border-color: $col-red_hover; }
        span { color: $col-red_hover; }
    }
    input { display: none; }
    span {
        font: 18px/23px $font-proba;
        color: $col-black;
        transition: color .2s linear;
        padding: 4px 0 0;
    }
    div {
        border: 1px solid #898989;
        transition: border-color .2s linear;
    }
}
.g-checkbox { // Вешать на label внутри которого input, div, span
    input:checked + div {
        border-color: $col-red;
        background: url(/assets/img3red/check.svg) center no-repeat;
        background-size: 81%;
    }
    div {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}
.g-radiobox { // Вешать на label внутри которого input, div, span
    input:checked + div::before {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        width: 8px;
        height: 8px;
        background-color: $col-red;
        border-radius: 50%;
    }
    div {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin: 3px 8px 0 0;
        position: relative;
    }
}
// /Чекбокс + Радиобокс

.g-modal-bg {
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $col-fa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 64px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 101;

    &_for-link {
        background-color: rgba($color: $col-black, $alpha: 0.7);
    }
}
.g-text_small { font: 16px/19px $font-proba; }
.g-text_sign { font: 14px/18px $font-proba; }
