<aside class="house__sections-aside">
    <div class="house__sections-notice">
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_free">3</span>Свободно
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_sale">1</span>Скидка
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_reserve"></span>Забронировано
        </p>
    </div>
</aside>
