@import "../../../../../styles/modules/mixins/mixin";

.search-form__output-sorting {
    width: $container;
    position: absolute;
    height: 24px;
    top: calc(100% + 67px);
    left: 0;
    right: 0;
    display: flex;
    z-index: 1;

    &_scheme { top: calc(100% + 374px); }

    &-control {
        position: absolute;
        font: $font-18;
        margin: 0 30px 0 0;
        cursor: pointer;
        transition: .2s linear;
        color: $col-black-5;
        white-space: nowrap;
        &:hover { color: $col-black; }

        &_active,
        &_turn {
            padding: 0 14px 0 0;
            color: $col-black;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 5px;
                width: 10px;
                height: 16px;
                background: url(/assets/img/filter_arrow.svg) no-repeat;
                background-size: 100%;
                transition: top $transition, transform $transition;
            }
        }
        &_active:hover { &::before { top: 8px; } }
        &_turn::before { transform: rotate(180deg); }

        &--price    { left: 929px; }
        &--space    { left: 336px; }
        &--floor    { left: 457px; }
        &--delivery { left: 565px; }
    }
}
