@import '../../../../styles/modules/mixins/mixin';

:host { width: $container; }

.search-form__corpus {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 -8px -8px;

    &-item {
        padding: 0 24px;
        background-color: $col-white;
        border-radius: 24px;
        font: 18px/48px $font-proba;
        transition: background-color .5s linear, color .2s linear;
        margin: 0 0 8px 8px;
        cursor: pointer;
        text-align: center;

        @media(max-width: 760px) {
            font: 16px/32px $font-proba;
        }

        &:hover {
            background-color: $col-red_hover;
            color: $col-white;
        }

        &--active {
            background-color: $col-red;
            color: $col-white;
        }
    }
}
