<section class="functions">
    <div class="functions__container">
        <h2 class="functions__title">Наши функции</h2>
        <p class="functions__text">
            Сфера деятельности 3-RED включает в себя полный цикл реализации инвестиционно-строительного проекта.
            Компания выполняет функции Застройщика, Технического заказчика, Генерального подрядчика и Эксплуатации.
        </p>
    </div>
    <div class="function__wrap">
        <div class="function__item">
            <h3 class="function__title">Застройщик</h3>
            <p class="function__text">Управление проектами застройки
                на всех стадиях: от идеи до передачи готового объекта собственнику
                и арендаторам</p>
        </div>
        <div class="function__item">
            <h3 class="function__title">Генеральный подрядчик</h3>
            <p class="function__text">Организация строительства зданий, сооружений, сетей и благоустройства
                территорий</p>
        </div>
        <div class="function__item">
            <h3 class="function__title">Технический заказчик</h3>
            <p class="function__text">Инжиниринговые услуги по разработке и согласованию градостроительной документации,
                сбору ИРД,
                организации ПИР и контролю за строительством</p>
        </div>
        <div class="function__item">
            <h3 class="function__title">Управляющая компания</h3>
            <a class="function__link" href="https://3-comfort.com/" target="_blank">
                3-comfort.com
            </a>
            <p class="function__text">Инженерное и эксплуатационное обслуживание многоквартирных домов, санитарное
                обслуживание
                и благоустройство объектов недвижимости и придомовой территории</p>
        </div>
    </div>

</section>