<section class="objects">
    <div class="objects-container" [class.objects-container--main]="isMainPage">
        <div class="objects-wrap">
            <div class="objects__title-wrap">
                <h1 class="objects__title" [ngClass]="{'objects__title--main' : isMainPage}">Проекты</h1>
                <label class="objects__title-wrapper" *ngIf="!isAuthorizated || isMainPage">
                    <input type="checkbox" name="switch" id="map1" class="switch" (change)="isShowMap()">
                    <p for="map1" class="objects__title-label">На карте</p>
                </label>
                <button class="objects__add-button" (click)="createSnippet()" *ngIf="isAuthorizated && !isMainPage">
                    Добавить новый ЖК
                </button>
            </div>

            <a routerLink="/objects/list" class="g-all-object" *ngIf="isMainPage">Все проекты</a>
        </div>

        <app-jk-objects-form *ngIf="isLoaded"
            [btnList]="btnList"
            [minPricePlaceholder]="minPricePlaceholder"
            [maxPricePlaceholder]="maxPricePlaceholder"
            (formChange)="getObjects($event)">
        </app-jk-objects-form>
    </div>

    <app-jk-objects-map *ngIf="showMap"
        [snippets]="snippets">
    </app-jk-objects-map>

    <app-jk-objects-items *ngIf="!showMap"
        (deleteSnippet)="deleteSnippet($event)"
        (redactSnippet)="redactSnippet($event)"
        (updateSnippet)="updateSnippet($event)"
        [isAuthorizated]="isAuthorizated"
        [isMainPage]=isMainPage
        [snippets]="snippets">
    </app-jk-objects-items>

</section>

<app-objects-admin *ngIf="!closeModal"
    (closeModal)="closeModal = $event; redactId = null"
    [snippets]="snippets"
    (snippetsChange)="snippetsChange($event)"
    [id]="redactId">
</app-objects-admin>
