
<section class="object-location">

    <div class="object-item__container object-location__container">

        <div class="object-location__head">
            <h2>Местоположение</h2>
        </div>

        <nav class="object-location__nav">
            <div class="object-location__address">
                <p class="object-location__address-title">ЖК распологается по адресу</p>
                <p class="object-location__address-name">Горки Ленинские, Московская обл.,142712</p>
            </div>

            <ul class="object-location__nav-list">
                <li class="object-location__nav-item" *ngFor="let nav of navPoint"
                    [ngClass]="{'object-location__nav-item_active': nav.mod === openPath}"
                    (click)="openPath = nav.mod">{{nav.name}}</li>
            </ul>
        </nav>

        <div class="object-location__infrastructure" *ngIf="openPath === 'infrastructure'">

            <div class="object-location__infrastructure-check" *ngFor="let checkbox of infrastructure">
                <input type="checkbox" id="{{checkbox.type}}" style="display: none;">
                <label class="object-location__infrastructure-item object-location__infrastructure-item_{{checkbox.type}}" 
                    for="{{checkbox.type}}">{{checkbox.name}}</label>
            </div>
        </div>
    </div>

    <div class="object-location__map">

        <div id="map" class="object-location__map-item">
        </div>

        <a href="#" class="object-location__map-link btn_var-2">Открыть Я.Карты</a>
    </div>
</section>