<section class="error-page">

    <div class="error-page__container">
                
        <div class="error-page__img">
            <img src="/assets/img/bg_404.png" alt="image" class="error-page__image">
        </div>
        <div class="error-page__content">
            <h1 class="error-page__content-title">Страница не найдена</h1>
            <p class="error-page__content-text">Неправильно написана ссылка, или страница удалена.</p>
            <p class="error-page__content-text"> Перейдите на  <a routerLink="/">главную</a></p>
        </div>
    </div>

</section>
