@import "../../styles/modules/mixins/mixin";

.error-page {
    width: 100%;
    height: calc(100vh - 93px);
    min-height: 630px;
    box-sizing: border-box;
    position: relative;
    padding: 77px 0 0;
    display: flex;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: $container;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        width: 446px ;
        height: 452px;
    }
    &__content {
        margin-left: 24px;
        
        &-title { margin-bottom: 24px; }
        &-text {
            font: 24px/32px $font-proba;
            a {
                color: $col-red;
                border-bottom: 1px solid transparent;
                transition: border-color .2s linear;
                &:hover { border-color: $col-red; }
            }
        }
    }
}
