
<div class="dynamic-header">

    <div class="dynamic-header__wrap">

        <select class="dynamic-header__select"
        (change)="selectChange($event)">
        
            <ng-container *ngFor="let yearItem of yearsArray">
        
                <ng-container *ngFor="let monthItem of monthArray; let i = index">
        
                    <option
                        [disabled]="disabledMonth(monthItem.value, yearItem)"
                        [attr.selected]="(yearItem === year && month === monthItem.value) ? true : null"
                        (change)="changeDate((i + 1), yearItem)"
                        [value]="monthItem.value + ';' + yearItem"
                        class="dynamic-header__tooltip-item">
                        {{monthItem.name + ', ' + yearItem}}
                    </option>
                </ng-container>
            </ng-container>
        </select>
    </div>
</div>

