<div class="objects__map">

  <div class="objects__map-container">

    <a routerLink="/objects/list/{{marker.id}}" class="objects__map-item" *ngFor="let marker of markers; let i = index" (mouseenter)="sideMarkerHover(i)" (mouseleave)="sideMarkerDishover(i)">
      <div class="objects__map-imgwrap">
        <img [src]="this.uploadsPath + marker.thumbnail" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">{{marker.name}}</div>
        <div class="objects__map-status">{{marker.status}}</div>
      </div>
    </a>

  </div>
  <div id="map" style="width: 100%; height: 100vh"></div>
</div>
