<div class="objects__map">

  <div class="objects__map-container">

    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status">Достройка объекта</div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status"></div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status">Достройка объекта</div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status">Достройка объекта</div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status">Достройка объекта</div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status"></div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status">Достройка объекта</div>
      </div>
    </a>
    <a href="#" class="objects__map-item">
      <div class="objects__map-imgwrap">
        <img src="/assets/img/mock/map-obj/obj1.jpg" alt="img" class="objects__map-img">
      </div>

      <div class="objects__map-wrap">
        <div class="objects__map-title">Булатниково</div>
        <div class="objects__map-status">Достройка объекта</div>
      </div>
    </a>

  </div>
  <div id="map" style="width: 100%; height: 100vh"></div>
</div>
