<div class="search-output" *ngIf="flatsList">

    <div class="search-output__result">
        <div *ngFor="let flat of flatsList; let i = index" class="search-output__result-wrap">
            <app-flat-snippet
                [flatsList]="flatsList"
                [flatData]="flat"
                (openApartmentModal)="openApartmentModal(i)">
            </app-flat-snippet>
        </div>
    </div>

</div>

<app-flats-apartment-modal *ngIf="showApartmentWindow"
    [showApartmentWindow]="showApartmentWindow"
    [flatsList]="flatsList"
    [flatIndex]="selectedFlatIndex"
    (close)="showApartmentWindow = false; windowScrollLocker.unblock()">
</app-flats-apartment-modal>
