@import "../../../../../../styles/modules/mixins/mixin";

.dynamic-settings {

    &__container {
        width: 916px;
        padding: 48px 70px;
        box-sizing: border-box;
        position: relative;
        background-color: $col-white;
    }

    &__title {

        &_out-path { margin: 0 0 24px; }
    }

    &__btn {

        &_close-main,
        &_success-main {
            position: absolute;
            left: calc(100% + 24px);
        }
        &_close-main   { top: 0; }
        &_success-main { top: 56px; }

        &_save { margin-right: 8px; }
        &_cancel {
            height: 48px;
            padding: 0 16px 0 8px;
        }
    }

    &__wrap {

        &_head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 0 54px;
        }
        &_path {
            width: 100%;
            padding: 16px 24px 32px;
            box-sizing: border-box;
            background-color: $col-ef;
            margin: 0 0 8px;
            &:nth-last-child(2) { margin: 0 0 48px; }
        }

        &_disabled {

            .dynamic-settings__title_in-path,
            .dynamic-settings__input {
                opacity: .3;
                pointer-events: none;
            }
        }
    }
}