<app-admin-modal [formValid]="form.valid" (closeModal)="close($event)">

        <h2 class="dynamic-settings__title dynamic-settings__title_out-path">Настройка «Фотоотчета»</h2>

        <form [formGroup]="form">

            <div class="dynamic-settings__wrap dynamic-settings__wrap_path"
                 [ngClass]="{'dynamic-settings__wrap_disabled': !data.get('show').value}"
                 formArrayName="dynamic"
                 *ngFor="let data of form.get('dynamic')['controls']; let i = index">

                <ng-container formGroupName="{{i}}">
                    <div class="dynamic-settings__wrap dynamic-settings__wrap_head">

                        <h3 class="dynamic-settings__title dynamic-settings__title_in-path">{{data.get('name').value}}</h3>

                        <label class="dynamic-settings__btn dynamic-settings_switch btn-empty">
                            <input hidden type="checkbox" formControlName="show">{{data.get('show').value ? 'Выключить' : 'Включить'}}
                        </label>
                    </div>

                    <div class="form">
                        <div class="form-item">
                            <input type="text" class="form-input info-input" appSlideTopLabel formControlName="description">
                            <label class="form-label info-suptitle">Общее описание</label>
                        </div>
                    </div>
                </ng-container>
            </div>

        </form>

</app-admin-modal>
