<div class="object-item" #container>

    <app-object-item-preview [isAuthorizated]="isAuthorizated"></app-object-item-preview>
    
    <app-object-item-filter *ngIf="!isAuthorizated"></app-object-item-filter>
    
    <app-object-item-trigger *ngIf="!isAuthorizated"></app-object-item-trigger>

    <app-object-item-storage *ngIf="!isAuthorizated"></app-object-item-storage>

    <app-object-item-project [isAuthorizated]="isAuthorizated" id="project" [objectName]="jkObject.name"></app-object-item-project>

    <app-object-item-flat [isAuthorizated]="isAuthorizated" id="choose"></app-object-item-flat>

    <app-object-item-gallery [isAuthorizated]="isAuthorizated" id="gallery"></app-object-item-gallery>

    <app-object-item-decoration [isAuthorizated]="isAuthorizated" id="decoration"></app-object-item-decoration>

    <app-object-item-location [isAuthorizated]="isAuthorizated" id="location"></app-object-item-location>

    <app-object-item-purchase [isAuthorizated]="isAuthorizated" id="purchase"></app-object-item-purchase>

    <app-object-item-news [isAuthorizated]="isAuthorizated" id="news" [objectName]="jkObject.name"></app-object-item-news>

    <app-object-item-documentation [isAuthorizated]="isAuthorizated" id="documentation"></app-object-item-documentation>

    <app-object-item-members [isAuthorizated]="isAuthorizated"></app-object-item-members>

    <app-object-item-projects *ngIf="!isAuthorizated"></app-object-item-projects>

    <div class="utilities" *ngIf="isAuthorizated">
        <div class="utilities__item">
            <a href="#" class="utilities__path">Админ</a> 
            <a href="#" class="utilities__path">Объкты</a> 
            <a href="#" class="utilities__path">Сердце Ярославля</a> 
        </div>

        <div class="utilities__item">
            <ul class="utilities__nav">
                <li><a href="#" class="utilities__link">Предпросмотр</a></li>
                <li><a href="#" class="utilities__link">Опубликовать</a></li>
                <li><a href="#" class="utilities__link">Показать на главной</a></li>
            </ul>
        </div>
    </div>
    
</div>
