@font-face {
  font-family: 'ProbaPro';
  src: url(../fonts/MintType-ProbaProRegular.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  height: 10vh;
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__bar li {
  padding-right: 24px;
}
.nav__bar li:last-child {
  padding-right: 0;
}
.nav__link {
  font-size: 24px;
  color: #000;
}
.nav__link:hover {
  color: #ee4237;
}
.nav__link--heart {
  position: relative;
}
.nav__link--heart::after {
  content: '12';
  font-size: 14px;
  position: absolute;
  top: -25%;
  right: -14px;
}
.nav__link--heart:hover .heart__hover {
  fill: #EE534A;
}
.header__phone {
  color: #ee4237;
  font-size: 24px;
}
.photo__rep {
  padding: 16px 32px;
  justify-content: flex-end;
  height: 7vh;
}
.photo__rep-text {
  margin-right: 8px;
}
.content {
  background: #555 url('../img/bg_content.jpg') center no-repeat / cover;
  height: 83vh;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.btn {
  margin: 24px 32px;
  padding: 10px 16px ;
  background: #ee4237;
  color: #fff;
  font-size: 18px;
  outline: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #ee534a;
}
.btn::before {
  content: url(../img/content_icon.svg);
  margin-right: 5px ;
}
.content__inner {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 40px 32px;
}
.content__title {
  font-size: 48px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 12px;
}
.content__text {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
