<div class="project__nav"
     [ngClass]="{
            'project__nav-fixed' : isFixed,
            'project__nav-fixed--side' : isSided}">
    <div class="project__nav-container">
        <ul class="project__nav-bar">
            <li *ngFor="let anchor of anchors" id="a-{{anchor.url}}">
                <a *ngIf="anchor.blockOffsetTop || anchor.name === 'О компании'"
                    href="javascript:void(0)"
                    (click)="scrollLink(anchor.url)"
                    class="project__nav-link"
                    [class.active-link]="anchor.url === activeAnchor.url">
                        {{anchor.name}}
                </a>
            </li>
        </ul>
        <a *ngIf="pageName === 'objects' && (hasPhotos || isAuthorized)" class="photo__btn" [routerLink]="'/objects/list/' + headerService.objectId +  '/dynamic/' + lastYearWithPhotos + '/' + lastMothWithPhotos">Фотоотчет</a>
        <div class="project__nav-progress"
            [ngStyle]="{'width' : progressWidth}"></div>
    </div>
</div>
