@import './modules/fonts/fonts';
@import './modules/reset/reset';
@import './modules/mixins/mixin';
@import './modules/ui-kit/marker';
@import './modules/ui-kit/common-ui';

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0 0 51px;
    font-family: 'Museo Sans Cyrl', sans-serif;
    position: relative;
    min-height: calc(100vh - 51px);
    background-color: #F5F5F5;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
p, h1, ul, ol {
    margin: 0;
    padding: 0;
}
button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
textarea {
    display: block; // Для отмены небольшого отступа под элементом
    resize: none;
    outline: none;
}
input { outline: none; }
label { user-select: none; }

p,
a,
li,
h1,
h2,
h3,
div,
span,
label,
input,
button,
textarea {
	@include font-smoothing();
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font: 500 48px/48px $font-formular;
    margin: 0;
    padding: 0;
}
h2 {
    font: 36px/43px $font-proba;
    margin: 0;
    padding: 0;
}
h3 {
    font: 24px/29px $font-proba;
    margin: 0;
    padding: 0;
}
p {
    font: 18px/23px $font-proba;
    margin: 0;
    padding: 0;
}
