@import "../../../../styles/modules/mixins/mixin";

.object-preview {
    height: calc(100vh - 132px);
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 32px 48px;
    &::after {
        content:'';
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }

    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
    &__back-btn {
        height: 28px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        position: relative;
        margin: 0 0 15px;
        font: 18px/18px $font-proba;
        color: $col-white;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 28px;
            height: 28px;
            background: url(/assets/img/jk-object/back-btn.svg) center no-repeat rgba($color: $col-black, $alpha: .3);
            background-size: 22px 26px;
            border-radius: 50%;
        }
        &> span { margin-left: 5px; }
    }
    &__admin-btn { margin: 0 0 16px; }

    &__ilike {
        width: 110px;
        display: block;
        margin: 0 0 16px;
    }
    &__wrapper {
        position: relative;
        z-index: 2;

        &_top {
            @include container();
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
        }
        &_bottom {
            @include container();
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    
    &__wrap {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__item {

        &--link {
            display: flex;
            align-items: center;
            padding: 2px 0;
        }
    }
    &__info {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        padding: 5px 16px;
        background: #6a6a6a;
        border-radius: 20px;
        margin: 0 8px 8px 0;
        
        &_success { background: $col-red; }

        &--icon {
            position: relative;
            background: transparent !important;
            margin-right: 0px;
            padding-right: 42px;
            font-size: 18px;
            margin: 0;
            white-space: nowrap;
            &:hover {
                color: rgba(255, 255, 255, 0.5);
                &::after { background:#ee534a; }
            }
            &::after {
                content: url(/assets/img/jk-object/content_play.svg);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: #ee4237;
                position: absolute;
                top: -4px;
                right: 0;
                z-index: 2;
            }
        }
    }

    &__title {
        width: 100%;
        color: #fff;
        margin-bottom: 12px;
        font-family: $font-proba;
        font-weight: 500;
    }
    &__text {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        color: #fff;
        margin-bottom: 40px;
    }

    &__btns {
        display: flex;

        &-dynamic {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: $col-white;
            margin-right: 12px;

            &> span {
                position: relative;
                padding-right: 8px + 17px;
                &::after {
                    content: '';
                    width: 17px;
                    height: 15px;
                    position: absolute;
                    top: 50%; right: 0;
                    background: url(/assets/img/jk-object/dynamic.svg) center no-repeat;
                    transform: translateY(-50%);
                }
            }
        }
        &-flats {
            line-height: 48px;
            text-align: center;
        }
    }
}

.indicators {
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    
    &__item {
        margin-right: 48px;
        margin-bottom: 16px;
        &:not(:first-child) { display: none; }
    }
    &__value {
        font-size: 24px;
    }
    &__key {
        font-size: 14px;
        margin-top: 8px;
    }
}

@media (max-width: 767px) {
    .object-preview {
        padding: 16px 0 20px;

        &__back-btn span,
        &__info--icon span,
        &__change-flats,
        &__wrap { display: none; }

        &__wrapper { position: static; }
        &__wrap_btns { display: block; }

        &__info--icon {
            display: block;
            width: 36px;
            height: 36px;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 20px;
            bottom: 20px;
            &::after { top: 0; }
        }
        &__title {
            font-size: 28px;
            line-height: 28px;
            margin: 0 0 4px;
        }
        &__text {
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 16px;
        }
        &__btns {

            &-flats { display: none; }
            &-dynamic {
                width: 113px;
                height: 28px;
                position: absolute;
                top: 16px;
                right: 20px;
                padding: 0;
                font-size: 14px;
                background: url(/assets/img/home-icon_white.svg) calc(100% - 12px) 50% no-repeat $col-red;
                color: $col-white;
            }
        }
    }
    .indicators {
        &__item:not(:first-child) {
            display: none;
        }
    }
}
