<section class="object-preview">

    <img [src]="uploadsPath + snippet.mainInfo.image" class="object-preview__background-image" alt="background-image" *ngIf="snippet">

    <div class="object-preview__wrapper object-preview__wrapper_top">
        <a [routerLink]="['/objects/list']" class="object-preview__back-btn">Назад <span> к списку объектов</span></a>

        <div class="object-preview__wrap" *ngIf="snippet">
            <div class="object-preview__item">
                <p class="object-preview__info"
                    [ngClass]="{'object-preview__info_success': limit.realized}" *ngFor="let limit of snippet.deadlines">
                    {{concatTitle([limit.corpusId, limit.deadline])}}
                </p>
            </div>
            <div class="object-preview__item object-preview__item--link" *ngIf="snippet.mainInfo.webcamLink">
                <a [href]="snippet.mainInfo.webcamLink" target="_blank" class="object-preview__info object-preview__info--icon">Посмотреть видео</a>
            </div>
        </div>
    </div>

    <div class="object-preview__wrapper object-preview__wrapper_bottom" *ngIf="snippet">
        <h1 class="object-preview__title">{{snippet.mainInfo.title}}</h1>
        <p class="object-preview__text">{{snippet.mainInfo.address}}</p>

        <div class="indicators">
            <div class="indicators__item" *ngFor="let item of snippet.indicators"> 
                <div class="indicators__value">{{item.value}}</div>
                <div class="indicators__key">{{item.text}}</div>
            </div>
        </div>

        <div class="object-preview__btns">
            <a *ngIf="hasPhotos" [routerLink]="'/objects/list/' + objectId +  '/dynamic/' + lastYearWithPhotos + '/' + lastMothWithPhotos" class="object-preview__btns-dynamic btn_var-3"><span>Фотоотчет</span></a>
            <a class="object-preview__btns-flats btn_var-1" [routerLink]="'/objects/list/' + objectId + '/flats'" *ngIf="hasFlats">Выбрать квартиру</a>
        </div>
    </div>
</section>
