<div class="search">

    <app-search-form
        [showChess]="showChess"
        [showFilters]="showFilters"
        (formChange)="formChange($event)"
        (sortChange)="sortChange($event)"
        (close)="openFilter()">
    </app-search-form>

    <app-search-sorting class="search__sorting"
        [counter]="count"
        [(ngModel)]="sort"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="sortChange($event)"
    ></app-search-sorting>

    <div class="search__main">

        <app-search-output
            [flatsList]="outputFlatsList"
            [count]="count"
            (loadMore)="loadMore()"
            [showMore]="isLoadMoreBtn">
        </app-search-output>
    </div>

    <button (click)="openFilter()" class="search__filter-btn"
        [class.active]="showFilters"></button>
</div>
