<section class="team__container" [class.team__container--margin]="switchOn || isAuthorizated">

        <div [class.team__head]="switchOn">
            <input type="checkbox" name="switch" id="team1" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label for="team1" class="team__label" *ngIf="isAuthorizated">Команда</label>
        </div>

        <ng-container *ngIf="switchOn && teams">

            <h2 class="team__title" *ngIf="!isAuthorizated">Команда</h2>

            <div class="team__options" *ngIf="isAuthorizated">
                <a class="btn btn--settings" (click)="closeTabsModal = false">Настройки</a>
            </div>

            <div class="team__divisions" *ngFor="let tab of tabSnippet.team; let i = index">
                <ng-container *ngIf="tab.show">
                    <div class="team__item-title" *ngIf="isAuthorizated">{{tab.name}}</div>

                    <div class="team__item">
                        <div class="team__wrapper">
                            <a (click)="showContentModal(teams[tab.name].team, tab.name)" class="btn" *ngIf="isAuthorizated">Контент</a>
                            <h4 class="team__item-title" *ngIf="!isAuthorizated">{{tab.name}}</h4>
                            <button class="team__btn" [class.team__btn--active]="teams[tab.name].unlimit" (click)="teams[tab.name].unlimit = !teams[tab.name].unlimit" *ngIf="teams[tab.name].team?.data.length > 4">Все сотрудники</button>
                        </div>
                        <div class="team__wrap" *ngIf="teams[tab.name].team">
                            <ng-container *ngFor="let employee of teams[tab.name].team.data; let j = index">
                                <div class="team__list" *ngIf="j < 4 || teams[tab.name].unlimit">
                                    <div class="team__list-item">
                                        <div class="team__list-image"><img [src]="uploadsPath + employee.thumbnail" alt="photo"></div>
                                        <div class="team__list-name">{{employee.fio}}</div>
                                        <div class="team__list-prof">{{employee.position}}</div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>

        </ng-container>

</section>

<app-about-team-tabs-admin *ngIf="!closeTabsModal"
    [snippet]="tabSnippet"
    (snippetChange)="refreshTabs($event)"
    (closeModal)="closeTabsModal = $event">
</app-about-team-tabs-admin>

<app-about-team-content-admin *ngIf="!closeContentModal"
    [tabName]="currentTab"
    [snippet]="currentTeam"
    (snippetChange)="getContent()"
    (closeModal)="closeContentModal = $event">
</app-about-team-content-admin>
