@import "../../../styles/modules/mixins/mixin";

.team__container {
    margin:  auto;
    width: 1280px;
    box-sizing: border-box;

    &--margin {
        padding: 96px 88px 0;
    }
}

.team__head {
    margin: 0 0 16px;
}

.team__title {
    font-size: 36px;
    margin-bottom: 36px;
}

.team__options {
    margin: 0 0 16px;
}

.btn {

    padding: 10px 16px ;
    background: #ee4237;
    color: #fff;
    font-size: 18px;
    outline: none;
    font-family: inherit;
    border:none;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background: #ee534a
    }
    &::before {
        content:url(/assets/img/jk-object/content_icon.svg);
        margin-right:5px ;
    }
}

.btn--settings {
    background: #454545;
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }
    &::before {
        content:url(/assets/img/jk-object/settings.svg);
        margin-right:5px ;
    }
}

.team__label {
    display: block;
    font: 36px/43px $font-proba;
    color: $col-black;
    position: relative;
    padding-left: 40px;
    transform: translateX(-40px);
}
.team__label::after {
    content: '';
    width: 32px;
    height: 20px;
    background: #787878 ;
    position: absolute;
    border-radius: 20px;
    top: 7px;
    left: 0;
    z-index: 1;

}
.team__label::before {
    content: '';
    width: 16px;
    height: 16px;
    background: #fff ;
    position: absolute;
    border-radius: 50%;
    top: 9px;
    left: 3px;
    z-index: 2;
    cursor: pointer;
    transition: .3s;
}

.switch {
    display: none;

    &:checked + .team__label {
        &::before { left: 13px; }
        &::after { background: #ee4237; }
    }
}

.team__divisions {
    //margin: 0 40px;

}
.team__item:not:last-child {
    // margin-left: 40px;
    margin-bottom: 60px;
}
.team__item-title {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 60px;
    &--first {
        margin-top: 30px;
    }

}
// .team__item {
//     margin-bottom: 56px;
// }
.team__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

}
.team__wrap {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 48px;
}
.team__item-title {
    font-size: 24px;
}
.team__btn {
    background: url(/assets/img/about/product/arrow-down.svg) right no-repeat ;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    color: #ee4237;
    line-height: 23px;
    padding-right: 22px;

    &--active {
        background: url(/assets/img/about/product/arrow-top.svg) right no-repeat ;
    }
}

.team__list-image {
    img {
        display: block;
        width: 100%;
    }
}
.team__list-name {
    font-size: 18px;
    line-height: 1.25;
    margin: 8px 0 4px;
}
.team__list-prof {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
