@import "../../../styles/modules/mixins/mixin";

.furniture {
    background-color: $col-white;
    padding: 24px;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font: $font-24;
    }

    &__switch {
        @include big-switch();
    }

    &__toggle-content {
        margin: 16px 0 0;
    }

    &__wrapper {
        display: flex;
    }

    &__examples {
        flex: 100% 1 6;
        margin-right: 32px;
    }

    &__list {
        flex: 100% 1 4;
    }
}
