@import "../../../styles/modules/mixins/mixin";

.filter__container {
    width: 1280px;
    margin: auto;
    padding: 0px 88px 24px;
    box-sizing: border-box;
}
.filter__title {
    font-size: 36px;
    line-height: 1.25;

}
.modlist-show { animation: showpopup .4s ease forwards; }
.modlist-hide { animation: hidepopup .4s ease forwards; }
@keyframes showpopup {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes hidepopup {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.object-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 17px 0;
    background-color: $col-white;
    margin: 0 0 96px;

    &__container {
        width: 100%;
        max-width: 1104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title { margin: 22px 40px 0 0; }
    &__text {
        width: 100%;
        margin: 0 0 4px;

        &_for-input { color: $col-black-5; }
        &_for-price {
            font: 18px/23px $font-proba;
            &:not(:nth-child(2)) { width: 45%; }
            &:nth-child(2) { width: 10%; }
            &:last-child { text-align: right; }
        }
    }
    &__room {
        width: 193px;
        display: flex;
        flex-flow: row wrap;
        margin-right: 32px;

        &-item {
            width: 47px;
            height: 46px;
            border: 1px solid #d8d8d8;
            &:not(:last-child) { border-right: 0; }
            &:last-child { width: 46px; }

            input:checked + label {
                color: $col-white;
                background-color: $col-red;
            }

            label {
                width: 100%;
                height: 100%;
                display: flex;
                padding: 2px 0 0;
                justify-content: center;
                align-items: center;
                font: 18px/24px $font-proba;
                transition: color .2s linear, background-color .2s linear;
                cursor: pointer;
                &:hover {
                    background-color: $col-red_hover;
                    color: $col-white;
                }
            }
        }
    }
    &__price {
        width: 243px;
        margin-right: 40px;
        position: relative;

        &-range {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 0 0;
            position: relative;

        }
    }

    &__btn-link {
        width: 258px;
        height: 48px;
        // margin: 22px 0 0;
        text-align: center;
        box-sizing: border-box;
        line-height: 48px;
        cursor: pointer;

        &--disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &__wrap {
        display: flex;
        &-item {
            flex-flow: row nowrap;
            margin: 0 32px 15px 0;
            position: relative;
            &:last-child { margin: 0; }

            &_mod {
                cursor: pointer;
                margin-right: 118px;
            }
        }
    }

    &__range {
        height: 48px;
        position: relative;

        &_mod {
            max-width: 221px - 38px;
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            white-space: nowrap;
            pointer-events: all;

            &-for-schema {
                width: 112px + 12px + 28px;
            }
        }

        &__text {
            font: $font-18;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &_for-price:nth-child(3) {
                text-align: right;
            }
        }
    }

    &__subtitle {
        font: $font-14;
        color: $col-black-5;
        margin: 0 0 4px;
    }
}

.object-filter__text_for-price:nth-child(3) {
    text-align: right;
}

.close-area {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 11;
    cursor: default;
}
