<div class="filter__container">
    <h2 class="filter__title">Подбор квартиры по параметрам</h2>
</div>

<section class="object-filter" *ngIf="form">

    <div [formGroup]="form" class="object-filter__container">

        <div class="object-filter__wrap">

            <div class="object-filter__room">
                <p class="object-filter__text object-filter__text_for-input g-text_sign">Количество комнат</p>
                <div class="object-filter__room-item" formArrayName="rooms" *ngFor="let control of form.get('rooms')['controls']; let i = index">
                    <input id="room{{i}}" type="checkbox" style="display: none;" formControlName="{{i}}">
                    <label for="room{{i}}">{{(i === 0) ? 'Ст' : (i === 3) ? '3+' : i}}</label>
                </div>
            </div>
            
            <div class="object-filter__price">
                <p class="object-filter__text object-filter__text_for-input g-text_sign">Стоимость</p>
    
                <div class="object-filter__price-range">
                    <p class="object-filter__text object-filter__text_for-price"><span #minPrice></span> &#8381;</p>
                    <p class="object-filter__text object-filter__text_for-price">&mdash;</p>
                    <p class="object-filter__text object-filter__text_for-price"><span #maxPrice></span> &#8381;</p>
    
                    <ghm-range-number
                        formControlName="price"
                        [min]="config.price.min"
                        [max]="config.price.max"
                        [toFixed]="true"
                        (move)="minPrice.innerHTML = parseNumberPipe.transform(($event.min).toFixed(0)); maxPrice.innerHTML = parseNumberPipe.transform(($event.max).toFixed(0))">
                    </ghm-range-number>
                </div>
            </div>
    
            <div class="object-filter__wrap-item object-filter__wrap-item_mod">
                <p class="object-filter__subtitle">Жилой комплекс</p>
                <div  #myDiv>
                    <div class="object-filter__range object-filter__range_mod g-tooltip-area" (click)="isExpanded = !isExpanded; onClick($event);" [class.active]="isExpanded">
                        <p class="object-filter__text">
                            {{ form.controls['mod'].value | mySearchFormPipe:modsBtnList }}
                        </p>
                    </div>
        
                    <!-- <div class="close-area" *ngIf="showMods" (click)="switchPopup()"></div> -->
                    <app-filter-mod-list [isExpanded] = 'isExpanded'
                        [class.modlist-show]="showMods"
                        [class.modlist-hide]="hideMods"
                        formControlName="mod"
                        [btnList]="modsBtnList">
                    </app-filter-mod-list>
                </div>
            </div>
        </div>
        <a class="object-filter__btn-link btn_var-2"
           [class.object-filter__btn-link--disabled]="!flatsLength"
            (click)="getHousesAndRout()">
            {{ this.availableFlats ? this.availableFlats.length + ' ' + parseText(this.availableFlats.length) : 'Нет предложений'}}
        </a>
    </div>
</section>
