@import "../../../../styles/modules/mixins/mixin";

.object-trigger {
    width: 100%;
    margin: 0 0 96px;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 258px;
        height: 160px;
        background-color: $col-white;
        transition: background-color .2s linear;
        box-sizing: border-box;
        padding: 16px 24px;
        cursor: pointer;
        position: relative;
        &:hover { background-color: rgba(238, 66, 55, 0.1); }
        
        &-text {
            font: 18px/23px $font-proba;
            color: $col-black;
    
            &_for-space { color: $col-black-5; }
            &_price {
                position: absolute;
                bottom: 16px;
                left: 24px;
    
                span {
                    font-size: 48px;
                    line-height: 58px;
                }
            }
        }
    }
}