<div class="search" *ngIf="this.config">

    <app-search-form
        [config]="config"
        [housesBtnList]="housesBtnList"
        [modsBtnList]="modsBtnList"
        (formChange)="formChange($event)"
        (sortChange)="sortChange($event)">
    </app-search-form>

    <ng-content></ng-content>

    <div class="search__main">

        <app-search-output
            [flatsList]="outputFlatsList"
            [count]="count"
            (loadMore)="loadMore()"
            [showMore]="isLoadMoreBtn"
            >
        </app-search-output>
    </div>
</div>

