<div *ngIf="(isForm && isAuthorizated)" class="admin-controll g-modal-bg">

    <div class="create-form__container">

        <div class='admin-news_progress-loader' *ngIf="isLoad">
            <div class='admin-news_progress-loader-title'>Загрузка изображения {{imageUploadPercent}}%</div>
            <div class='admin-news_progress-loader-line'>
                <div class='admin-news_progress-loader-inner' [style.width.%]="imageUploadPercent"></div>
            </div>
        </div>

        <form [formGroup]="form" class="create-form__form">

            <div (click)="close.emit()" class="create-form__cls-btn btn-cls"><span></span></div>
            <button (click)="onSubmit(form.value)" [disabled]="!form.valid" class="create-form__cls-success btn-success" [class.btn-disabled]="!form.valid"></button>

            <h2 class="create-form__form-title create-form__form-title_out-path">Добавить новость</h2>

            <div class="create-form__form-wrap create-form__form-wrap_path create-form__form-wrap_main">
                <h3 class="create-form__form-title create-form__form-title_in-path">Основная информация</h3>
                
                <div class="create-form__form-wrap create-form__form-wrap_input create-form__form-wrap_full">
                    <textarea class="create-form__form-area"
                        name="title" appAutoResizeTextarea rows="1"
                        [ngClass]="{'invalid-input-value' : (!form.controls['title'].valid)}"
                        [formControl]="form.controls['title']" #title>
                    </textarea>
                    <p class="create-form__form-title create-form__form-title_for-input"
                        [ngClass]="{'create-form__form-title_placeholder': title.value.length > 0}">Заголовок</p>
                    <p class="create-form__form-title create-form__form-title_error g-text_sign">Поле обязательно для заполнения</p>
                </div>

                <div class="create-form__form-wrap create-form__form-wrap_input create-form__form-wrap_full">    
                    <textarea class="create-form__form-area"
                        appAutoResizeTextarea rows="1"
                        [formControl]="form.controls['description']" #text>
                    </textarea>
                    <p class="create-form__form-title create-form__form-title_for-input"
                    [ngClass]="{'create-form__form-title_placeholder': text.value.length > 0}">Краткое описание</p>
                </div>

                <div class="create-form__form-wrap create-form__form-wrap_select create-shares__wrap_input create-form__form-wrap_full">
                    <p class="create-form__form-title create-form__form-title_for-select">Жилой комплекс</p>
                    <select name="objectId" class="create-form__form-select create-form__form-select_type" [formControl]="form.controls['objectId']" (change)="changeMod($event)">>
                        <option [value]="jkObject._id" *ngFor="let jkObject of modsBtnList; let i = index">{{ i === 0 ? 'Все комплексы' : jkObject.name }}</option>
                    </select>
                </div>

                <div class="create-form__form-wrap create-form__form-wrap_datepicker create-form__form-wrap_w2">
                    <p class="create-form__form-title create-form__form-title_for-datepicker">Дата публикации</p>
                    <div class="create-form__form-area create-form__form-area_datepicker">
                        <app-ghm-date-picker [formControl]="form.controls['created_at']"></app-ghm-date-picker>
                    </div>
                </div>
                <div class="create-form__form-wrap create-form__form-wrap_select create-form__form-wrap_w2">
                    <p class="create-form__form-title create-form__form-title_for-select">Статус</p>
                    <select name="status" class="create-form__form-select create-form__form-select_type" [formControl]="form.controls['publish']" (change)="checkShowOnMain($event)">
                        <option [value]="false">Черновик</option>
                        <option [value]="true">Чистовик</option>
                    </select>
                </div>

                <div class="create-form__form-wrap create-form__form-wrap_photo create-form__form-wrap_full">
                    <div class="create-form__form-img">
                        <label class="create-form__form-btn create-form__form-btn_preview-image">
                            <span>Загрузить фото</span>
                            <input style='display: none;' type="file" (change)="imageUpload($event, 'main-image')" placeholder="Upload file" accept=".jpg, .jpeg">
                        </label>

                        <div class="create-form__form-wrap create-form__form-wrap_image-preview" *ngIf="form.get('thumbnail').value">
                            <img [src]="uploadsPath + form.get('thumbnail').value">
                            <button class="create-form__cls-preview" (click)="deleteImage()"><span></span></button>
                        </div>

                        <input [formControl]="form.controls['image']" hidden type="text">
                        <input [formControl]="form.controls['thumbnail']" hidden type="text">

                    </div>

                    <p class="create-form__form-title create-form__form-title_for-photo">Загрузите фото для превью</p>
                </div>
    
                <div class="create-form__form-wrap create-form__form-wrap_full">
                    <label *ngIf="publishVal" class="g-checkbox">
                        <input class="admin-news_checkbox_content"
                            [formControl]="form.controls['show_on_main']"
                            type="checkbox" name="show_on_main">
                        <div></div>
                        <span>Показать новость на главной</span>
                    </label>
                </div>
            </div>

            <h2 class="create-form__form-title create-form__form-title_out-path">Состав новости</h2>

            <div class="shares-edit-form__path-wrap">

                <div formArrayName="body" *ngIf="body['controls'].length">
                    <div *ngFor="let block of body['controls']; index as i; let last = last"
                         [ngSwitch]="block.value.blockType">

                        <app-news-edit-text
                            [formControlName]="i"
                            [type]="'description'"
                            [isFirst]="i"
                            [isLast]="last"
                            *ngSwitchCase="'description'"
                            (move)="moveBlock(body['controls'], i, $event)"
                            (remove)="removeBlock(i)"
                            (addLink)="showModalFunc($event, i)">
                        </app-news-edit-text>

                        <app-news-edit-image
                            [formControlName]="i"
                            [isLast]="last"
                            *ngSwitchCase="'image'"
                            (move)="moveBlock(body['controls'], i, $event)"
                            (remove)="removeBlock(i)">
                            <label class="create-form__form-btn create-form__form-btn_preview-image">
                                <span>Загрузить фото</span>
                                <input style='display: none;' type="file" (change)="imageUpload($event, 'change-image', i)" placeholder="Upload file"  accept=".jpg, .jpeg">
                            </label>
                        </app-news-edit-image>

                        <app-news-edit-image2
                            [formControlName]="i"
                            [isFirst]="i"
                            [isLast]="last"
                            *ngSwitchCase="'image2'"
                            (move)="moveBlock(body['controls'], i, $event)"
                            (remove)="removeBlock(i)">
                            <label class="create-form__form-btn create-form__form-btn_preview-image">
                                <span>Загрузить фото</span>
                                <input style='display: none;' type="file" (change)="imageUpload($event, 'change-image2', i, true)" placeholder="Upload file" accept=".jpg, .jpeg">
                            </label>
                            <label class="create-form__form-btn create-form__form-btn_preview-image">
                                <span>Загрузить фото</span>
                                <input style='display: none;' type="file" (change)="imageUpload($event, 'change-image2', i)" placeholder="Upload file" accept=".jpg, .jpeg">
                            </label>
                        </app-news-edit-image2>

                        <app-news-edit-text
                            [formControlName]="i"
                            [isFirst]="i"
                            [isLast]="last"
                            [type]="'title'"
                            *ngSwitchCase="'title'"
                            (move)="moveBlock(body['controls'], i, $event)"
                            (remove)="removeBlock(i)">
                        </app-news-edit-text>

                    </div>
                </div>
            </div>

            <div class="create-form__form-wrap create-form__form-wrap_controls">
                <button class="create-form__form-btn create-form__form-btn_controls-title" (click)="addTitle()">Заголовок</button>
                <button class="create-form__form-btn create-form__form-btn_controls-text" (click)="addDescription()">Абзац</button>
                <button class="create-form__form-btn create-form__form-btn_controls-image" (click)="singleImgPicker.click()">
                    <input #singleImgPicker
                        [style.display]="'none'"
                        type="file"
                        accept=".jpg, .jpeg"
                        (change)="imageUpload($event, 'single-image')">
                    Изображение
                </button>

                <button class="create-form__form-btn create-form__form-btn_controls-images" (click)="addImage2()">2 изображения</button>
            </div>

            <button type="submit" class="create-form__form-submit btn_var-2"
                [ngClass]="{'create-form__form-submit_disabled' : !form.valid}"
                [disabled]="!form.valid"
                (click)="onSubmit(form.value)">Сохранить и закрыть
            </button>
            <button class="create-form__form-save btn_var-2" (click)="close.emit()">
                Отменить
            </button>

        </form>

    </div>

</div>


<app-news-edit-anchor *ngIf="showModal"
    [data]="modalAnchorData"
    (close)="showModal = false">
</app-news-edit-anchor>
