@import "../../../../../styles/modules/mixins/mixin";

:host {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bank-col     { width: 249px; }
.percent-col  { width: 142px; }
.deadline-col { width: 115px; }
.initial-col  { width: 118px; }

.object-purchase__list {

    &-btn {
        color: $col-red;
        padding-right: 22px;
        position: relative;
        &::before {
            content: '';
            width: 14px;
            height: 100%;
            position: absolute;
            top: 0; right: 0;
            background: url(/assets/img/about/arrow-down.svg) left 50% no-repeat;
            transition: top .2s linear;
        }
        &.active::before { transform: rotate(180deg); }
    }

    &-container {
        // width: 916px;
        overflow: hidden;
        transition: height .4s ease;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
    &-head { display: flex; }
    &-text {
        font: 18px/23px $font-proba;
        color: $col-black;
        &> span:first-child { display: none; }

        &_head {
            color: $col-black-5;
            padding: 8px 0;
        }
        &_grey { color: $col-black-5; }
    }

    &-item {
        width: 100%;
        height: 72px;
        min-height: 72px;
        box-sizing: border-box;
        border-top: 1px solid #d8d8d8;
        display: flex;
        align-items: center;
    }

    &-bank {
        display: flex;
        align-items: center;
    }
    &-image {
        width: 40px;
        height: 40px;
        margin-right: 11px;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 767px) {

    .bank-col     { width: 100%; }
    .percent-col  {
        width: 148px;
        margin: 9px 0 0;
    }
    .deadline-col {
        width: auto;
        margin: 9px 0 0;
    }
    .initial-col  {
        width: 100%;
        margin: 9px 0 0;
    }

    .object-purchase__list {
     
        &-container {
            width: 100%;
            height: auto !important;
            position: fixed;
            top: 0; left: 0;
            bottom: 0;
            box-sizing: border-box;
            background-color: $col-white;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 57px 20px 24px;
            z-index: 100;
        }

        &-close {
            width: 100%;
            height: 57px;
            position: fixed;
            top: 0; left: 0;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: $col-white;
            padding: 0 20px;

            &> button {
                width: 17px;
                height: 17px;
                display: flex;
                justify-content: center;
                background-color: transparent;
                align-items: center;
                position: relative;
                &> span {
                    width: 24px;
                    height: 1px;
                    position: absolute;
                    background-color: $col-black;
                    transform-origin: center;
                    &:first-child { transform: rotate(45deg); }
                    &:last-child { transform: rotate(-45deg); }
                }
            }
        }

        &-head { display: none; }
        &-text > span {
            &:first-child {
                display: block;
                color: $col-black;
            }
        }
        &-item {
            width: 100%;
            height: auto;
            min-height: auto;
            padding: 16px 0;
            flex-flow: row wrap;
            align-items: flex-start;
        }
        &-image {
            width: 64px;
            height: 64px;
        }
    }
}