<section class="object-decoration"  [class.object-item--margin]="switchOn">
    <div class="object-item__container object-decoration__container">

        <ng-container *ngIf="switchOn">

            <h2 class="object-decoration__title">Отделка квартир</h2>

            <nav class="object-decoration__nav" *ngIf="contentSnippet?.data?.length && this.currentTab">
                <div class="object-decoration__nav-wrap">
                    <div class="object-decoration__nav-wrap--scroll">
                        <nav-menu
                            [navType]="'decoration'"
                            [navList]="contentSnippet.data"
                            (routeNavigate)="changeTab($event)"
                        ></nav-menu>
                    </div>
                </div>
            </nav>

            <div class="swiper-decoration">

                <div class="swiper-decoration__wrap swiper-wrapper">

                    <!-- Слайды -->
                    <ng-container *ngIf="currentTab; else elseBlock">
                        <ng-container *ngIf="currentTab.images.length; else elseBlock">
                            <div class="swiper-decoration__slide swiper-slide" *ngFor="let slide of currentTab.images; let i = index">
                                <div class="swiper-decoration__slide-image">
                                    <ng-container *ngIf="slide; else elseBlock">
                                        <img [src]="uploadsPath + slide.image" alt="image-slider">
                                    </ng-container>
                                </div>

                                <!-- Иконки информации -->
                                <div class="swiper-decoration__slide-info">
                                    <ng-container *ngIf="currentTab">
                                        <ng-container *ngFor="let info of currentTab.info">
                                            <p class="swiper-decoration__slide-icon swiper-decoration__slide-icon--{{info.mod}}"
                                            *ngIf="info.name">{{info.name}}</p>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>

                <!-- Пагинация -->
                <div class="swiper-decoration__pagination" *ngIf="currentTab?.images?.length > 1"></div>

                <!-- Классика/Модерн -->
                <div class="swiper-decoration__path" *ngIf="currentType">
                    <p class="swiper-decoration__path-name" [class.active]="type === currentType"
                        (click)="changeType(type)" *ngFor="let type of typesSnippet.decorationType">

                        <ng-container *ngIf="checkTabImages(type)">{{type}}</ng-container>
                    </p>
                </div>

                <button class="swiper-decoration__btn swiper-decoration__btn--next btn-slider btn-slider_next btn-slider_black"><span></span></button>
                <button class="swiper-decoration__btn swiper-decoration__btn--prev btn-slider btn-slider_prev btn-slider_black"><span></span></button>
            </div>

            <ng-template #elseBlock>
                <div class="object-item__mock-img"></div>
            </ng-template>

        </ng-container>

    </div>
</section>
