<section class="object-flat" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container object-flat__container">
        <div class="project__wrap">
            <input type="checkbox" name="switch" id="chooseHouse-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="chooseHouse-switch" class="object-item__title">Выберите дом</label>
        </div>
        <p *ngIf="switchOn && isAuthorizated" class='object-flat__text'>Данный блок не настраивается и не заполняется с помощью админки</p>
    </div>

    <ng-container *ngIf="switchOn">

        <h2 *ngIf="!isAuthorizated">Выберите дом</h2>

        <div class="object-flat__plan">

            <img class="object-flat__plan-img" src="/assets/img/jk-object/temp_bg.jpg" alt="">
    <!-- Места поблизсти -->
            <div class="object-flat__placement">
                <div class="object-flat__placement-item object-flat__placement-item_{{item.mod}}" *ngFor="let item of genplanPlacement">
                    {{ item.title }}
                </div>
            </div>
    <!-- Генплан квартир -->
            <div class="object-flat__house">
                <div class="object-flat__house-wrap object-flat__house-wrap_house-{{house.houseNumber}}" *ngFor="let house of tempHouse">
                    <a class="object-flat__house-item">
                        <span>№{{house.houseNumber}}</span>
                        <span>{{house.freeFlats ? house.freeFlats + ' кв' : 'не в продаже'}}</span>
                    </a>
                    <div class="object-flat__house-tooltip object-flat__house-tooltip_house-{{house.houseNumber}}">
                        <h3>Дом №{{house.houseNumber}}</h3>
                        <ul>
                            <li *ngFor="let room of house.rooms" class="object-flat__house-room">
                                <span>{{room.name === 0 ? 'Студии' : room.name + '-комнатные'}}</span>
                                <span>{{room.minPrice ? 'от ' + room.minPrice + ' млн Р' : 'не в продаже'}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
</section>
