@import './modules/fonts/fonts';
@import './modules/reset/reset';
@import './modules/mixins/mixin';
@import './modules/ui-kit/marker';
@import './modules/ui-kit/common-ui';

body {
    min-height: 100vh;
    font-family: $font-proba;
    color: $col-black;
    position: relative;
    background-color: #F5F5F5;
    margin: 0;
    padding: 86px 0 93px;
    overflow-x: hidden;
    box-sizing: border-box;
    @media (max-width: 564px) {
        padding-bottom: 93px;
    }
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
p, h1, ul, ol {
    margin: 0;
    padding: 0;
}
button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
input {
    outline: none;
}
textarea {
    display: block; // Для отмены небольшого отступа под элементом
    resize: none;
    outline: none;
}
label {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

p,
a,
li,
h1,
h2,
h3,
div,
span,
label,
input,
button,
textarea {
    @include font-smoothing();
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font: 500 48px/48px $font-formular;
    margin: 0;
    padding: 0;
}
h2 {
    font: 36px/43px $font-proba;
    margin: 0;
    padding: 0;
}
h3 {
    font: 24px/29px $font-proba;
    margin: 0;
    padding: 0;
}
p {
    font: 18px/26px $font-proba;
    margin: 0;
    padding: 0;
}
@media (max-width: 760px) {
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
    h2 {
        font: 28px/34px $font-proba;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
    }
    p {
        font: 16px/22px $font-proba;
    }
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}
