
<section class="object-decoration">

    <div class="object-item__container object-decoration__container">

        <div class="object-decoration__head">
            <input type="checkbox" name="switch" id="gallery" class="switch">
            <label *ngIf="isAuthorizated" for="gallery" class="object-item__title">Отделка квартир</label>
            <h2 *ngIf="!isAuthorizated">Отделка квартир</h2>
        </div>

        <div class="object-decoration__options" *ngIf="isAuthorizated">
            <button class="btn__admin-setting">Настройки</button>
            <button class="btn__admin-content btn_var-2">Контент</button>
        </div>

        <nav class="object-decoration__nav">
            <div class="object-decoration__nav-wrap">
                <div class="object-decoration__nav-wrap_for-scroll">
                    <ul class="object-decoration__nav-list">
                        <li class="object-decoration__nav-item" *ngFor="let nav of mockSlider; let i = index"
                            [ngClass]="{'object-decoration__nav-item_active': nav.navTitle === sliderContent.navTitle }"
                            (click)="changeNav(i)">{{nav.navTitle}}</li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="object-decoration__slider">

            <div class="object-decoration__slider-wrap object-decoration__slider-wrap_slides">

                <div class="object-decoration__slider-item decoration-slider" id="sliderWrap">
                    <div class="decoration-slider__edge decoration-slider__edge-left" [style.width.px]="leftEdge"></div>
                    <div class="decoration-slider__edge decoration-slider__edge-right" [style.width.px]="rightEdge"></div>

                    <button (click)="prevBtn()" class="decoration-slider__btn decoration-slider__btn_prev btn-slider btn-slider_prev btn-slider_black"><span></span></button>
                    <button (click)="nextBtn()" class="decoration-slider__btn decoration-slider__btn_next btn-slider btn-slider_next btn-slider_black"><span></span></button>

                    <div class="decoration-slider__dots">
                        <span *ngFor="let dots of sliderContent.img; let i = index"
                            [ngClass]="{'current-dots': currentSlide === i && mediaCurrentSlide === 0 || mediaCurrentSlide === i }"></span>
                    </div>

                    <div class="decoration-slider__path">
                        <!-- decoration-slider__path-name_active - активный класс -->
                        <p class="decoration-slider__path-name"
                            *ngFor="let type of sliderContent.type">
                            {{type}}
                        </p>
                    </div>

                    <div class="decoration-slider__wrap" id="slider">

                        <div class="decoration-slider__slide" *ngFor="let slide of sliderContent.img; let i = index"
                            [ngClass]="{'current-slide': currentSlide === i}">
                            <img src="{{slide}}" alt="image-slider">
                        </div>
                    </div>
                </div>
            </div>
            <div class="object-decoration__slider-wrap object-decoration__slider-wrap_info">
                <ng-container *ngFor="let info of sliderContent.info">
                    <p class="decoration-slider__info decoration-slider__info_{{info.mod}}" 
                        *ngIf="info.name">{{info.name}}</p>
                </ng-container>
            </div>
        </div>
    </div>
</section>