@import "../../../../../styles/modules/mixins/mixin";

.news-view {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0 64px;

    &__container { @include container(); }
    &__nav {
        margin: 0 0 24px;

        &-link {
            font-size: 24px;
            padding-left: 36px;
            color: #000;
            position: relative;
            @media (max-width: 767px) {
                @include font-size(16px,22px);
            }
        
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-57%);
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: url(/assets/img/arrow.svg) center no-repeat rgba($color: $col-black, $alpha: .03);
                transition: background-color .2s linear;
            }
            &:hover::before {
                background-color: rgba($color: $col-black, $alpha: .5);
            }
        }
    }

    &__text,
    &__subtitle { max-width: 612px; }

    &__subtitle {
        font: 24px/29px $font-proba;
        margin-bottom: 12px;
        @media (max-width: 767px) {
            @include font-size(20px,26px);
        }
    }
    &__text {
        font: 18px/26px $font-proba;
        margin-bottom: 16px;
        @media (max-width: 767px) {
            @include font-size(16px,22px);
        }
        
    }
    &__image {
        width: 100%;
        margin: 0 0 20px;
        &> img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__image2x {
        width: 100%;
        height: 255px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px;
        &> img {
            width: calc((100% - 24px) / 2);
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: 767px) {
            height: 33.247vw;
            &> img { width: calc((100% - 16px) / 2); }
        }
    }
}

.news-view__intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.news-view__title {
    font-size: 36px;
    line-height: 1.35;
    max-width: 560px;
}
.news-view__img {
    display: block;
    width: 100%;
    // height: 410px;
    object-fit: cover;
    margin-bottom: 48px;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.news__text-link {
    font: inherit;
    color: $col-red;
}


.news-view__category {
    color: #000;
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 2px;
    &::before {
        content: url(/assets/img/build.svg);
        margin-right: 5px;
    }

}

.news-view__date {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.news-view__share {
    margin-top: 64px;
}
.news-view__share-wrap {
    display: flex;
    position: relative;
    align-items: center;
    .share { margin-right: 16px; }
    @media (max-width: 767px) {
        flex-flow: row wrap;

        .share {
            width: 100%;
            margin: 0 0 22px;
        }
    }
}
.share__count {
    cursor: pointer;
    padding-left: 52px;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        background-position: center;
        background-size: 42px 42px; 
        width: 42px;
        height: 42px;
        transition: background .3s linear;
    }
    &+ .share__count { margin-left: 16px; }
}
.share__count-vk {
    
    &::before {
        background-image:url(/assets/img/news/vk.svg);
    }
    &:hover::before {
        background-image:url(/assets/img/news/vk-hover.svg);
    }
}
.share__count-fb {
   
    &::before { 
        background-image:url(/assets/img/news/fb.svg);
    }
    &:hover::before {
        background-image:url(/assets/img/news/fb-hover.svg);
    }
}
.share__count-odnoclass  {
    &::before {
        background-image:url(/assets/img/news/odnoclass.svg);
    }
    &:hover::before {
        background-image:url(/assets/img/news/odnoclass-hover.svg);
    }
}
