
<section class="news-view" *ngIf="snippet">

    <div class="news-view__container">

        <div class="news-view__nav">
            <a class="news-view__nav-link" href="javascript:void(0)" (click)="location.back()">Все новости</a>
        </div>

        <div class="helper">
            <div class="news-view__intro">
                <div class="news-view__date">{{parseCreatedAtDate(snippet.created_at)}}</div>
                <div class="news-view__category" *ngIf="snippet.objectName">{{snippet.objectName}}</div>
            </div>
            <h2 class="news-view__title">{{snippet.name}}</h2>
            <p class="news-view__text">{{snippet.text}}</p>
            <img [src]="uploadsPath + snippet.mainImage" alt="image" class="news-view__img">

            <ul class="news-view__wrapper">
                <li *ngFor="let b of snippet.body"
                    [ngSwitch]="b.blockType">

                    <article *ngSwitchCase="'title'" class="news-view__subtitle">{{b.blockTitle}}</article>

                    <article *ngSwitchCase="'description'" class="news-view__text" [innerHTML]="b.blockDescription"></article>

                    <div *ngSwitchCase="'image'" class="news-view__image">
                        <img [src]="uploadsPath + b.blockImg.image" alt="image">
                    </div>

                    <!--<div *ngSwitchCase="'flats'" class="client-share__flats">-->
                        <!--<div class="client-share__flats-wrap">-->

                            <!--<div *ngFor="let flat of b.blockFlats; index as flatIndex" class="client-share__flats__item">-->
                                <!--<div class="client-share__flats-header">-->
                                    <!--&lt;!&ndash; <div class="client-share__flats__house">Корпус {{flat.house}}</div> &ndash;&gt;-->
                                    <!--<div class="client-share__flats__house">Секция {{flat.section}}</div>-->
                                    <!--<div class="client-share__flats__house">Этаж {{flat.floor}}</div>-->
                                <!--</div>-->
                                <!--<div class="client-share__number">№ {{flat.number}}</div>-->
                                <!--<div class="client-share__room">{{flat.room}}, {{flat.space}} м&#178;</div>-->
                                <!--<div class="client-share__decoration">{{flat.decoration}}</div>-->
                                <!--<img [src]="flat.scheme" class="client-share__image">-->
                                <!--<div class="client-share__total">{{+flat.price - getDiscount(flat) | bitNumber}} &#8381;</div>-->
                                <!--<div class="client-share__price-wrap">-->
                                    <!--<div class="client-share__price">{{flat.price | bitNumber}} &#8381;</div>-->
                                    <!--<div class="client-share__discount">− {{+flat.discount | bitNumber}} {{flat.discountType === shareFlatDiscountType.PERCENT ? '%' : '&#8381;'}}</div>-->
                                <!--</div>-->
                                <!--<div (click)="isReserveFormOpen = true; setFlatData(flat)" class="client-share__reserve">Забронировать</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </li>
            </ul>
        </div>

        <div class="news-view__share">
            <div class="news-view__share-wrap">
                <p class="share">Поделиться:</p>
                <div class="share__count share__count-vk" (click)="clickShare('vk')">{{snippet.shareCount.vk}}</div>
                <div class="share__count share__count-fb" (click)="clickShare('fb')">{{snippet.shareCount.fb}}</div>
                <div class="share__count share__count-odnoclass" (click)="clickShare('ok')">{{snippet.shareCount.ok}}</div>
            </div>
        </div>
    </div>

</section>

<!--<app-flats-apartment-modal *ngIf="showApartmentWindow"-->
    <!--[showApartmentWindow]="showApartmentWindow"-->
    <!--[flatsList]="share.shareFlats"-->
    <!--[flatIndex]="selectedFlatIndex"-->
    <!--(close)="showApartmentWindow = false; windowScrollLocker.unblock()">-->
<!--</app-flats-apartment-modal>-->
