@import '../../../styles/modules/mixins/mixin';

.about {
    padding-top: 77px;
    background-color: #f5f5f5;
    min-height: 700px;
    overflow: hidden;

    &__news {
        width: 489px;
        height: 88px;
        position: relative;
        margin: 0 0 80px;

        &-item {
            position: absolute;
            top: 0; left: 0;
            transition: opacity .5s linear;
            opacity: 0;
            &.active { 
                opacity: 1; 
                z-index: 2;
            }
           
            &:hover {
                .about__news-date,
                .about__news-title { color: rgba(0, 0, 0, 0.5); }
            }
        }
      
        &-title {
            font: 24px/31px $font-proba;
            color: $col-red;
            transition: color .2s linear;
            position: relative;
            &::after {
                content: ''; 
                width: 0px;
                height: 1px;
                position: absolute;
                top: 100%; left: 0;
                background-color: $col-red;
                transition: width .2s ease;
            }
            &:hover::after { width: 100%; }
            
        }
        &-date { 
            margin: 0 0 8px;
            font: 24px/31px $font-proba;
            color: $col-red;
            transition: color .2s linear;
        }
    }

}
.about-container {
    width: 1280px;
    margin: auto;
    padding: 0 88px  100px;
    box-sizing: border-box;

}
.btn {
    margin: 0px 0 16px ;
    padding: 10px 16px ;
    background: #ee4237;
    color: #fff;
    font-size: 18px;
    outline: none;
    font-family: inherit;
    border:none;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background: #ee534a
    }
    &::before {
        content:url(/assets/img/jk-object/content_icon.svg);
        margin-right:5px;
    }
}
.about__helper {
    display: grid;
    grid-template-columns: 580px 620px;
}
.about-wrap {
    position: relative;
}
.about__img {
    width: 971px;
    height: 570px;
    display: block;

}
.about__img1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.about__img2 {
    position: absolute;
    bottom: 150px;
    right: -105px;
    width: 231px;
    height: 392px;
    z-index: 1;
}
.about__img3 {
    position: absolute;
    top: 45px;
    left: -62px;
    width: 231px;
    height: 236px;
}
.about__img4 {
    position: absolute;
    top: 255px;
    right: 40px;
    width: 124px;
    height: 147px;
    z-index: 2;
}
.about-wrapper {
    margin-top: 142px;
}
.about__title {
    box-sizing: border-box;
    margin: 0px 0 24px;
    padding-right: 62px;
    font-size: 36px;
    line-height: 1.25;
    width: 100%;
}
.about__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 48px;
    width: 410px;
    white-space: pre-wrap;
}

// .about__date-preview {
// }
// .about__text-preview {
// }
.about__mouse {
    position: relative;
}
.mouse-point {
    position: absolute;
    top: 10px;
    left: 11px;
    animation: myMove 2s infinite linear;


}
@keyframes myMove {
    0% { transform: translateY(0);}
    80% { transform: translateY(15px);}
    100% { transform: translateY(0px);}
}
