<section class="about">
    <div class="about-container">
        <div class="about__helper">
            <div class="about-wrapper">
                <a class="btn" (click)="closeModal = false" *ngIf="isAuthorizated">Контент</a>
                <ng-container *ngIf="snippet">
                    <h2 class="about__title">{{snippet.title}}</h2>
                    <p class="about__text">{{snippet.text}}</p>
                    
                    <div class="about__news" *ngIf="snippet.showNews">

                        <a [routerLink]="news.title ? 
                            ['/news-shares/news/list/' + news._id]
                            : ['/news-shares/shares/list/' + news._id]" 
                          class="about__news-item" *ngFor="let news of newsSnippet; let i = index"
                          [class.active]="currentNews === i">
                            <div class="about__news-date">{{parseDate(news.created_at)}}</div>
                            <p class="about__news-title">{{news.title ? news.title : news.name}}</p>
                        </a>
                    </div>
                </ng-container>
                <div class="about__mouse">
                    <img src="/assets/img/home/mouse.svg" alt="mouse" class="mouse">
                    <img src="/assets/img/home/mouse-point.svg" alt="mouse" class="mouse-point">
                </div>
            </div>
            <div class="about-wrap">

                <!-- основа иллюстрации -->
                <!-- <img src="/assets/img/home/parallax/parallax1.png" alt="image" class="about__img about__img1"> -->
                <!-- новогодняя основа -->
                <img src="/assets/img/home/parallax/new-year/parallax1.png" alt="image" class="about__img about__img1">

                <!-- предметы интерьера (для нг не используются) -->
                <!-- <img src="/assets/img/home/parallax/parallax2.png" [ngStyle]="{ 'transform' : ('translateX(' + ( scrollTop * 25/100 + 'px)')) }" alt="image" class=" about__img2">-->
                <!-- <img src="/assets/img/home/parallax/parallax3.png" [ngStyle]="{ 'transform' : ('translateY(' + ( scrollTop * 30/100 + 'px)')) }" alt="image" class=" about__img3">-->

                <!-- кот -->
                <!-- <img src="/assets/img/home/parallax/parallax-cat.png" [ngStyle]="{ 'transform' : ('translateX(' + ( scrollTop * (-35/100) + 'px)')) }" alt="image" class=" about__img4">-->
                <!-- новогодний кот -->
                <img src="/assets/img/home/parallax/new-year/parallax-cat_new.png" [ngStyle]="{ 'transform' : ('translateX(' + ( scrollTop * (-35/100) + 'px)')) }" alt="image" class=" about__img4">
            </div>
        </div>

    </div>
</section>

<app-home-preview-admin *ngIf="!closeModal"
    (closeModal)="closeModal = $event"
    [(snippet)]="snippet">
</app-home-preview-admin>
