@import "../../../../../styles/modules/mixins/mixin";

.btn__container {
    cursor: pointer;
    width: 1280px;
    padding: 13px 32px;
    padding-top: 83px;
    margin: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.news__btn {
    font-size: 18px;
    padding: 13px 0 13px 36px;
    color: #000;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 46%;
        left: 0;
        transform: translateY( -50%);
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: url(/assets/img/arrow.svg) center no-repeat rgba($color: $col-black, $alpha: .03);
        transition: background-color .2s linear;
    }
    &:hover::before {
        background-color: rgba($color: $col-black, $alpha: .5);
    }
}

.news__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 0 96px;
    box-sizing: border-box;
}
.helper {
    width: 730px;
}

.news__text {
    padding: 0 88px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
    width: 730px;
    &-link {
        color: #ee4237;
        text-decoration: underline;
    }
}
.news__intro {
    padding: 0 88px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 730px;
}
.news__title {
    padding: 0 88px;
    font-size: 36px;
    line-height: 1.35;
    width: 560px;
}
.news__wrapper {
    padding: 0 32px;
}
.news__img {
    padding: 0 88px;
    display: block;
    width: 730px;
    // height: 410px;
    object-fit: cover;
    margin-bottom: 48px;
}
.image {
    padding: 0 88px;
    width: 730px;
    // height: 410px;
    margin-bottom: 20px;
}
.news__subtitle {
    padding: 0 88px;
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 1.25;
    width: 730px;
}
.img__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.news__image {
    display: block;
    width: 100%;
    &:first-child {
        margin-right: 24px;
    }
}


.news__category {
    color: #000;
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 2px;
    &::before {
        content: url(/assets/img/build.svg);
        margin-right: 5px;
    }
}

.news__date {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}


.news__assets-container {
    padding: 8px 0;
    background: #fff;
    margin: 0 auto 86px;

    &--margin {
        margin-bottom: 0;
    }
}
.news__assets-wrapper {
    padding: 0 120px 0 55px ;
}
.news__assets-item {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }
}
.news__assets-img {
    width: 70px;
    min-width: 70px;
    height: 100%;
    display: flex;
    align-items: center;

    &-error {
        width: 100%;
        height: 49px;
        background: url(/assets/img/flats/search/lock.svg);
        background-position-y: center;
    }
}
.news__assets-title {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 4px;
}
.news__assets-subtitle {
    color: rgba(0, 0, 0, 0.5);
}
.news__assets-square {
    font-size: 18px;
}
.news__assets-flat,
.news__assets-date,
.news__assets-decoration,
.news__assets-num,
.news__price-new,
.news__price-old {
    font-size: 18px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
}


.news__price-new {
    color: #ee4237;
}
.news__price-old  {
    text-decoration: line-through;
}

.news__share {
    padding: 0 88px;
    margin-top: 64px;
}
.news__share-wrap {
    display: flex;
    position: relative;
    align-items: center;
}
.share {
    margin-left: 24px;
}

.share__count {
    cursor: pointer;
    margin-left: 16px;
    padding-left: 52px;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        background-position: center;
        background-size: 42px 42px; 
        width: 42px;
        height: 42px;
        transition: background .3s linear;
    }
}
.share__count-vk {
    
    &::before {
        background-image:url(/assets/img/news/vk.svg);
    }
    &:hover::before {
        background-image:url(/assets/img/news/vk-hover.svg);
    }
}
.share__count-fb {
   
    &::before { 
        background-image:url(/assets/img/news/fb.svg);
    }
    &:hover::before {
        background-image:url(/assets/img/news/fb-hover.svg);
    }
}
.share__count-odnoclass  {
    &::before {
        background-image:url(/assets/img/news/odnoclass.svg);
    }
    &:hover::before {
        background-image:url(/assets/img/news/odnoclass-hover.svg);
    }
}
