@import "../../../../styles/modules/mixins/mixin";

.btn__container {
    cursor: pointer;
    width: 1280px;
    padding: 13px 32px;
    padding-top: 83px;
    margin: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}
.news__btn {
    font-size: 24px;
    padding: 13px 0 13px 36px;
    color: #000;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: url(/assets/img/arrow.svg) center no-repeat rgba($color: $col-black, $alpha: .3);
        transition: background-color .2s linear;
    }
    &:hover::before {
        background-color: rgba($color: $col-black, $alpha: .5);
    }
}

.news__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 88px 96px;
    box-sizing: border-box;
}
.helper {
    width: 730px;
}

.news__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
    &-link {
        color: #ee4237;
        text-decoration: underline;
    }
}
.news__intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.news__title {
    font-size: 36px;
    line-height: 1.35;
    width: 560px;
}
.news__img {
    display: block;
    width: 100%;
    // height: 410px;
    object-fit: cover;
    margin-bottom: 48px;
}
.image {
    width: 100%;
    // height: 410px;
    margin-bottom: 20px;
}
.news__subtitle {
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 1.25;
}
.img__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.news__image {
    display: block;
    width: 100%;
    &:first-child {
        margin-right: 24px;
    }

}


.news__category {
    color: #000;
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 2px;
    &::before {
        content: url(/assets/img/build.svg);
        margin-right: 5px;
    }

}

.news__date {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.news__share {
    margin-top: 64px;
}
.news__share-wrap {
    display: flex;
    position: relative;
}
.share {
    margin-left: 24px;
}
.share__count {
    cursor: pointer;
    margin-left: 16px;
    padding-left: 52px;
}
.share__count-vk {
    position: relative;
    &::before {
        position: absolute;
        top: -80%;
        left: 0;
        content: url(/assets/img/news/vk.svg);
    }
}
.share__count-fb {
    position: relative;
    &::before {
        position: absolute;
        top: -80%;
        left: 0;
        content: url(/assets/img/news/fb.svg);
    }
}
.share__count-odnoclass  {
    position: relative;
    &::before {
        position: absolute;
        top: -80%;
        left: 0;
        content: url(/assets/img/news/odnoclass.svg);
    }
}
