<app-admin-modal [formValid]="form.valid" (closeModal)="close($event)">

    <h2 class="members-settings__title">Настройка контента «Участники проекта»</h2>
    <div class="tabs">
        <form [formGroup]="form">
            <div class="tabs__wrap" formArrayName="data" *ngFor="let block of form.get('data')['controls']; let i = index; last as last">
                <ng-container formGroupName="{{i}}">

                    <div class="tabs__container">
                        <h2 class="tabs__title">Вакансия {{i + 1}}</h2>
                        <div class="tabs__nav">
                            <!--<a href="javascript:void(0)" class="tabs__nav-link">Выключить</a>-->
                            <label class="tabs__nav-link"><input hidden type="checkbox" formControlName="show">{{block.get('show').value ? 'Выключить' : 'Включить'}}</label>
                            <a href="javascript:void(0)" class="tabs__nav-link" (click)="popData(i)">Удалить</a>
                            <!--<a href="javascript:void(0)" *ngIf="i !== 0" class="tabs__nav-link" (click)="moveBlock(form.get('data')['controls'], i, -1)">Вверх</a>-->
                            <!--<a href="javascript:void(0)" *ngIf="!last" class="tabs__nav-link" (click)="moveBlock(form.get('data')['controls'], i, 1)">Вниз</a>-->
                        </div>
                    </div>

                    <div class="form">
                        <div class="form-item">
                            <input type="text" class="form-input info-input" formControlName="name" appSlideTopLabel>
                            <label class="form-label info-suptitle">Название вакансии</label>
                        </div>
                    </div>

                    <!--<button class="btn btn&#45;&#45;settings" (click)="pushMembers(i)">Добавить строку</button>-->
                    <div class="form__wrap">
                        <div class="form-item form-item--inline form-item--mr">
                            <input type="text" class="form-input info-input" formControlName="text" appSlideTopLabel>
                            <label class="form-label info-suptitle">Текст для ссылки</label>
                        </div>
                        <div class="form-item form-item--inline">
                            <input type="text" class="form-input info-input" formControlName="url" appSlideTopLabel>
                            <label class="form-label info-suptitle">URL</label>
                        </div>
                    </div>
                </ng-container>

            </div>
        </form>

        <button class="btn btn--settings btn--margin" (click)="pushData()">Добавить блок</button>

    </div>

</app-admin-modal>
