<div class="info">
    <h1 class="info__title">2 комнатная, №45</h1>
    <span class="info__subtitle">ЖК Дом на Барвихинской</span>

    <!--
        Показываем алерт только для квартир «Скоро в продаже»
    -->
    <div class="info__alert">
        <p class="info__alert-text">
            Квартира пока не&nbsp;в&nbsp;продаже. Вы&nbsp;можете
            забронировать ее&nbsp;на&nbsp;индивидуальных условиях,
            связавшись с&nbsp;менеджером отдела продаж.
        </p>
    </div>

    <ul class="info__list">
        <li class="info__item">
            <p class="info__item-title">Площадь</p>
            <p class="info__item-value">104.78 м<sup>2</sup></p>
        </li>
        <li class="info__item">
            <p class="info__item-title">Дом</p>
            <p class="info__item-value">1</p>
        </li>
        <li class="info__item">
            <p class="info__item-title">Секция</p>
            <p class="info__item-value">1</p>
        </li>
        <li class="info__item">
            <p class="info__item-title">Этаж</p>
            <p class="info__item-value">12</p>
        </li>
        <li class="info__item">
            <p class="info__item-title">Отделка</p>
            <p class="info__item-value">Модерн</p>
        </li>
        <li class="info__item">
            <p class="info__item-title">Стоимость</p>
            <p class="info__item-value">10 493 773 ₽</p>
        </li>
        <li class="info__item">
            <p class="info__item-title">Срок сдачи</p>
            <p class="info__item-value">01.09.2022</p>
        </li>
    </ul>
</div>
