@font-face {
    font-family: 'Leksa';
    src: url('/assets/fonts/Leksa.otf');
    src: local('Leksa'), local('Leksa'),
    url('/assets/fonts/Leksa.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/assets/fonts/MuseoSansCyrl_300.otf');
    src: local('Museo'), local('Museo'),
    url('/assets/fonts/MuseoSansCyrl_300.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/assets/fonts/MuseoSansCyrl_500.otf');
    src: local('Museo'), local('Museo'),
    url('/assets/fonts/MuseoSansCyrl_500.otf');
    font-weight: 500;
    font-style: normal;
}


// New -->
@font-face {
    font-family: 'Formular';
    src: url('/assets/fonts/formular/Formular-Bold.eot');
    src: url('/assets/fonts/formular/Formular-Bold.eot') format('embedded-opentype'),
         url('/assets/fonts/formular/Formular-Bold.woff2') format('woff2'),
         url('/assets/fonts/formular/Formular-Bold.woff') format('woff'),
         url('/assets/fonts/formular/Formular-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'ProbaPro';
  src: url('/assets/fonts/probapro/ProbaProRegular.otf');
  font-style: normal;
  font-weight: normal;
}
