<div class="objects-inner">
    <div class="objects__item-container">
        <div *ngFor="let snippet of snippets; let i = index" class="objects__item" appDragNDropJk [i]="i" [jkMas]="snippets" [isAuthorizated]="isAuthorizated">
            <a routerLink="/objects/list/{{snippet._id}}" class="objects__item-link" *ngIf="!isAuthorizated"></a>
            <img [src]="uploadsPath + snippet.image" alt="img" class="objects__item-img">
            <div class="objects__item-location">{{snippet.address}}</div>
            <div class="objects__item-wrapper">
                <div class="objects__item-title__wrapper">
                    <label class="objects__item-ilike objects__item-ilike--admin g-checkbox" *ngIf="isAuthorizated">
                        <input type="checkbox" [style.display]="'none'" [checked]="snippet.ilike" (change)="setIlike($event, snippet)">
                        <div></div>
                        <svg width="66" height="24" viewBox="0 0 66 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M66 14.021V0H0V24H55.0963L66 14.021Z" fill="#ee4237"/>
                            <path d="M9.32398 5.55261H5.81592V17.8464H9.32398V5.55261Z" fill="white"/>
                            <path d="M24.9889 14.626V17.8464H15.9077V5.55261H19.4158V14.626H24.9889Z" fill="white"/>
                            <path d="M29.7632 5.55261H26.2551V17.8464H29.7632V5.55261Z" fill="white"/>
                            <path d="M44.8457 17.8464H40.614L36.7308 12.6824H35.5174V17.8464H32.0049V5.55261H35.5174V10.2351L36.6426 10.2395L40.1683 5.55261H44.5545L39.8726 11.4057L44.8457 17.8464Z" fill="white"/>
                            <path d="M49.3819 8.77293V10.2351H52.7972V12.9872H49.3819V14.626H54.0593V17.8464H45.8694V5.55261H54.0593V8.77293H49.3819Z" fill="white"/>
                        </svg>
                    </label>
                    <a href="//ilike.ru" target="_blank" class="objects__item-ilike" *ngIf="!isAuthorizated && !!snippet.ilike">
                        <svg width="66" height="24" viewBox="0 0 66 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M66 14.021V0H0V24H55.0963L66 14.021Z" fill="#ee4237"/>
                            <path d="M9.32398 5.55261H5.81592V17.8464H9.32398V5.55261Z" fill="white"/>
                            <path d="M24.9889 14.626V17.8464H15.9077V5.55261H19.4158V14.626H24.9889Z" fill="white"/>
                            <path d="M29.7632 5.55261H26.2551V17.8464H29.7632V5.55261Z" fill="white"/>
                            <path d="M44.8457 17.8464H40.614L36.7308 12.6824H35.5174V17.8464H32.0049V5.55261H35.5174V10.2351L36.6426 10.2395L40.1683 5.55261H44.5545L39.8726 11.4057L44.8457 17.8464Z" fill="white"/>
                            <path d="M49.3819 8.77293V10.2351H52.7972V12.9872H49.3819V14.626H54.0593V17.8464H45.8694V5.55261H54.0593V8.77293H49.3819Z" fill="white"/>
                        </svg>
                    </a>
                    <p class="objects__item-title">{{snippet.name}}</p>
                </div>
                <p class="objects__item-status">{{snippet.subtext}}</p>
            </div>
            <div class="objects__item__edit" *ngIf="isAuthorizated">
                <button class="objects__item__edit-item" (click)="onSelectItem(snippet._id)"
                        [class.objects__item__edit-item_active]="snippet._id == activeTooltip"><span></span></button>

                <div class="objects__item__tooltip">
                    <div class="objects__item__tooltip-item" (click)="redactSnippet.emit(snippet._id)">Редактировать
                    </div>
                    <div class="objects__item__tooltip-item"
                         (click)="snippet.show_on_main = false; updateSnippet.emit(snippet)"
                         *ngIf="snippet.show_on_main">Убрать с главной
                    </div>
                    <div class="objects__item__tooltip-item"
                         (click)="snippet.show_on_main = true; updateSnippet.emit(snippet)"
                         *ngIf="!snippet.show_on_main && snippet.publish">На главную
                    </div>
                    <div class="objects__item__tooltip-item"
                         (click)="snippet.publish = false; snippet.show_on_main = false; updateSnippet.emit(snippet)"
                         *ngIf="snippet.publish">В черновик
                    </div>
                    <div class="objects__item__tooltip-item"
                         (click)="snippet.publish = true; updateSnippet.emit(snippet)" *ngIf="!snippet.publish">
                        Опубликовать
                    </div>
                    <div class="objects__item__tooltip-item" (click)="deleteSnippet.emit(snippet._id)">Удалить</div>
                </div>
            </div>
            <p class="objects__item-grabber" *ngIf="isAuthorizated"></p>
        </div>
    </div>
</div>

