@import "../../styles/modules/mixins/mixin.scss";

.footer {
    width: 100%;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    &__container {
        width: calc(100% - 64px);
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__wrap {
        display: flex;
        margin-right: 20px;
    }
    &__socials {
        display: flex;
        margin-right: 24px;

        &-link {
            display: block;
            width: 29px;
            height: 29px;
            margin-right: 16px;
            background: center no-repeat;
            &:last-child { margin: 0; }

            &_insta { background-image: url(/assets/img/footer/insta.svg); }
            &_fb { background-image: url(/assets/img/footer/fbook.svg); }
        }
    }
    &__copyright {
        font: 18px/23px $font-proba;
        color: $col-black;
    }
    &__background-link {
        display: block;
        height: 23px;
        font: 18px/23px $font-proba;
        color: $col-black;
        border-bottom: 1px solid $col-black;
        position: relative;
        margin-left: 24px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -16px - 8px;
            width: 16px;
            height: 20px;
            background: url(/assets/img/footer/background.svg) center no-repeat;
        }
    }
}

@media (max-width: 564px) {
    .footer {
        height: 104px;
        &__container {
            width: calc(100% - 40px);
            align-items: flex-end;
        }
        &__wrap {
            flex-flow: column-reverse nowrap;
            align-items: flex-start;
        }
        &__copyright {
            margin: 0 0 12px;
            white-space: nowrap;
        }
        &__background-link {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}