<footer class="footer" [class.isContacts]="isContacts">
    <div class="footer__container">
        <p class="footer__info">
            Любая информация, представленная на&nbsp;сайте, носит
            информационный характер и&nbsp;ни&nbsp;при каких условиях
            не&nbsp;является публичной офертой, как она определена статьей
            427 Гражданского кодекса Российской Федерации
        </p>
        <div class="footer__bottom">
            <div class="footer__wrap">
                <div class="footer__socials">
                    <a href="https://www.instagram.com/3red.official/"
                       class="footer__socials-link footer__socials-link_insta"></a>
                    <a href="https://www.facebook.com/3red.official/"
                       class="footer__socials-link footer__socials-link_fb"></a>
                </div>
                <p class="footer__copyright">© ООО «Тройка РЭД» 2012 — {{currentYear}}</p>
            </div>
            <a class="footer__background-link" href="http://background.digital/">background</a>
        </div>
    </div>
</footer>
