@import "../../../../styles/modules/mixins/mixin";

.object-storage {
    width: 100%;
    margin: 0 0 96px;
    display: flex;
    justify-content: center;
    margin: 0 0 96px;

    &__item {
        width: 100%;
        height: 263px;
        padding: 24px 40px;
        box-sizing: border-box;
        position: relative;
        transition: background-position .5s ease-in-out;
        cursor: pointer;

        &_storeroom {
            background: url(/assets/img/jk-object/dog.png) 104% 16px no-repeat #b3e5e4;
            margin: 0 0 24px;
            @media (min-width: 1023px) {
                &:hover { background-position: calc(107% - 50px) 16px; }
            }
        }
        &_parking {
            background: url(/assets/img/jk-object/car.png) 135% 16px no-repeat #ffd292;
            @media (min-width: 1023px) {
                &:hover { background-position: calc(135% - 50px) 16px; }
            }
        }

        &-title { margin: 0 0 4px; }
        &-descr {
            max-width: 415px;
            font: 18px/24px $font-proba;
            color: $col-black-5;
            margin: 0 0 24px;
        }
        &-price {
            font: 48px/58px $font-proba;
            color: $col-black;
            position: absolute;
            left: 70px;
            bottom: 32px;
        }
    }
}

@media (max-width: 760px) {
    .object-storage {

        &__item {
            height: calc(40.922vw + (263px - 40.922vw) + ((760px - 100vw) / 2));
            min-height: 263px;
            max-height: 416px;
            padding: 24px;

            &_storeroom {
                background-size: 192px 180px;
                background-position: right bottom;
            }
            &_parking {
                background-size: 222px 174px;
                background-position: right bottom;
            }

            &-descr { margin: 0 0 12px; }
            &-price {
                position: static;
                font-size: 32px;
                line-height: 38px;
            }
        }
    }
}