
<section class="parking-list">

    <div class="parking-list__nav">
        <div class="parking-list__nav-container">

            <a routerLink="/objects/list/{{objectId}}" class="parking-list__nav-back">ЖК {{objectName}}</a>

            <ul class="parking-list__nav-list">
                <li><a routerLink="/objects/list/{{objectId}}/flats" routerLinkActive="active" class="parking-list__nav-link">Квартиры</a></li>
                <li><a routerLink="/objects/list/{{objectId}}/storage" routerLinkActive="active" class="parking-list__nav-link">Кладовые</a></li>
                <li><a routerLink="/objects/list/{{objectId}}/parking" routerLinkActive="active" class="parking-list__nav-link">Машиноместа</a></li>
                <li><a class="parking-list__nav-link">Коммерческая недвижимость</a></li>
            </ul>
        </div>
    </div>

    <div class="parking-list__container">

        <h2 class="parking-list__title">Машиноместа в ЖК {{objectName}}</h2>

        <!-- routerLink=":house/:section/:floor" -->
        <a routerLink="1/1/0" class="parking-list__houses">
            <h2 class="parking-list__houses-title">Дом 1</h2>

            <div class="parking-list__sections">
                <div class="parking-list__sections-count">Секция 1</div>
                <div class="parking-list__sections-floor">Этаж 0</div>
                <div class="parking-list__sections-price">от 487 415 Р</div>
            </div>
        </a>
    </div>
</section>