<div class="search-output" *ngIf="flatsList" #container>

    <div class="search-output__result">
        <div *ngFor="let flat of flatsList; let i = index" class="search-output__result-wrap">
            <app-flat-snippet
                [flatsList]="flatsList"
                [flatData]="flat"
                [jkName]="jk.name"
                (openApartmentModal)="openApartmentModal(i)">
            </app-flat-snippet>
        </div>
    </div>
    <div class="search-output__btn">
        <button class="search-output__btn-show btn_var-3" *ngIf="showMore" (click)="loadMore.emit()">Показать еще</button>
        <button class="search-output__btn-up btn-empty" (click)="scrollToTop()">Наверх</button>
    </div>

</div>

<app-flats-apartment-modal *ngIf="showApartmentWindow"
    [jk]="jk"
    [showApartmentWindow]="showApartmentWindow"
    [flatsList]="flatsList"
    [flatIndex]="selectedFlatIndex"
    (close)="showApartmentWindow = false; windowScrollLocker.unblock()">
</app-flats-apartment-modal>
