<div class="plan flats_main">

    <div class="object-flat__house">
        <a class="object-flat__house-item object-flat__house-item_house-{{house.houseNumber}}" *ngFor="let house of housesPlanSvg"
          [routerLink]="'/objects/list/' + objectId + '/flats/house/' + house.houseNumber" [queryParams]="{'houses' : house.houseNumber}">
            <h3 class="object-flat__house-title">Дом №{{house.houseNumber}}</h3>
            <p class="object-flat__house-flats">{{house.freeFlats ? house.freeFlats + ' кв' : 'не в продаже'}}</p>
            <p class="object-flat__house-price">от {{house.minPrice}} млн Р</p>
        </a>
    </div>
</div>
