<div class="btn__container">
    <a class="news__btn" href="javascript:void(0)" (click)="location.back()">Назад</a>
</div>

<section class="news" *ngIf="snippet">
    <div class="news__container">
        <div class="news__intro">
            <div class="news__date">{{parseCreatedAtDate(snippet.created_at)}}</div>
            <div class="news__category" *ngIf="snippet.objectName">{{snippet.objectName}}</div>
        </div>
        <h2 class="news__title">{{snippet.name}}</h2>
        <p class="news__text">{{snippet.text}}</p>
        <img [src]="uploadsPath + snippet.mainImage" alt="image" class="news__img">

        <ul class="news__wrapper">
            <li *ngFor="let b of snippet.body; let i = index"
                [ngSwitch]="b.blockType">

                <article *ngSwitchCase="'title'" class="news__subtitle">{{b.blockTitle}}</article>

                <article *ngSwitchCase="'description'" class="news__text" [innerHTML]="b.blockDescription"></article>

                <img *ngSwitchCase="'image'" [src]="uploadsPath + b.blockImg.image" alt="image" class="image">

                <div *ngSwitchCase="'flats'" class="news__assets">
                    <div class="news__assets-container" [class.news__assets-container--margin]="(snippet.body.length > i + 1) && snippet.body[i + 1].blockType === 'flats'">
                        <div class="news__assets-wrapper">
                            <a (click)="openApartmentModal(i)" class="news__assets-item">
                                <div class="news__assets-img">
                                    <img (error)="img.style.display = 'none'"
                                         [src]="b.blockFlat.scheme" alt="" #img>
                                    <div *ngIf="img.style.display === 'none'" class="news__assets-img-error g-3red"></div>
                                </div>
                                <div class="news__assets-wrap">
                                    <p class="news__assets-title">{{b.blockFlat.room}}-комнатная, №{{b.blockFlat.number}}</p>
                                    <p class="news__assets-subtitle">ЖК {{b.blockFlat.jkName}}</p>
                                </div>
                                <div class="news__assets-square">{{b.blockFlat.space}} м²</div>
                                <div class="news__assets-flat">Этаж {{b.blockFlat.floor}}</div>
                                <div class="news__assets-date">{{b.blockFlat.deliveryDate}}</div>
                                <div class="news__assets-decoration">{{b.blockFlat.decorationName}}</div>
                                <div class="news__assets-num">Дом {{b.blockFlat.house}}</div>
                                <div class="news__assets-price">
                                    <div class="news__price-new">{{(b.blockFlat.price - getDiscount(b.blockFlat)).toFixed(2) | bitNumber}} ₽</div>
                                    <div class="news__price-old">{{b.blockFlat.price | bitNumber}} ₽</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </li>
        </ul>

        <div class="news__share">
            <div class="news__share-wrap">
                <p class="share">Поделиться:</p>
                <div class="share__count share__count-vk" (click)="clickShare('vk')">{{snippet.shareCount.vk}}</div>
                <div class="share__count share__count-fb" (click)="clickShare('fb')">{{snippet.shareCount.fb}}</div>
                <div class="share__count share__count-odnoclass" (click)="clickShare('ok')">{{snippet.shareCount.ok}}</div>
            </div>
        </div>
    </div>

</section>

<app-flats-apartment-modal *ngIf="showApartmentWindow"
    [showApartmentWindow]="showApartmentWindow"
    [flatsList]="shareFlats"
    [flatIndex]="selectedFlatIndex"
    (close)="showApartmentWindow = false; windowScrollLocker.unblock()">
</app-flats-apartment-modal>
