@import "../../../../styles/modules/mixins/mixin";

.object-purchase {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 94px 0 0;

    &__head {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin: 0 0 16px;
    }
    
    &__title { margin: 0 0 24px; }
    &__list {
        background-color: $col-white;
        padding: 24px 40px;

        &-wrap {
            display: none;
            margin: 0 0 16px;
        }
        &-percent,
        &-deadline,
        &-initial {
            &+ div { margin: 12px 0 0; }
            &> span {
                display: block;
                font: 18px/23px $font-proba;
                color: $col-black;
                &:last-child { color: $col-black-5; }
            }
        }

        &-banks {
            display: none;
            width: 280px;
        }
    }
}

@media (max-width: 767px) {

    .object-purchase {
        background-color: $col-white;
        padding: 48px 0 40px;

        &__head { margin: 0 0 24px; }
        &__title {
            @include font-size(28px,34px);
            margin: 0 0 24px;
        }

        &__list {
            padding: 0;
            &-banks,
            &-wrap { display: block; }
        }
    }
}