<section class="object-purchase">

    <div class="object-item__container object-purchase__container">

        <div class="object-purchase__head">
            <input type="checkbox" name="switch" id="purchase-switch" class="switch">
            <label *ngIf="isAuthorizated" for="purchase-switch" class="object-item__title">Условия покупки</label>
            <h2 *ngIf="!isAuthorizated">Условия покупки</h2>
        </div>

        <div class="object-purchase__options" *ngIf="isAuthorizated">
            <button class="btn__admin-setting">Настройки</button>
        </div>
        
        <nav class="object-purchase__nav">
            <ul class="object-purchase__nav-list" *ngIf="!isAuthorizated">
                <li class="object-purchase__nav-item" (click)="showType = 'credit'"
                    [ngClass]="{'object-purchase__nav-item_active': showType === 'credit'}">Ипотека</li>
                <li class="object-purchase__nav-item" (click)="showType = 'installment'"
                    [ngClass]="{'object-purchase__nav-item_active': showType === 'installment'}">Рассрочка</li>
            </ul>
        </nav>

        <div class="object-purchase__list" *ngIf="showType === 'credit'">

            <app-object-credit-output  *ngIf="showType === 'credit'"
                [isAuthorizated]="isAuthorizated"
                [bankList]="mockBank">
            </app-object-credit-output>

        </div>
        
        <app-object-item-installment 
            *ngIf="showType === 'installment'">
        </app-object-item-installment>
    </div>
</section>
