<section class="object-purchase" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container">

        <div [class.object-purchase__head]="switchOn" *ngIf="isAuthorizated">
            <input type="checkbox" name="switch" id="purchase-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="purchase-switch" class="object-item__title">Условия покупки</label>
        </div>

        <ng-container *ngIf="switchOn">

            <h2 class="object-purchase__title" *ngIf="!isAuthorizated">Условия покупки</h2>

            <div class="object-purchase__options" *ngIf="isAuthorizated">
                <button class="btn__admin-setting" (click)="closeModal = false">Настройки</button>
            </div>

            <nav class="object-purchase__nav">
                <nav-menu *ngIf="!isAuthorizated"
                    [navList]="navList"
                    [linkType]="'else'"
                    (routeNavigate)="showType = $event"
                ></nav-menu>
            </nav>

            <div class="object-purchase__list" *ngIf="showType === 'credit'">

                <app-object-credit-output *ngIf="showType === 'credit' && snippet?.banks"
                    [isAuthorizated]="isAuthorizated"
                    [bankList]="snippet.banks">
                </app-object-credit-output>

            </div>

            <app-object-item-installment
                *ngIf="showType === 'installment'">
            </app-object-item-installment>

        </ng-container>

    </div>
</section>

<app-objects-item-credit-admin *ngIf="!closeModal"
    [id]="objectId"
    [(snippet)]="snippet"
    (closeModal)="closeModal = $event">
</app-objects-item-credit-admin>
