@import "../../../../styles/modules/mixins/mixin";

.object-purchase {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__head { margin: 0 0 16px; }

    &__options {
        margin: 0 0 16px;
        .btn__admin-setting { margin-right: 8px; }
    }
    &__title { margin: 0 0 24px; }

    &__nav {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 16px;

        &-list {
            display: flex;
            border-bottom: 1px solid #d8d8d8;
        }
        &-item {
            font: 18px/23px $font-proba;
            color: $col-black-5;
            position: relative;
            padding: 0 0 8px;
            margin-right: 16px;
            cursor: pointer;
            &:last-child { margin-right: 0; }
            &:hover { color: $col-red_hover; }
            &::before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #d8d8d8;
            }
            &_active {
                color: $col-red;
                &::before { background-color: $col-red; }
            }
        }
    }
    &__list {
        background-color: $col-white;
        padding: 56px 0 40px;
    }
}
