<div class="news__list">

    <ng-container *ngFor="let snippet of snippets">
        <div  class="news__list-item">
            <a [routerLink]="['/news-shares/news/list/' + snippet._id]" class="news__item" *ngIf="snippet.title">
                <div class="news__category" [class.news__category--exist]="snippet.objectName">{{snippet.objectName}}</div>
                <div class="news__img-wrap">
                    <img [src]="newsUploadsPath + snippet.thumbnail" alt="news" class="news__image">
                </div>
                <p class="news__list-title">{{snippet.title}}</p>
                <div class="news__date">{{parseCreatedAtDate(snippet.created_at)}}</div>
            </a>

            <a [routerLink]="['/news-shares/shares/list/' + snippet._id]" class="news__item" *ngIf="snippet.name">
                <div class="news__category" [class.news__category--exist]="snippet.objectName">{{snippet.objectName}}</div>
                <div class="news__img-wrap" [class.news__img-wrap--stock]="snippet.countdown">
                    <p class="news__stock">Акция</p>
                    <div class="news__timing" *ngIf="snippet.countdown && countDown(snippet.finish_date) >= 0">
                        <img src="/assets/img/news/clock.svg" alt="clock">
                        <p>{{countDown(snippet.finish_date) | sharesDayPipe}} до конца акции</p>
                    </div>
                    <p class="news__propose" *ngIf="snippet.countdown && countDown(snippet.finish_date) < 0"> Акция закончилась</p>
                    <img [src]="sharesUploadsPath + snippet.mainThumbnail" alt="news" class="news__image">
                </div>
                <p class="news__list-title">{{snippet.name}}</p>
                <div class="news__date">{{parseCreatedAtDate(snippet.created_at)}}</div>
            </a>
        </div>
    </ng-container>

</div>
