<section class="object-members" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container">

        <div [class.object-members__head]="switchOn">
            <input type="checkbox" name="switch" id="members-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="members-switch" class="object-item__title">Участники проекта</label>
        </div>

        <ng-container *ngIf="switchOn">
            <h2 class="object-members__title" *ngIf="!isAuthorizated">Участники проекта</h2>

            <div class="object-members__options" *ngIf="isAuthorizated">
                <button class="btn__admin-content btn_var-2" (click)="closeModal = false">Контент</button>
            </div>

            <div class="object-members__wrap" *ngIf="snippet?.data">

                <div class="object-members__wrap object-members__wrap_members" *ngFor="let block of snippet.data">
                    <p class="object-members__text object-members__text_for-title">{{block.name}}</p>

                    <ng-container *ngFor="let member of block.members">
                        <a class="object-members__text"
                           href="{{member.url}}"
                           target="_blank"
                           *ngIf="member.url">
                            {{member.name}}
                        </a>
                        <p class="object-members__text object-members__text_black"
                           *ngIf="!member.url">
                            {{member.name}}
                        </p>
                    </ng-container>


                </div>
            </div>
        </ng-container>

    </div>
</section>

<app-objects-item-members-admin *ngIf="!closeModal"
    [id]="objectId"
    [(snippet)]="snippet"
    (closeModal)="closeModal = $event">
</app-objects-item-members-admin>
