<div class="news__list">

    <ng-container *ngFor="let snippet of snippetsArray">
        <div  class="news__list-item">
            <a [routerLink]="['/news-shares/news/list/' + snippet._id]" class="news__item" *ngIf="snippet.title">
                <div class="news__category" [class.news__category--exist]="snippet.objectName">{{snippet.objectName}}</div>
                <div class="news__img-wrap">
                    <img [src]="uploadsPath + snippet.thumbnail" height="264" alt="news" class="news__image">
                </div>
                <p class="news__list-title">{{snippet.title}}</p>
                <div class="news__date">{{parseCreatedAtDate(snippet.created_at)}}</div>
            </a>
        </div>
    </ng-container>

</div>
