<section class="news">
    <div class="news__container">
        <h2 class="news__title">Новости</h2>

        <button class="btn-admin-2 btn-admin-2--settings" (click)="createSnippet()" *ngIf="isAuthorizated">Добавить акцию</button>

        <nav class="news__nav">
            <nav-menu
                [navList]="navList"
                [activePointDefault]="2"
            ></nav-menu>
        </nav>

        <div class="news__list">
            <app-news-shares-snippet *ngFor="let snippet of shares"
                [isAuthorizated]="isAuthorizated"
                [snippet]="snippet"
                (deleteShareSnippet)="deleteSnippet($event)"
                (redactShareSnippet)="redactSnippet($event)"
                (updateShareSnippet)="updateSnippet($event)">
            </app-news-shares-snippet>
        </div>

    </div>
</section>

<app-shares-edit class="admin-controll"
    *ngIf="isAuthorizated && isCreateRedactForm"
    (snippetsChange)="snippetsChange($event)"
    (close)="isCreateRedactForm = false; windowScrollLocker.unblock()"
    [redactId]="redactId" [isForm]="isCreateRedactForm">
</app-shares-edit>

<app-shares-delete class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange()"
    (close)="isDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="shares"
    [redactId]="redactId" [isForm]="isDeleteForm">
</app-shares-delete>
