<section class="news">
    <div class="news__container">
        <h2 class="news__title">Новости</h2>

        <button class="btn-admin-2 btn-admin-2--settings" (click)="createSnippet()" *ngIf="isAuthorizated">Добавить акцию</button>

        <div class="tabs__wrap">
            <ul class="tabs">
                <li><a routerLink="/news-shares/all" [routerLinkActive]="['tab--active']" class="tab">Все</a></li>
                <li><a routerLink="/news-shares/news" [routerLinkActive]="['tab--active']" class="tab">Новости</a></li>
                <li><a routerLink="/news-shares/shares" [routerLinkActive]="['tab--active']" class="tab">Акции</a></li>
            </ul>
        </div>

        <app-shares-items
            (deleteSnippet)="deleteSnippet($event)"
            (redactSnippet)="redactSnippet($event)"
            (updateSnippet)="updateSnippet($event)"
            [isAuthorizated]="isAuthorizated"
            [snippets]="shares">
        </app-shares-items>

    </div>
</section>

<app-shares-edit class="admin-controll"
    *ngIf="isAuthorizated && isCreateRedactForm"
    (snippetsChange)="snippetsChange($event)"
    (close)="isCreateRedactForm = false; windowScrollLocker.unblock()"
    [redactId]="redactId" [isForm]="isCreateRedactForm">
</app-shares-edit>

<app-shares-delete class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange()"
    (close)="isDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="shares"
    [redactId]="redactId" [isForm]="isDeleteForm">
</app-shares-delete>
