@import "../../../../styles/modules/mixins/mixin";

.examples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    &__example {
        width: 256px;
        height: 160px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &-link {
            position: relative;
            border: 1px solid $col-red;
            box-sizing: border-box;
            transition: background-color .2s, border-color .2s;

            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                right: 24px;
                bottom: 16px;
                background-size: contain;
                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4897 17.38L20.8207 12.9519L1.93103 12.9519C1.41379 12.9519 1 12.5288 1 12C1 11.4712 1.41379 11.0481 1.93103 11.0481L20.8207 11.0481L16.4897 6.62C16.3103 6.43667 16.2138 6.18988 16.2138 5.95014C16.2138 5.70335 16.3034 5.46361 16.4897 5.28028C16.8552 4.90657 17.4414 4.90657 17.8069 5.28028L23.7241 11.3301C23.8966 11.5064 24 11.7532 24 12C24 12.2538 23.9034 12.4936 23.7241 12.6699L17.8069 18.7197C17.4414 19.0934 16.8552 19.0934 16.4897 18.7197C16.131 18.3531 16.131 17.7467 16.4897 17.38Z' fill='%23E52628'/%3E%3C/svg%3E%0A") no-repeat center;
                transition: background-image .2s, right .2s;
            }

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 16px 24px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                box-sizing: border-box;
            }

            &-title, &-desc {
                transition: color .2s;
            }

            &-title {
                font: $font-24;
                color: $col-red;
                margin: 0 0 4px;
            }

            &-desc {
                font: $font-14;
                color: $col-black-5;
            }

            &:hover {
                border-color: $col-red_hover;
                background-color: $col-red_hover;

                & > a > * {
                    color: $col-white;
                }

                &::before {
                    right: 16px;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4897 17.38L20.8207 12.9519L1.93103 12.9519C1.41379 12.9519 1 12.5288 1 12C1 11.4712 1.41379 11.0481 1.93103 11.0481L20.8207 11.0481L16.4897 6.62C16.3103 6.43667 16.2138 6.18988 16.2138 5.95014C16.2138 5.70335 16.3034 5.46361 16.4897 5.28028C16.8552 4.90657 17.4414 4.90657 17.8069 5.28028L23.7241 11.3301C23.8966 11.5064 24 11.7532 24 12C24 12.2538 23.9034 12.4936 23.7241 12.6699L17.8069 18.7197C17.4414 19.0934 16.8552 19.0934 16.4897 18.7197C16.131 18.3531 16.131 17.7467 16.4897 17.38Z' fill='white'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

