<app-admin-modal [formValid]="form.valid" (closeModal)="close($event)">

        <h2 class="dynamic-content__title dynamic-content__title_out-path">Настройка контента, {{ monthArray[month - 1] }} {{year}}</h2>

        <form [formGroup]="form">

            <div class="dynamic-content__wrap dynamic-content__wrap_path"
                 [ngClass]="{'dynamic-content__wrap_disabled': !object.get('show').value}"
                 formArrayName="objects"
                 *ngFor="let object of form.get('objects')['controls']; let i = index">

                <ng-container formGroupName="{{i}}">

                    <div class="dynamic-content__wrap dynamic-content__wrap_head">

                        <!--<h3 class="dynamic-content__title dynamic-content__title_in-path">Дом №1</h3>-->

                        <label class="dynamic-settings__btn dynamic-settings_switch btn-empty">
                            <input hidden type="checkbox" formControlName="show">{{object.get('show').value ? 'Выключить' : 'Включить'}}
                        </label>
                        <button class="dynamic-settings__btn dynamic-settings_switch btn-empty" (click)="popObject(i)">Удалить</button>
                    </div>

                    <div class="form">
                        <div class="form-item">
                            <input type="text" class="form-input info-input" appSlideTopLabel formControlName="title">
                            <label class="form-label info-suptitle">Название объекта</label>
                        </div>
                    </div>

                    <div class="dynamic-content__wrap dynamic-content__wrap_area">

                        <div class="form-item">
                            <input type="text" class="form-input info-input dynamic-content__input_descr" appSlideTopLabel formControlName="description">
                            <label class="form-label info-suptitle">Описание работ</label>
                        </div>
                        <div class="form-item">
                            <input type="text" class="form-input info-input dynamic-content__input_complite" appSlideTopLabel
                                   [value]="object.get('ready').value"
                                   (input)="removeChars($event)"
                                   (change)="changeReady(i, $event.target.value)">
                            <label class="form-label info-suptitle">Готовность объекта, %</label>
                        </div>
                    </div>

                    <label class="dynamic-content__btn dynamic-content__btn_upload-image btn-admin">Загрузить фото
                        <input style="display: none;" type="file" accept=".jpg" (change)="imageUpload($event, i)">
                    </label>

                    <ul class="dynamic-content__image" *ngIf="object.get('images')['controls'].length">
                        <li class="dynamic-content__image-item" formArrayName="images" *ngFor="let image of object.get('images')['controls']; let j = index">
                            <img [src]="uploadsPath + image.value.thumbnail" alt="dynamic image">
                            <button class="dynamic-content__btn dynamic-content__btn_del-image" (click)="deleteImage(i, j)"><span></span></button>
                        </li>
                    </ul>

                </ng-container>
            </div>

        </form>

        <button class="btn btn--settings" (click)="pushObject()">Добавить объект</button>

</app-admin-modal>
