@import "../../../../../../styles/modules/mixins/mixin";


.info-input {
    width: 100%;
    border: 0;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    background: transparent;
    outline: none;
    padding-bottom: 8px;
    font-size: 18px;
}
.info-suptitle, .info-input {
    display: block;
    font-family: inherit;
}
.info-suptitle {
    font-size: 18px;
    color: #000;
    opacity: .5;
}

.btn {
    margin: 24px 0 ;
    display: inline-block;
    background:  rgba(0, 0, 0, 0.56);
    padding:10px 16px;
    font-family: inherit;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--settings {
    background: #454545;
    margin-top: 0;
    &:hover {
        background: rgba(0, 0, 0, .7);
    }
    &::before {
        content:url(/assets/img/jk-object/admin-modal/plus.svg);
        margin-right:5px ;
    }
}

.dynamic-content {

    &__container {
        width: 916px;
        padding: 48px 70px;
        box-sizing: border-box;
        position: relative;
        background-color: $col-white;
    }

    &__title {

        &_out-path { margin: 0 0 24px; }
    }

    &__btn {

        &_close-main,
        &_success-main {
            position: absolute;
            left: calc(100% + 24px);
        }
        &_close-main   { top: 0; }
        &_success-main { top: 56px; }

        &_save { margin-right: 8px; }
        &_cancel {
            height: 48px;
            padding: 0 16px 0 8px;
        }

        &_upload-image { background-image: url(/assets/img3red/news_shares/camera.svg); }
        &_del-image {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            position: absolute;
            top: -8.5px;
            left: -8.5px;
            background-color: $col-red;
            display: flex;
            justify-content: center;

            span {
                display: block;
                width: 7px;
                height: 1px;
                position: relative;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }
                &::before { transform: rotate(45deg); }
                &::after { transform: rotate(-45deg); }
            }
        }
        &_del-object {
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            margin-top: 37px;
            cursor: pointer
        }
    }

    &__wrap {

        &_head {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0 0 54px;
        }
        &_path {
            width: 100%;
            padding: 16px 24px 32px;
            box-sizing: border-box;
            background-color: $col-ef;
            margin: 0 0 8px;
            //&:nth-last-child(2) { margin: 0 0 48px; }
        }
        &_area {
            min-height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 0 24px;
        }

        &_disabled {

            .dynamic-content__title_in-path,
            .dynamic-content__btn_upload-image,
            .info-input,
            .dynamic-content__image {
                opacity: .3;
                pointer-events: none;
            }
        }
    }

    &__input {
        
        &_descr    { width: 520px; }
        &_complite { width: 184px; }
    }

    &__image {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        &-item {
            width: 94px;
            height: 62px;
            margin: 16px 16px 0 0;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.dynamic-settings__btn:first-child {
    margin-right: 10px;
}
