@import "../../../../styles/modules/mixins/mixin";

.object-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 96px;

    &__head { margin: 0 0 16px; }

    &__options {
        margin: 0 0 16px;
        .btn__admin-setting { margin-right: 8px; }
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 16px;

        &-list {
            display: flex;
            border-bottom: 1px solid #d8d8d8;
        }
        &-item {
            font: 18px/23px $font-proba;
            color: $col-black-5;
            position: relative;
            padding: 8px 0;
            margin-right: 16px;
            &:last-child { margin-right: 0; }
            &::before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #d8d8d8;
            }
            &_active {
                color: $col-red;
                &::before { background-color: $col-red; }
            }
        }
    }

    &__slider {
        position: relative;
        overflow: hidden;
        &-btn {
            position: absolute;
            top: calc(581px - 50%);
            transform: translateY(50%);
            z-index: 1;
            &_prev { left: 24px; }
            &_next { right: 24px; }
        }
        &-dots {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: calc(581px - 22px);
            left: 0;
            z-index: 1;

            span {
                display: block;
                width: 6px;
                height: 6px;
                background-color: $col-white;
                border-radius: 50%;
                margin: 0 8px;
            }
        }
    }
}

.current-dots { background-color: $col-red !important; }

@keyframes slideTimeline {
    0%   { width: 0%; }
    100% { width: 100%; }
}

.gallery-slide {
    width: 100%;
    display: flex;
    position: relative;
    transition: transform .6s ease;

    &__item {
        min-width: 100%;

        &_current {
            opacity: 1;
            .gallery-slide__timeline::before {
                animation: slideTimeline 5s linear;
            }
            .gallery-slide__content {
                opacity: 1;
                transition: opacity .2s ease .3s;
            }
        }
    }

    &__image {
        width: 100%;
        height: 581px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__timeline {
        width: 100%;
        height: 8px;
        background-color: #d8d8d8;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 0%;
            background-color: $col-red;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 16px 0 0;
        transition: opacity .2s ease;
        opacity: 0;

        &-title { max-width: 352px;}
        &-descr {
            width: 728px;
            font: 18px/26px $font-proba;
            color: $col-black-5;
        }
    }
}