
<section class="object-gallery">

    <div class="object-item__container object-gallery__container">

        <div class="object-gallery__head">
            <input type="checkbox" name="switch" id="gallery-switch" class="switch">
            <label *ngIf="isAuthorizated" for="gallery-switch" class="object-item__title">Галерея</label>
            <h2 *ngIf="!isAuthorizated">Галерея</h2>
        </div>

        <div class="object-gallery__options" *ngIf="isAuthorizated">
            <button class="btn__admin-setting">Настройки</button>
            <button class="btn__admin-content btn_var-2">Контент</button>
        </div>

        <nav class="object-gallery__nav">
            <ul class="object-gallery__nav-list">
                <li class="object-gallery__nav-item " [class.object-gallery__nav-item_active]="navName === navItem.name"
                    (click)="navName = navItem.name" *ngFor="let navItem of navList">{{navItem.name}}</li>
            </ul>
        </nav>

        <div class="object-gallery__slider">

            <button (click)="prevBtn()" class="object-gallery__slider-btn object-gallery__slider-btn_prev btn-slider btn-slider_prev btn-slider_black"><span></span></button>
            <button (click)="nextBtn()" class="object-gallery__slider-btn object-gallery__slider-btn_next btn-slider btn-slider_next btn-slider_black"><span></span></button>

            <div class="object-gallery__slider-dots">
                <span *ngFor="let dots of slideList; let i = index"
                    [ngClass]="{'current-dots': currentSlide === i}"></span>
            </div>

            <div [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 1104 ) ) + 'px)') }" class="object-gallery__slider-list gallery-slide">
                <div class="gallery-slide__item" *ngFor="let slide of slideList; let i = index"
                    [ngClass]="{'gallery-slide__item_current': currentSlide === i}">
                    
                    <div class="gallery-slide__image">
                        <img src="{{slide.img}}" alt="slide">
                    </div>
                    <div class="gallery-slide__timeline" *ngIf="showTimeline && !isAuthorizated"></div>
                    
                    <div class="gallery-slide__content">
                        <h3 class="gallery-slide__content-title">{{slide.title}}</h3>
                        <div class="gallery-slide__content-descr">{{slide.descr}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

