<section class="partners">

    <div class="partners__container">

        <div class="partners__head">
            <!--<h2 class="partners__head-title">
                <span>{{contentSnippet.blackPart}}</span>
                <span>{{contentSnippet.greyPart}}</span>
            </h2>-->
            <div class="intro__content">
                <div class="intro__text">
                    <h2 class="intro__heading" *ngIf="contentSnippet"><span class="intro__heading-span">{{contentSnippet.blackPart}} </span>
                        <!--{{contentSnippet.greyPart}}-->
                    </h2>
                    <p class="intro__descr">
                        {{contentSnippet.paragraf}}
                    </p>
                </div>
                <figure class="intro__image">
                    <img src="/assets/img/service/service_intro.png" alt="">
                </figure>
            </div>

            <nav-menu *ngIf="navList.length"
                [navList]="navList"
                [linkType]="'else'"
                (routeNavigate)="changeTab($event)"
            ></nav-menu>

        </div>

        <ng-container *ngIf="contentSnippet?.uk?.length">
            <a [attr.href]="!uk.url || uk.url === '' ? null : uk.url" target="_blank" *ngFor="let uk of contentSnippet.uk"
                class="partners-snippet" [class.not-hover]="!uk.url || uk.url === ''">

                <div class="partners-snippet__icon">
                    <img [src]="uploadsPath + uk.icon" alt="logo" width="64" height="64" *ngIf="uk.icon">
                </div>

                <div class="partners-snippet__body">
                    <h3 class="partners-snippet__title">{{uk.title}}</h3>
                    <p class="partners-snippet__text">{{uk.description}}</p>

                    <div class="partners-snippet__objects" *ngIf="uk.jk && uk.jk.length">
                        <p class="partners-snippet__objects-title">Жилые комплексы:</p>
                        <div class="partners-snippet__objects-item">
                            <a [routerLink]="'/objects/list/' +  jk.id" class="news__link" *ngFor="let jk of uk.jk">{{jk.name}}</a>
                        </div>
                    </div>
                </div>

            </a>
        </ng-container>
    </div>
</section>
