@import "../../styles/modules/mixins/mixin";

.back-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    padding: 16px 32px 0;
    box-sizing: border-box;
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 20px 0;
    }
}

.back-link {
    @include back-link;
    @media (max-width: 767px) {
        margin: 0 0 20px;
    }
}

.jk-title {
    font: $font-18;
    color: $col-black-5;
}

.apartment {
    padding: 24px 0 64px;

    & > * {
        box-sizing: border-box;
    }

    &__container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 32px;
        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 16px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 0 10px;
        }
    }
    &__title {
        font: $font-36;
        @media (max-width: 767px) {
            font-size: 28px;
            line-height: 34px;
            margin: 0 0 16px;
        }
    }
    &__options {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            justify-content: space-between;
            width: 100%;
        }
    }

    &__to-plan {
        position: relative;
        font: $font-14;
        padding: 6px 16px 6px 40px;
        border: 1px solid $col-red;
        color: $col-red;
        background-size: 20px 20px;
        background: $col-white url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8092 1.84629L17.3338 4.40403C17.8835 4.96104 18.3334 6.06135 18.3333 6.84912V17.7346C18.3333 18.5223 17.6972 19.1668 16.9197 19.1668H3.9137C3.13616 19.1668 2.5 18.5223 2.5 17.7346V2.2658C2.5 1.47803 3.13616 0.833496 3.9137 0.833496H12.3959C13.1734 0.833496 14.2594 1.28924 14.8092 1.84629ZM14.6585 11.0083C15.4724 11.0191 16.0072 11.1466 16.2484 11.3874C16.3342 11.4723 16.4136 11.5968 16.4263 11.6974C16.4692 12.0365 16.4372 12.3678 16.2795 12.6082C16.1994 12.7305 16.068 12.8205 15.9121 12.8624C15.8109 12.8895 15.6865 12.9034 15.5422 12.9034C14.7293 12.9034 13.4414 12.4885 12.3942 11.8911C11.0201 12.0994 9.45222 12.4769 8.07512 12.9311C6.88239 15.04 6.01657 15.9813 5.27078 15.9813C5.13161 15.9813 4.99576 15.9482 4.86693 15.8828L4.56996 15.7314C4.38365 15.6235 4.35637 15.3905 4.39302 15.2084C4.50814 14.6377 5.20201 13.9187 6.24912 13.2852C6.37255 13.2096 6.89878 12.9276 6.92114 12.9156L7.22819 12.7511C7.52558 12.2356 7.85364 11.6271 8.21518 10.9102L8.25986 10.8215C8.60353 10.1394 8.99303 9.36631 9.30385 8.59864L9.41496 8.32498C8.98088 6.6448 8.74134 5.34756 8.97348 4.48041C9.04986 4.20393 9.34079 4.01896 9.69776 4.01896L9.70291 4.01906L9.89064 4.02511C10.2108 4.01105 10.4149 4.2689 10.5191 4.51224L10.5523 4.5988C10.5794 4.67821 10.588 4.70784 10.602 4.81C10.7033 5.55491 10.3204 7.7581 10.3204 7.7581C10.3022 7.84033 10.2826 7.9209 10.2595 8.01258C10.6131 8.99409 11.1804 9.88667 11.8601 10.5297C12.1128 10.769 12.4347 10.9677 12.747 11.1502C13.4445 11.0513 14.1076 11.0021 14.6585 11.0083ZM6.57941 13.6255C5.78344 14.2864 5.2451 15.0312 5.10911 15.4079C5.47581 15.2398 6.03323 14.7037 6.8656 13.3587C6.75272 13.4673 6.62945 13.5844 6.57941 13.6255ZM9.82356 4.4086C10.0633 4.4086 10.1997 5.02082 10.211 5.59478C10.2223 6.16878 10.0898 6.57162 9.92545 6.86968C9.78933 6.42838 9.72354 5.7328 9.72354 5.27798C9.72354 5.27798 9.71353 4.4086 9.82356 4.4086ZM8.93552 11.2859C8.75797 11.6247 8.58422 11.9441 8.41722 12.247C9.33445 11.8898 10.3762 11.5959 11.5816 11.3543C11.4993 11.2907 11.421 11.227 11.347 11.1636C10.7543 10.6553 10.2501 10.0208 9.84521 9.27452C9.64164 9.80785 9.36831 10.4567 8.93552 11.2859ZM16.0168 12.1782C15.9434 12.2247 15.7331 12.2516 15.5978 12.2516C15.1612 12.2516 14.6211 12.0493 13.8639 11.7204C14.1548 11.6986 14.4216 11.6875 14.6608 11.6875L14.6829 11.6875H14.6829C15.1032 11.6875 15.2357 11.6875 15.6566 11.7963C16.0848 11.9069 16.0902 12.1317 16.0168 12.1782ZM16.5341 5.21425C16.5894 5.27031 16.6445 5.33913 16.698 5.41682H13.8096V2.49037C13.8863 2.54462 13.9542 2.60048 14.0095 2.65651L16.5341 5.21425ZM16.9197 18.021C17.073 18.021 17.2024 17.8898 17.2024 17.7346V6.84912C17.2024 6.7626 17.1916 6.66556 17.1723 6.56268H12.6786V2.00984C12.5771 1.99028 12.4813 1.97935 12.3959 1.97935H3.9137C3.76048 1.97935 3.63098 2.11053 3.63098 2.2658V17.7346C3.63098 17.8898 3.76045 18.021 3.9137 18.021H16.9197Z' fill='%23E52628'/%3E%3C/svg%3E") no-repeat 14px 4px;
        margin-right: 12px;
        transition: background-color $transition,
        color $transition,
        border-color $transition,
        background-image $transition;

        &:hover {
            background-color: $col-red_hover;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8092 1.84629L17.3338 4.40403C17.8835 4.96104 18.3334 6.06135 18.3333 6.84912V17.7346C18.3333 18.5223 17.6972 19.1668 16.9197 19.1668H3.9137C3.13616 19.1668 2.5 18.5223 2.5 17.7346V2.2658C2.5 1.47803 3.13616 0.833496 3.9137 0.833496H12.3959C13.1734 0.833496 14.2594 1.28924 14.8092 1.84629ZM14.6585 11.0083C15.4724 11.0191 16.0072 11.1466 16.2484 11.3874C16.3342 11.4723 16.4136 11.5968 16.4263 11.6974C16.4692 12.0365 16.4372 12.3678 16.2795 12.6082C16.1994 12.7305 16.068 12.8205 15.9121 12.8624C15.8109 12.8895 15.6865 12.9034 15.5422 12.9034C14.7293 12.9034 13.4414 12.4885 12.3942 11.8911C11.0201 12.0994 9.45222 12.4769 8.07512 12.9311C6.88239 15.04 6.01657 15.9813 5.27078 15.9813C5.13161 15.9813 4.99576 15.9482 4.86693 15.8828L4.56996 15.7314C4.38365 15.6235 4.35637 15.3905 4.39302 15.2084C4.50814 14.6377 5.20201 13.9187 6.24912 13.2852C6.37255 13.2096 6.89878 12.9276 6.92114 12.9156L7.22819 12.7511C7.52558 12.2356 7.85364 11.6271 8.21518 10.9102L8.25986 10.8215C8.60353 10.1394 8.99303 9.36631 9.30385 8.59864L9.41496 8.32498C8.98088 6.6448 8.74134 5.34756 8.97348 4.48041C9.04986 4.20393 9.34079 4.01896 9.69776 4.01896L9.70291 4.01906L9.89064 4.02511C10.2108 4.01105 10.4149 4.2689 10.5191 4.51224L10.5523 4.5988C10.5794 4.67821 10.588 4.70784 10.602 4.81C10.7033 5.55491 10.3204 7.7581 10.3204 7.7581C10.3022 7.84033 10.2826 7.9209 10.2595 8.01258C10.6131 8.99409 11.1804 9.88667 11.8601 10.5297C12.1128 10.769 12.4347 10.9677 12.747 11.1502C13.4445 11.0513 14.1076 11.0021 14.6585 11.0083ZM6.57941 13.6255C5.78344 14.2864 5.2451 15.0312 5.10911 15.4079C5.47581 15.2398 6.03323 14.7037 6.8656 13.3587C6.75272 13.4673 6.62945 13.5844 6.57941 13.6255ZM9.82356 4.4086C10.0633 4.4086 10.1997 5.02082 10.211 5.59478C10.2223 6.16878 10.0898 6.57162 9.92545 6.86968C9.78933 6.42838 9.72354 5.7328 9.72354 5.27798C9.72354 5.27798 9.71353 4.4086 9.82356 4.4086ZM8.93552 11.2859C8.75797 11.6247 8.58422 11.9441 8.41722 12.247C9.33445 11.8898 10.3762 11.5959 11.5816 11.3543C11.4993 11.2907 11.421 11.227 11.347 11.1636C10.7543 10.6553 10.2501 10.0208 9.84521 9.27452C9.64164 9.80785 9.36831 10.4567 8.93552 11.2859ZM16.0168 12.1782C15.9434 12.2247 15.7331 12.2516 15.5978 12.2516C15.1612 12.2516 14.6211 12.0493 13.8639 11.7204C14.1548 11.6986 14.4216 11.6875 14.6608 11.6875L14.6829 11.6875H14.6829C15.1032 11.6875 15.2357 11.6875 15.6566 11.7963C16.0848 11.9069 16.0902 12.1317 16.0168 12.1782ZM16.5341 5.21425C16.5894 5.27031 16.6445 5.33913 16.698 5.41682H13.8096V2.49037C13.8863 2.54462 13.9542 2.60048 14.0095 2.65651L16.5341 5.21425ZM16.9197 18.021C17.073 18.021 17.2024 17.8898 17.2024 17.7346V6.84912C17.2024 6.7626 17.1916 6.66556 17.1723 6.56268H12.6786V2.00984C12.5771 1.99028 12.4813 1.97935 12.3959 1.97935H3.9137C3.76048 1.97935 3.63098 2.11053 3.63098 2.2658V17.7346C3.63098 17.8898 3.76045 18.021 3.9137 18.021H16.9197Z' fill='white'/%3E%3C/svg%3E%0A");
            border-color: $col-red_hover;
            color: $col-white;
        }
    }

    &__favorite {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.1s, transform 0.1s;

        &:hover {
            background-color: $col-white;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 0 24px;
        @media (max-width: 767px) {
            margin: 0 0 8px;
        }
    }

    &__schema,
    &__info {
        display: flex;
    }

    &__schema {
        flex: 100% 1 1;
        margin: 0 0 16px;
        @media (max-width: 767px) {
            margin: 0 0 8px;
        }
    }

    &__info {
        flex: 100% 1 1;
    }
    &__request {
        display: flex;
        margin: 24px 0 0;
        @media (max-width: 767px) {
            flex-direction: column;
            margin: 16px 0 0;
        }
    }
    &__button {
        padding: 9px 24px;
        border: 1px solid $col-red;
        font: $font-18;
        transition: background-color $transition,
        color $transition,
        border-color $transition;
        flex: 100% 1 1;

        &--primary {
            background-color: $col-red;
            color: $col-white;
            margin-right: 24px;
            @media (max-width: 767px) {
                margin: 0 0 8px;
            }
        }

        &--secondary {
            background-color: $col-white;
            color: $col-black;
        }

        &:hover {
            background-color: $col-red_hover;
            border-color: $col-red_hover;
            color: $col-white;
        }
    }
}


