@import "../../../../styles/modules/mixins/mixin";

.object-storage {
    width: 100%;
    margin: 96px 0 0;
    display: flex;
    justify-content: center;

    &__item {
        width: 100%;
        height: 263px;
        padding: 24px 40px;
        box-sizing: border-box;
        position: relative;
        transition: background-position .5s ease-in-out;
        cursor: pointer;

        &-anchor {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 263px;
        }

        &_storeroom {
            background: url(/assets/img/jk-object/dog.png) 104% 16px no-repeat #b3e5e4;
            margin: 0 0 24px;
            &:hover { background-position: calc(103% - 50px) 16px; }
        }
        &_parking {
            background: url(/assets/img/jk-object/car.png) 131% 16px no-repeat #ffd292;
            &:hover { background-position: calc(117% - 50px) 16px; }
        }

        &-title { margin: 0 0 4px; }
        &-descr {
            max-width: 415px;
            font: 18px/24px $font-proba;
            color: $col-black-5;
            margin: 0 0 24px;
        }
        &-price {
            font: 48px/58px $font-proba;
            color: $col-black;
            position: absolute;
            left: 40px;
            bottom: 32px;
        }
    }
    @media (max-width: 767px) {
        
        &__item {
            height: 416px;
            padding: 24px;

            &_storeroom {
                background-position: 100% 100%;
                background-size: 192px 180px;
            }
            &_parking {
                background-position: 100% 100%;
                background-size: 220px 174px;
            }

            &-title { margin: 0 0 8px; }
            &-descr { margin: 0 0 12px; }
            &-price { position: static; }
        }
    }
}
