@import "../../../../styles/modules/mixins/mixin";

.object-members {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 96px;

    &__head { margin: 0 0 16px; }

    &__options {
        margin: 0 0 16px;
        .btn__admin-setting { margin-right: 8px; }
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        &_members {
            display: block;
            width: 50%;
            min-width: 250px;
            margin: 0 0 24px;
            &:nth-last-child(2),
            &:last-child { margin: 0; }
        }
    }
    &__text {
        display: block;
        font: 18px/24px $font-proba;
        color: $col-red;
        margin: 0 0 8px;
        
        &_black { color: $col-black }
        &_for-title {
            font-size: 16px;
            line-height: 24px;
            color: $col-black-5;
        }
    }
}
@media (max-width: 760px) {
    .object-members__wrap_members {
        &:nth-last-child(2) { margin: 0 0 24px; }
    }
    .object-members__head-title {
        font-size: 28px;
        line-height: 34px;
    }
}
