
<section class="object-project" *ngIf="snippets && snippets.length > 0">

    <div class="object-item__container object-project__container">

        <div class="object-project__head">
            <h2>Посмотрите другие объекты</h2>

            <a routerLink="/objects/list" class="object-project__head-all g-all-object">
                <span class="object-project__head-all-text">Все объекты</span>
            </a>
        </div>

        <div class="swiper-projects">

            <div class="swiper-projects__wrap swiper-wrapper" *ngIf="snippets">
                
                <ng-container *ngFor="let snippet of snippets; let i = index">

                    <div class="swiper-projects__slide swiper-slide">
                        <a routerLink="/objects/list/{{snippet._id}}" target="_blank">
                            <div class="swiper-projects__slide-image">
                                <img [src]="uploadsPath + snippet.image" alt="news-image">
                            </div>
                            <p class="swiper-projects__slide-title">{{snippet.name}}</p>
                            <p *ngIf="objects[i]" class="swiper-projects__slide-price">
                                {{objects[i].minPrice && objects[i].minPrice !== 'Полностью распродан!' ? 
                                  'Квартиры от ' + objects[i].minPrice + ' млн. руб' :
                                  objects[i].minPrice === 'Полностью распродан!' ? objects[i].minPrice : 
                                  snippet.status}}
                            </p>
                        </a>
                    </div>
                </ng-container>
            </div>

            <button class="swiper-projects__btn swiper-projects__btn_prev btn-slider btn-slider_prev btn-slider_white">
                <span></span>
            </button>
            <button class="swiper-projects__btn swiper-projects__btn_next btn-slider btn-slider_next btn-slider_white">
                <span></span>
            </button>
        </div>
    </div>
</section>
