@import "../../../../styles/modules/mixins/mixin";

.object-project {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 96px;
    overflow: hidden;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 32px;

        &-all {
            font: 18px/23px $font-proba;
            color: $col-red;
        }
    }
}

@media (max-width: 767px) {

    .object-project {

        &__container {
            position: relative;
            padding-bottom: 80px;
        }

        &__head {

            &-all {
                width: 280px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 1px solid $col-red;
                background: url(/assets/img/arrow-next_black.svg) calc(100% - 80px) 49% no-repeat;
                background-size: 16px;
                position: absolute;
                bottom: 0; left: 0;
                color: $col-black;
                &::after { display: none; }
            }
        }
    }
}