<section class="object-project" *ngIf="snippets && snippets.length > 0">

    <div class="object-item__container object-project__container">

        <div class="object-project__head">
            <h2>Посмотрите другие объекты</h2>

            <a routerLink="/objects/list" class="object-project__head-all g-all-object">
                <span class="object-project__head-all-text">Все объекты</span>
            </a>
        </div>

        <div class="swiper-projects">

            <div class="swiper-projects__wrap swiper-wrapper" *ngIf="snippets">
                
                <ng-container *ngFor="let snippet of snippets; let i = index">

                    <div class="swiper-projects__slide swiper-slide">
                        <a routerLink="/objects/list/{{snippet._id}}" target="_blank">
                            <div class="swiper-projects__slide-image">
                                <a href="//ilike.ru" target="_blank" class="swiper-projects__slide-ilike" *ngIf="!!snippet.ilike">
                                    <svg width="66" height="24" viewBox="0 0 66 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M66 14.021V0H0V24H55.0963L66 14.021Z" fill="#ee4237"/>
                                        <path d="M9.32398 5.55261H5.81592V17.8464H9.32398V5.55261Z" fill="white"/>
                                        <path d="M24.9889 14.626V17.8464H15.9077V5.55261H19.4158V14.626H24.9889Z" fill="white"/>
                                        <path d="M29.7632 5.55261H26.2551V17.8464H29.7632V5.55261Z" fill="white"/>
                                        <path d="M44.8457 17.8464H40.614L36.7308 12.6824H35.5174V17.8464H32.0049V5.55261H35.5174V10.2351L36.6426 10.2395L40.1683 5.55261H44.5545L39.8726 11.4057L44.8457 17.8464Z" fill="white"/>
                                        <path d="M49.3819 8.77293V10.2351H52.7972V12.9872H49.3819V14.626H54.0593V17.8464H45.8694V5.55261H54.0593V8.77293H49.3819Z" fill="white"/>
                                    </svg>
                                </a>
                                <img [src]="uploadsPath + snippet.image" alt="news-image">
                            </div>
                            <p class="swiper-projects__slide-title">{{snippet.name}}</p>
                            <p *ngIf="snippet" class="swiper-projects__slide-price">{{ snippet.subtext }}</p>
                        </a>
                    </div>
                </ng-container>
            </div>

            <button class="swiper-projects__btn swiper-projects__btn_prev btn-slider btn-slider_prev btn-slider_white">
                <span></span>
            </button>
            <button class="swiper-projects__btn swiper-projects__btn_next btn-slider btn-slider_next btn-slider_white">
                <span></span>
            </button>
        </div>
    </div>
</section>
