<ul class="tabs">
    <span class="tabs__title">Показать:</span>
    <li class="tabs__tab tabs__tab--active">
        <p class="tabs__tab-name">Шатура</p>
        <p class="tabs__tab-price">464 555 ₽</p>
    </li>
    <li class="tabs__tab">
        <p class="tabs__tab-name">Хофф</p>
        <p class="tabs__tab-price">464 555 ₽</p>
    </li>
    <li class="tabs__tab">
        <p class="tabs__tab-name">Лазурит</p>
        <p class="tabs__tab-price">464 555 ₽</p>
    </li>
    <li class="tabs__tab">
        <p class="tabs__tab-name">Столпит</p>
        <p class="tabs__tab-price">464 555 ₽</p>
    </li>
</ul>
