
<section class="object-project" *ngIf="snippets && snippets.length > 0">

    <div class="object-item__container object-members__container">

        <div class="object-project__head">
            <h2>Посмотрите другие проекты</h2>
        </div>


        <div class="object-project__slider">

            <a routerLink="/objects/list" class="object-project__slider-all btn-empty">Все проекты</a>
            <button (click)="prevBtn()" *ngIf="currentSlide > 0"
                class="object-project__slider-btn object-project__slider-btn_prev btn-slider btn-slider_prev btn-slider_white">
                <span></span>
            </button>
            <button (click)="nextBtn()" *ngIf="currentSlide + 4 < mockProject.length"
                class="object-project__slider-btn object-project__slider-btn_next btn-slider btn-slider_next btn-slider_white">
                <span></span>
            </button>

            <div class="object-project__slider-item slider-list"  *ngIf="snippets"
                [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 282 ) ) + 'px)') }">
                
                <ng-container *ngFor="let snippet of snippets; let i = index">

                    <div class="slider-list__item"
                        [ngClass]="{'current-slide': currentSlide === i }">
                        <a routerLink="/objects/list/{{snippet._id}}" target="_blank">
                            <div class="slider-list__image">
                                <img [src]="uploadsPath + snippet.image" alt="news-image">
                            </div>
                            <p class="slider-list__title">{{snippet.name}}</p>
                            <p *ngIf="objects[i]" class="slider-list__info">
                                {{objects[i].minPrice && objects[i].minPrice !== 'Полностью распродан!' ? 
                                  'Квартиры от ' + objects[i].minPrice + ' млн. руб' :
                                  objects[i].minPrice === 'Полностью распродан!' ? objects[i].minPrice : 
                                  snippet.status}}
                            </p>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>
