@import "../../../styles/modules/mixins/mixin";

.functions {
    max-width: 704px;
    padding: 96px 32px;
    box-sizing: border-box;
    margin: auto;
    &--fixed {
        position: fixed;
        top: 77px;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
.functions__container {
    width: 704px;
}
.functions__title {
    font-size: 36px;
    margin-bottom: 24px;
}
.functions__text {
    font-size: 24px;
    line-height: 125%;
}
.function__wrap {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 56px;
    grid-row-gap: 40px;
    width: 704px;
    margin-top: 48px;
}
.function__title {
    font-size: 24px;
    margin-bottom: 8px;
}
.function__link {
    @include external-link;
    color: $col-red;
}
.function__link + .function__text {
    margin-top: 8px;
}
.function__text {
    font-size: 18px;
    line-height: 26px;
    padding-right: 10px;
}

@media(max-width:760px ) {
    .functions {
        min-width: 320px;
        padding: 64px 20px ;
    }

    .functions__title {
        font-size: 28px;
    }
    .functions__container {
        width: 100%;
    }

    .functions__text {
        font-size: 16px;
        line-height: 22px;
    }
    .function__wrap {
        margin-top: 48px;
        display: block;
        width: 100%;

    }
    .function__item {
        width: 100%;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .function__text {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }
}
