
<section class="object-members">

    <div class="object-item__container object-members__container">

        <div class="object-members__head">
            <input type="checkbox" name="switch" id="members-switch" class="switch">
            <label *ngIf="isAuthorizated" for="members-switch" class="object-item__title">Участники проекта</label>
            <h2 *ngIf="!isAuthorizated">Участники проекта</h2>
        </div>

        <div class="object-members__options" *ngIf="isAuthorizated">
            <button class="btn__admin-setting">Настройки</button>
            <button class="btn__admin-content btn_var-2">Контент</button>
        </div>
        
        <div class="object-members__wrap">
    
            <div class="object-members__wrap object-members__wrap_members">
                <p class="object-members__text object-members__text_for-title">Тройка РЭД в проекте</p>
    
                <a class="object-members__text object-members__text_black">Застройщик</a>
                <a class="object-members__text object-members__text_black">Технический заказчик</a>
                <a class="object-members__text object-members__text_black">Генеральный подрядчик</a>
            </div>
            <div class="object-members__wrap object-members__wrap_members">
                <p class="object-members__text object-members__text_for-title">Агент по реализации квартир</p>
    
                <a class="object-members__text">BSA</a>
                <a class="object-members__text">Best-novostroy</a>
            </div>
            <div class="object-members__wrap object-members__wrap_members">
                <p class="object-members__text object-members__text_for-title">Управление</p>
    
                <a class="object-members__text">ВБ-комфорт</a>
            </div>
            <div class="object-members__wrap object-members__wrap_members">
                <p class="object-members__text object-members__text_for-title">Застройщик</p>
    
                <a class="object-members__text">Cotar</a>
            </div>
        </div>
    </div>
</section>
