@import "../../../styles/modules/mixins/mixin";

.apartment {
    width: 964px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 48px 94px;
    z-index: 1000;

    &__elements {
        position: absolute;
        width: 0;  
        height: 0;
        left: 0;
        top: 0;
        pointer-events: none;

        &-cls {
            position: fixed;
            top: 64px;
            right: calc(((100% - 964px) / 2) - (22px + 48px));
            pointer-events: all;
        }
        &-prev,
        &-next {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: all;
        }
        &-prev {
            left: calc(((100% - 964px) / 2) - (22px + 48px));
        }
        &-next {
            right: calc(((100% - 964px) / 2) - (22px + 48px));
        }
    }

    &__image {
        width: 100%;
        height: 600px;
        margin: 24px 0 16px;

        &-error {
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 24px;

        &-title { margin: 0 0 18px; }
        &-favorites {
            font: 16px/22px $font-proba;
            color: $col-red;
            margin: 0 0 24px;
            position: relative;
            width: 155px;
            display: block;
            &:after {
                content: url(/assets/img/jk-object/header_heart-empty.svg);
                position: absolute;
                top: 50%; left: calc(100% + 9px);
                transform: translateY(-50%);
            }

            &-active:after {
                content: url(/assets/img/jk-object/header_heart.svg);
            }
        }
        &-jkLink {
            margin: 0 0 32px;

            &> a {
                font: 18px/23px $font-proba;
                color: $col-red;
                padding-left: 21px;
                position: relative;
                &::after {
                    content: url(/assets/img/flat-link-jk.svg);
                    position: absolute;
                    top: 50%; left: 0;
                    transform: translateY(-50%);
                }
            }
        }

        &-subtitle,
        &-value { font: $font-18; }
        &-value {
            color: $col-black-5;
            &--sale { color: $col-red; }
            &--house { text-transform: uppercase; }
        }

        &-item {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            margin: 0 0 8px;
            border-bottom: 1px solid $col-border;
        }
    }
    &__btn {
        display: flex;
        justify-content: space-between;

        &-reserve,
        &-credit {
            width: 376px;
            height: 48px;
        }
    }
}
