<app-admin-modal [formValid]="form.valid" (closeModal)="close($event)">


    <h1 class="socials__title">Настройка контента «О проекте»</h1>

    <form [formGroup]="form">

        <div class="socials__info">
            <h2 class="info-title">Социальные сети</h2>
            <div class="form" formGroupName="socials">
                <div class="form-item form-item--pleft form-item--icon1 ">
                    <input type="text" class="form-input info-input" appSlideTopLabel formControlName="vk">
                    <label class="form-label info-suptitle form-label--left">Ссылка</label>
                </div>
                <div class="form-item form-item--pleft form-item--icon2">
                    <input type="text" class="form-input info-input" appSlideTopLabel formControlName="inst">
                    <label class="form-label info-suptitle form-label--left">Ссылка</label>
                </div>
                <div class="form-item form-item--pleft form-item--icon3">
                    <input type="text" class="form-input info-input" appSlideTopLabel formControlName="fb">
                    <label class="form-label info-suptitle form-label--left">Ссылка</label>
                </div>
            </div>
        </div>

        <div class="description">
            <div class="description__info">
                <h2 class="description__info-title">Описание проекта</h2>
                <div class="form">
                    <div class="form-item  ">
                        <textarea type="text" class="form-input info-input textarea" id="text" appSlideTopLabel appAutoResizeTextarea formControlName="description"></textarea>
                        <label class="form-label info-suptitle">Описание</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="indicators">
            <h1 class="indicators__title">Технико-экономические показатели</h1>
            <p class="indicators__text">Указывются только те ТЭПы, которые необходимы</p>
            <div class="indicators__info">
                <div class="form">
                    <div class="form__wrap">
                        <ng-container formArrayName="indicators" *ngFor="let indicator of indicators; let i = index">
                            <div class="form-item form-item--inline" formGroupName="{{i}}">
                                <input type="text" class="form-input info-input" appSlideTopLabel formControlName="{{indicator}}">
                                <label class="form-label info-suptitle">{{indicator}}</label>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>

    </form>

</app-admin-modal>
