<section class="news">
    <div class="news__container">
        <h2 class="news__title">Новости</h2>

        <button class="btn-admin-2 btn-admin-2--settings" (click)="createSnippet()" *ngIf="isAuthorizated">Добавить новость</button>

        <nav class="news__nav">
            <nav-menu
                [navList]="navList"
                [activePointDefault]="1"
            ></nav-menu>
        </nav>

        <div class="news__list">
            <app-news-shares-snippet *ngFor="let snippet of snippetsArray"
                [isAuthorizated]="isAuthorizated"
                [snippet]="snippet"
                (deleteNewsSnippet)="deleteSnippet($event)"
                (redactNewsSnippet)="redactSnippet($event)"
                (updateNewsSnippet)="updateSnippet($event)">
            </app-news-shares-snippet>
        </div>

    </div>
</section>

<!-- форма создания новости -->
<app-news-create-redact-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange($event)"
    [snippetsArray]="snippetsArray"
    [redactId]="redactId"
    (close)="isCreateRedactForm  = false; windowScrollLocker.unblock()"
    [isForm]="isCreateRedactForm">
</app-news-create-redact-form>

<!-- форма удаления новости -->
<app-news-delete-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange($event)"
    (close)="isDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="snippetsArray"
    [redactId]="redactId" [isForm]="isDeleteForm">
</app-news-delete-form>

