<section class="news">
    <div class="news__container">
        <h1 class="news__title">Новости</h1>

        <button class="btn-admin-2 btn-admin-2--settings" (click)="createNewsSnippet()" *ngIf="isAuthorizated">Добавить новость</button>
        <button class="btn-admin-2 btn-admin-2--settings" (click)="createSharesSnippet()" *ngIf="isAuthorizated">Добавить акцию</button>

        <nav class="news__nav">
            <nav-menu
                [navList]="navList"
            ></nav-menu>
        </nav>

        <app-news-shares-all-items
            [isAuthorizated]="isAuthorizated"
            [snippets]="snippets"
            (deleteNewsSnippet)="deleteNewsSnippet($event)"
            (redactNewsSnippet)="redactNewsSnippet($event)"
            (updateNewsSnippet)="updateNewsSnippet($event)"
            (deleteShareSnippet)="deleteShareSnippet($event)"
            (redactShareSnippet)="redactShareSnippet($event)"
            (updateShareSnippet)="updateShareSnippet($event)">
        </app-news-shares-all-items>

    </div>
</section>

<!-- форма создания новости -->
<app-news-create-redact-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange($event)"
    [snippetsArray]="snippets"
    [redactId]="redactId"
    (close)="isNewsCreateRedactForm = false; windowScrollLocker.unblock()"
    [isForm]="isNewsCreateRedactForm">
</app-news-create-redact-form>

<!-- форма удаления новости -->
<app-news-delete-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange()"
    (close)="isNewsDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="snippets"
    [redactId]="redactId" [isForm]="isNewsDeleteForm">
</app-news-delete-form>

<!-- форма редактирования и создания акции -->
<app-shares-edit class="admin-controll"
    *ngIf="isAuthorizated && isSharesCreateRedactForm"
    (snippetsChange)="snippetsChange()"
    (close)="isSharesCreateRedactForm = false; windowScrollLocker.unblock()"
    [redactId]="redactId" [isForm]="isSharesCreateRedactForm">
</app-shares-edit>

<!-- форма удаления акции -->
<app-shares-delete class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="snippetsChange()"
    (close)="isSharesDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="snippets"
    [redactId]="redactId" [isForm]="isSharesDeleteForm">
</app-shares-delete>
