<div class="object-item" #container>
    <ng-container *ngIf="jk">

        <app-object-item-preview [objectId]="objectId" [hasFlats]="!!flats?.length"></app-object-item-preview>

        <!-- <app-object-item-filter [objectId]="objectId" [mod]="jk.mod" *ngIf=flats.length></app-object-item-filter> -->

        <app-object-item-trigger *ngIf="flats" [objectId]="objectId" [flats]="flats"></app-object-item-trigger>

        <!--<app-object-item-storage [objectId]="objectId" [mod]="jk.mod"></app-object-item-storage>-->

        <app-object-item-project [objectId]="objectId" [objectName]="jk.name" id="project"></app-object-item-project>

        <app-object-item-flat [objectId]="objectId" [mod]="jk.mod" id="choose"></app-object-item-flat>

        <app-object-item-gallery [objectId]="objectId" id="gallery"></app-object-item-gallery>

        <app-object-item-decoration [objectId]="objectId" id="decoration"></app-object-item-decoration>

        <app-object-item-location [objectId]="objectId" [objectName]="jk.name" [objectCoords]="jk.coords" [objectAddress]="jk.address" id="location"></app-object-item-location>

        <app-object-item-purchase [objectId]="objectId" id="purchase"></app-object-item-purchase>

        <app-object-item-news [objectId]="objectId" [objectName]="jk.name" id="news"></app-object-item-news>

        <app-object-item-documentation [objectId]="objectId" id="documentation"></app-object-item-documentation>

        <app-object-item-members [objectId]="objectId" id="members"></app-object-item-members>

        <app-object-item-projects [objectId]="objectId"></app-object-item-projects>

        <!--<div class="utilities" *ngIf="isAuthorizated">-->
            <!--<div class="utilities__item">-->
                <!--<a href="javascript:void(0)" class="utilities__path">Админ</a>-->
                <!--<a routerLink="/objects" class="utilities__path">Объкты</a>-->
                <!--<a href="javascript:void(0)" class="utilities__path">{{jk.name}}</a>-->
            <!--</div>-->

            <!--<div class="utilities__item">-->
                <!--<ul class="utilities__nav">-->
                    <!--<li><a href="javascript:void(0)" class="utilities__link">Предпросмотр</a></li>-->
                    <!--<li><a href="javascript:void(0)" class="utilities__link">Опубликовать</a></li>-->
                    <!--<li><a href="javascript:void(0)" class="utilities__link">Показать на главной</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

    </ng-container>
</div>
