<div class="search" *ngIf="this.config">

    <a *ngIf="isAuthorizated" (click)="isSeoPageModalOpen = true; windowScrollLocker.block()" class="search_meta-open">Добавить страницу продвижения</a>

    <app-search-form
        [config]="config"
        [housesBtnList]="housesBtnList"
        [modsBtnList]="modsBtnList"
        (formChange)="formChange($event)"
        (sortChange)="sortChange($event)"
        (showPopular)="showPopular = $event">
    </app-search-form>

    <ng-content></ng-content>

    <div class="search__main">
        <app-search-output
            [flatsList]="outputFlatsList"
            [count]="count"
            (loadMore)="loadMore(true)"
            [showMore]="isLoadMoreBtn">
        </app-search-output>
    </div>
</div>

<app-seo-page *ngIf="isAuthorizated && isSeoPageModalOpen"
    (modalClose)="isSeoPageModalOpen = $event; windowScrollLocker.unblock()"
    [searchParams]="seoPageParams">
</app-seo-page>

<app-popular
    *ngIf="showPopular"
    (close)="showPopular = false">
</app-popular>
