<section class="object-preview">

    <img [src]="uploadsPath + snippet.mainInfo.image" class="object-preview__background-image" alt="background-image" *ngIf="snippet">

    <div class="object-preview__wrapper object-preview__wrapper_top">
        <a *ngIf="!isAuthorizated" [routerLink]="['/objects/list']" class="object-preview__back-btn">Назад к списку объектов</a>
        <button class="object-preview__admin-btn btn__admin-content btn_var-2" *ngIf="isAuthorizated" (click)="closeModal = false">Контент</button>

        <div class="object-preview__wrap" *ngIf="snippet">
            <div class="object-preview__item">
                <p class="object-preview__info"
                    [ngClass]="{'object-preview__info_success': limit.realized}" *ngFor="let limit of snippet.deadlines">
                    {{ limit.corpusId + ' — ' + limit.deadline }}
                </p>
            </div>
            <div class="object-preview__item object-preview__item--link" *ngIf="snippet.mainInfo.webcamLink">
                <a [href]="snippet.mainInfo.webcamLink" target="_blank" class="object-preview__info object-preview__info--icon">Трансляция с веб-камер</a>
            </div>
        </div>
    </div>

    <div class="object-preview__wrapper object-preview__wrapper_bottom" *ngIf="snippet">
        <h1 class="object-preview__title">{{snippet.mainInfo.title}}</h1>
        <p class="object-preview__text">{{snippet.mainInfo.address}}</p>

        <div class="indicators">
            <div class="indicators__item" *ngFor="let item of snippet.indicators"> 
                <div class="indicators__value">{{item.value}}</div>
                <div class="indicators__key">{{item.text}}</div>
            </div>

            <ng-container *ngIf="snippet.createdIndicators && snippet.createdIndicators.length > 0">
                <div class="indicators__item" *ngFor="let createdItem of snippet.createdIndicators">
                    <div class="indicators__value">{{createdItem.value}}</div>
                    <div class="indicators__key">{{createdItem.name}}</div>
                </div>
            </ng-container>
        </div>

        <a *ngIf="!isAuthorizated" class="object-preview__change-flats btn_var-1" [routerLink]="'/objects/list/' + objectId + '/flats'">Выбрать квартиру</a>
    </div>
</section>

<app-objects-item-preview-admin *ngIf="!closeModal"
    [id]="objectId"
    [(snippet)]="snippet"
    (closeModal)="closeModal = $event">
</app-objects-item-preview-admin>
