@import "../../../../styles/modules/mixins/mixin";

.object-news {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;

    &__head { margin: 0 0 16px; }

    &__options {
        margin: 0 0 16px;
        .btn__admin-setting { margin-right: 8px; }

        &-btn {
            background-image: url(/assets/img/add.svg);
            margin-right: 8px;
        }
    }
    &__title { margin: 0 0 24px;}

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 24px;
    }
}

@media (max-width: 767px) {

    .object-news {

        &__container {
            position: relative;
            padding-bottom: 80px;
        }

        &__nav {

            &-all {
                width: 280px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 1px solid $col-red;
                background: url(/assets/img/arrow-next_black.svg) calc(100% - 80px) 49% no-repeat;
                background-size: 16px;
                position: absolute;
                bottom: 0; left: 0;
                color: $col-black;
                &::after { display: none; }
            }
        }
    }
}