@import "../../../../../styles/modules/mixins/mixin";

:host {
    width: 100%;
    display: block;
}

.object-installment {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $col-white;
    padding: 48px 0;

    &__container {
        @include container();
        display: flex;
        flex-flow: row wrap;
    }

    &__type {
        width: 340px + 8px + 16px;
        margin: 0 67px 56px 0;
    
        &-item {
            cursor: pointer;
            margin: 0 0 24px;
            &:last-child { margin: 0; }
        }
        &-box {
            display: flex;
            box-sizing: border-box;
        }
        &-radiobox {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: solid 1px #999a9b;
            margin-right: 10px;
            background-color: #fff;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: calc(50% - 4px);
                left: calc(50% - 4px);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &-text {
            width: calc(100% - 30px);
            font: 18px/23px $font-proba;
            color: $col-black-5;
            padding: 2px 0 0;
        }
    }
}

.span-block { display: block; }
.span-black { color: $col-black; }
.span-nowrap { white-space: nowrap; }

.span-block,
.span-black,
.span-nowrap { padding: 0; }

.installment-calculator {
    width: 273px;
    margin: 0 0 60px;
    
    &__item {
        width: 100%;
        margin: 0 0 60px;
        &:last-child { margin: 0; }

        &-wrap {
            width: 100%;
            box-sizing: border-box;
            position: relative;

            &_field {
                display: flex;
                justify-content: space-between;
            }
        }
        &-text,
        &-hint {
            width: 100%;
            font: 18px/23px $font-proba;
            color: $col-black-5;
            margin-bottom: 10px;
            white-space: nowrap;
            display: block;
        }
        &-text { border-top: 1px solid #fff; }
        &-hint {
            margin: 14px 0 0;
            white-space: normal;
        }
        &-field {
            width: 100%;
            font: 18px/23px $font-proba;
            color: $col-black;
            margin-bottom: 5px;
            border: none;

            &_percent {
                text-align: right;
                color: $col-black-6;
            }
        }

        &_result {
            margin-top: 14px;

            div:first-child {
                margin-bottom: 20px;
            }
        }
    }
    &__result {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        
        &-item {
            margin-right: 48px;
            &:last-child { margin: 0; }
        }
        &-title {
            font: 18px/23px $font-proba;
            color: $col-black-5;
            margin: 0 0 8px;
            white-space: nowrap;
        }
        &-result {
            font: 18px/23px $font-proba;
            color: $col-black;
            white-space: nowrap;
        }
    }
}

@media (max-width: 767px) {

    .object-installment {
        padding: 0;

        &__container { display: block; }
        &__type {
            width: 100%;
            margin: 0 0 24px;
        }

        &__select {
            width: 100%;
            height: 48px;
            border: solid 1px #f0f0f0;
            box-sizing: border-box;
            padding-right: 44px;
            position: relative;
            margin: 0 0 16px;
            user-select: none;
            input {
                width: 100%;
                height: 100%;
                border: none;
                padding: 0 0 0 16px;
                box-sizing: border-box;
                pointer-events: none;
                color: $col-black;
                &::placeholder { color: $col-89; }
            }
            &:before {
                content: '';
                width: 18px;
                height: 18px;
                position: absolute;
                top: calc(50% - 9px);
                right: 13px;
                background: url(/assets/img/jk-object/arrow.svg) center no-repeat;
            }
            &--open {
                &:before { transform: rotate(180deg); }
            }

            &-tooltip {
                width: 100%;
                height: 50px * 3;
                position: absolute;
                top: calc(100% + 8px); left: 0;
                border: 1px solid $col-border;
                background-color: #fff;
                box-sizing: border-box;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                z-index: 1;
                &_cls-area {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }

                p {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid $col-border;
                    transition: color .2s linear;
                    box-sizing: border-box;
                    cursor: pointer;
                    &:hover {
                        @media (min-width: 1024px) { color: $col-red; }
                    }
                    &.tooltip-active { color: $col-red; }
                    &:last-child { border-bottom: 0; }
                }
            }

            &-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
    .installment-calculator {
        width: 100%;
        margin: 0 0 40px;

        &__item { margin: 0 0 32px; }
        &__result {
            width: 100%;
            display: block;

            &-item { margin: 0 0 16px; }
        }
    }
}