
<section class="g-modal-bg dynamic-settings">

    <div class="dynamic-settings__container">

        <h2 class="dynamic-settings__title dynamic-settings__title_out-path">Настройка «Фотоотчета»</h2>

        <button class="dynamic-settings__btn dynamic-settings__btn_close-main btn-cls"><span></span></button>
        <button class="dynamic-settings__btn dynamic-settings__btn_success-main btn-success"></button>

        <div class="dynamic-settings__wrap dynamic-settings__wrap_path"
            [ngClass]="{'dynamic-settings__wrap_disabled': !onDynamic}">
            
            <div class="dynamic-settings__wrap dynamic-settings__wrap_head">

                <h3 class="dynamic-settings__title dynamic-settings__title_in-path">Ход строительства</h3>

                <button class="dynamic-settings__btn dynamic-settings_switch btn-empty"
                    (click)="onDynamic = !onDynamic">Включить</button>
            </div>
            <ghm-textarea class="dynamic-settings__input"
                [placeholder]="'Общее описание'"></ghm-textarea>
        </div>
        <div class="dynamic-settings__wrap dynamic-settings__wrap_path"
            [ngClass]="{'dynamic-settings__wrap_disabled': !onHouse}">
            
            <div class="dynamic-settings__wrap dynamic-settings__wrap_head">

                <h3 class="dynamic-settings__title dynamic-settings__title_in-path">Готовые дома</h3>

                <button class="dynamic-settings__btn dynamic-settings_switch btn-empty"
                    (click)="onHouse = !onHouse">Включить</button>
            </div>
            <ghm-textarea class="dynamic-settings__input"
                [placeholder]="'Общее описание'"></ghm-textarea>
        </div>

        <div class="dynamic-settings__wrap dynamic-settings__wrap_btn-main">

            <button class="dynamic-settings__btn dynamic-settings__btn_save btn_var-2">Сохранить и закрыть</button>
            <button class="dynamic-settings__btn dynamic-settings__btn_cancel btn-empty">Отменить</button>
        </div>
    </div>
</section>