
<section class="object-news">

    <div class="object-item__container object-news__container">

        <div class="object-news__head">
            <input type="checkbox" name="switch" id="news" class="switch">
            <label *ngIf="isAuthorizated" for="news" class="object-item__title">Новости</label>
            <h2 *ngIf="!isAuthorizated">Новости</h2>
        </div>

        <div class="object-news__options" *ngIf="isAuthorizated">
            <button class="object-news__options-btn btn-admin">Добавить новость</button>
            <button class="object-news__options-btn btn-admin">Добавить акцию</button>
        </div>

        <nav class="object-news__nav">
            <ul class="object-news__nav-list">
                <li class="object-news__nav-item" (click)="showSnippetType = 'all'"
                    [ngClass]="{'object-news__nav-item_active': showSnippetType === 'all'}">Все</li>
                <li class="object-news__nav-item" (click)="showSnippetType = 'news'"
                    [ngClass]="{'object-news__nav-item_active': showSnippetType === 'news'}">Новости</li>
                <li class="object-news__nav-item" (click)="showSnippetType = 'shares'"
                    [ngClass]="{'object-news__nav-item_active': showSnippetType === 'shares'}">Акции</li>
            </ul>
        </nav>

        <div class="object-news__slider">

            <button class="object-news__slider-all btn-empty">Все новости</button>
            <button (click)="prevBtn()" *ngIf="currentSlide > 0"
                class="object-news__slider-btn object-news__slider-btn_prev btn-slider btn-slider_prev btn-slider_white">
                <span></span>
            </button>
            <button (click)="nextBtn()" *ngIf="currentSlide + 3 < mockNews.length"
                class="object-news__slider-btn object-news__slider-btn_next btn-slider btn-slider_next btn-slider_white">
                <span></span>
            </button>

            <div class="object-news__slider-item slider-list" [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 376 ) ) + 'px)') }">
                
                <ng-container *ngFor="let snippet of mockNews; let i = index">

                    <div class="slider-list__item" *ngIf="snippet.type === showSnippetType || showSnippetType === 'all'"
                        [ngClass]="{'current-slide': currentSlide === i }">
                        
                        <a href="#" class="slider-list__item-link">
                            <p class="slider-list__house-name">{{snippet.houseName}}</p>
                            <div class="slider-list__image">
                                <img src="{{snippet.image}}" alt="news-image">
                            </div>
                            <p class="slider-list__title">{{snippet.title}}</p>
                            <p class="slider-list__date">{{snippet.date}}</p>

                            <div class="slider-list__type" *ngIf="snippet.type === 'shares'">Акция</div>
                        </a>


                        <div class="slider-list__edit" *ngIf="isAuthorizated">

                            <button class="slider-list__edit-item" (click)="onSelectItem(snippet)"
                                [class.slider-list__edit-item_active]="snippet == activeTooltip"><span></span></button>
                            
                            <div class="slider-list__tooltip">
                                <div class="slider-list__tooltip-item">Редактировать</div>
                                <div class="slider-list__tooltip-item">Убрать с главной</div>
                                <div class="slider-list__tooltip-item">В черновик</div>
                                <div class="slider-list__tooltip-item">Удалить</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>