<div class="g-modal-bg" *ngIf="showApartmentWindow">

    <div class="apartment">

        <div class="apartment__elements">
            <button class="apartment__elements-prev btn-slider btn-slider_white btn-slider_prev" 
                (click)="prevFlat()" *ngIf="flatIndex - 1 >= 0"><span></span></button>
            <button class="apartment__elements-next btn-slider btn-slider_white btn-slider_next" 
                (click)="nextFlat()" *ngIf="flatIndex + 1 < flatsList.length"><span></span></button>
            <button class="apartment__elements-cls btn-cls" (click)="close.emit(false)"><span></span></button>
        </div>


        <h2 class="apartment__info-title">
            {{(flatData.rooms < 1) ? '' : flatData.rooms }} {{((flatData.rooms < 1) ? 'Студия' : 'комнатная')}}, №&nbsp;{{flatData.flat}}
        </h2>
        <div class="apartment__image">
            <img class="apartment_item_scheme" (error)="img.style.display = 'none'"
                 [src]="'/assets/floor-plans/house_' + flatData.house + '/section_' + flatData.section + '/floor_' + flatData.floor + '/' + flatData.floor + 'floor_' + flatData.flat + 'flat.svg'" alt="" #img>
            <div *ngIf="img.style.display === 'none'" class="apartment__image-error g-3red"></div>
        </div>

        <div class="apartment__info">
            <div class="apartment__info-item">
                <p class="apartment__info-subtitle">Площадь</p>
                <p class="apartment__info-value">{{flatData.space}} м<sup>2</sup></p>
            </div>
            <div class="apartment__info-item">
                <p class="apartment__info-subtitle">Тип дома</p>
                <p class="apartment__info-value apartment__info-value--house">{{flatData.house}}</p>
            </div>
            <div class="apartment__info-item">
                <p class="apartment__info-subtitle">Этаж</p>
                <p class="apartment__info-value">{{flatData.floor}}</p>
            </div>
            <div class="apartment__info-item">
                <p class="apartment__info-subtitle">Отделка</p>
                <p class="apartment__info-value">{{flatData.decorationName}}</p>
            </div>
            <div class="apartment__info-item">
                <p class="apartment__info-subtitle">Стоимость</p>
                <p class="apartment__info-value"
                    [class.apartment__info-value--sale]="flatData.discount">
                    {{ (flatData.discount ?  (flatData.price - flatData.discount) : flatData.price) | myBitNumberPipe }} &#8381;
                </p>
            </div>
            <div class="apartment__info-item">
                <p class="apartment__info-subtitle">Срок сдачи</p>
                <p class="apartment__info-value">{{flatData.deliveryDate}}</p>
            </div>
        </div>
        <div class="apartment__btn">
            <button (click)="isReserveFormOpen = true" class="apartment__btn-reserve btn_var-2">Забронировать</button>
            <button (click)="isCreditFormOpen = true;" class="apartment__btn-credit btn_var-3">Заявка на ипотеку</button>
        </div>

    </div>
</div>

<app-form-credit *ngIf="flatData"
    (close)="isCreditFormOpen = $event"
    [isOpen]="isCreditFormOpen"
    [apartmentPrice]="flatData.price"
    [apartmentNumber]="flatData.flat"
    [type]="flatData.type"
    [article]="flatData.article">
</app-form-credit>
<app-form-reserve *ngIf="flatData"
    (close)="isReserveFormOpen = $event"
    [isOpen]="isReserveFormOpen"
    [apartmentPrice]="flatData.price"
    [apartmentNumber]="flatData.flat"
    [type]="flatData.type"
    [article]="flatData.article">
</app-form-reserve>
