<section class="object-news" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container">

        <div [class.object-news__head]="switchOn">
            <input type="checkbox" name="switch" id="news-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="news-switch" class="object-item__title">Новости</label>
        </div>

        <ng-container *ngIf="switchOn">

            <h2 class="object-news__title" *ngIf="!isAuthorizated">Новости</h2>

            <div class="object-news__options" *ngIf="isAuthorizated">
                <button class="object-news__options-btn btn-admin" (click)="createNewsSnippet()">Добавить новость</button>
                <button class="object-news__options-btn btn-admin" (click)="createSharesSnippet()">Добавить акцию</button>
            </div>

            <nav class="object-news__nav">
                <nav-menu
                    [navList]="navList"
                    [linkType]="'else'"
                    (routeNavigate)="changeType($event)">
                </nav-menu>
                <a class="g-all-object" routerLink="/news-shares/all">Все новости</a>
            </nav>

            <div class="object-news__slider">

                <button (click)="prevBtn()" *ngIf="currentSlide > 0"
                    class="object-news__slider-btn object-news__slider-btn_prev btn-slider btn-slider_prev btn-slider_white">
                    <span></span>
                </button>
                <button (click)="nextBtn()" *ngIf="currentSlide + 3 < this.currentSnippets.length"
                    class="object-news__slider-btn object-news__slider-btn_next btn-slider btn-slider_next btn-slider_white">
                    <span></span>
                </button>

                <ng-container>
                    <div class="object-news__slider-item slider-list" [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 376 ) ) + 'px)') }">

                        <app-news-shares-snippet *ngFor="let snippet of currentSnippets; let i = index"
                            class="slider-list__item"
                            [ngClass]="{'current-slide': currentSlide === i }" id="slider-item-{{i}}"
                            [isAuthorizated]="isAuthorizated"
                            [snippet]="snippet"
                            (deleteNewsSnippet)="deleteNewsSnippet($event)"
                            (redactNewsSnippet)="redactNewsSnippet($event)"
                            (updateNewsSnippet)="updateNewsSnippet($event)"
                            (deleteShareSnippet)="deleteShareSnippet($event)"
                            (redactShareSnippet)="redactShareSnippet($event)"
                            (updateShareSnippet)="updateShareSnippet($event)">
                        </app-news-shares-snippet>

                    </div>
                </ng-container>
            </div>

        </ng-container>

    </div>
</section>

<!-- форма создания новости -->
<app-news-create-redact-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="getAllSnippets()"
    [snippetsArray]="allSnippets"
    [redactId]="redactId"
    [objectId]="objectId"
    [objectName]="objectName"
    (close)="isNewsCreateRedactForm = false; windowScrollLocker.unblock()"
    [isForm]="isNewsCreateRedactForm">
</app-news-create-redact-form>

<!-- форма удаления новости -->
<app-news-delete-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="getAllSnippets()"
    (close)="isNewsDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="allSnippets"
    [redactId]="redactId" [isForm]="isNewsDeleteForm">
</app-news-delete-form>

<!-- форма редактирования и создания акции -->
<app-shares-edit class="admin-controll"
    *ngIf="isAuthorizated && isSharesCreateRedactForm"
    (snippetsChange)="getAllSnippets()"
    [objectId]="objectId"
    [objectName]="objectName"
    [objectMod]="objectMod"
    (close)="isSharesCreateRedactForm = false; windowScrollLocker.unblock()"
    [redactId]="redactId" [isForm]="isSharesCreateRedactForm">
</app-shares-edit>

<!-- форма удаления акции -->
<app-shares-delete class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="getAllSnippets()"
    (close)="isSharesDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="allSnippets"
    [redactId]="redactId" [isForm]="isSharesDeleteForm">
</app-shares-delete>
