<section class="object-news" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container">

        <div [class.object-news__head]="switchOn">
            <input type="checkbox" name="switch" id="news-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="news-switch" class="object-item__title">Новости</label>
        </div>

        <ng-container *ngIf="switchOn">

            <h2 class="object-news__title" *ngIf="!isAuthorizated">Новости</h2>

            <div class="object-news__options" *ngIf="isAuthorizated">
                <button class="object-news__options-btn btn-admin" (click)="createNewsSnippet()">Добавить новость</button>
                <button class="object-news__options-btn btn-admin" (click)="createSharesSnippet()">Добавить акцию</button>
            </div>

            <nav class="object-news__nav">
                <nav-menu
                    [navList]="navList"
                    [linkType]="'else'"
                    (routeNavigate)="changeType($event)">
                </nav-menu>
                <a class="g-all-object" routerLink="/news-shares/all">Все новости</a>
            </nav>

            <div class="object-news__slider">

                <button (click)="prevBtn()" *ngIf="currentSlide > 0"
                    class="object-news__slider-btn object-news__slider-btn_prev btn-slider btn-slider_prev btn-slider_white">
                    <span></span>
                </button>
                <button (click)="nextBtn()" *ngIf="currentSlide + 3 < this.currentSnippets.length"
                    class="object-news__slider-btn object-news__slider-btn_next btn-slider btn-slider_next btn-slider_white">
                    <span></span>
                </button>

                <ng-container>
                    <div class="object-news__slider-item slider-list" [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 376 ) ) + 'px)') }">

                        <div class="slider-list__item" *ngFor="let snippet of currentSnippets; let i = index"
                            [ngClass]="{'current-slide': currentSlide === i }" id="slider-item-{{i}}">

                            <a [routerLink]="['/news-shares/news/list/' + snippet._id]" class="slider-list__item-link" *ngIf="snippet.title">
                                <p class="slider-list__house-name">{{snippet.objectName}}</p>
                                <div class="slider-list__image">
                                    <img [src]="newsUploadsPath + snippet.thumbnail" alt="news-image" *ngIf="snippet.thumbnail">
                                </div>
                                <p class="slider-list__title" *ngIf="snippet.title">{{snippet.title}}</p>
                                <p class="slider-list__date">{{parseDate(snippet.created_at)}}</p>

                            </a>

                            <a [routerLink]="['/news-shares/shares/list/' + snippet._id]" class="slider-list__item-link" *ngIf="snippet.name">
                                <p class="slider-list__house-name">{{snippet.objectName}}</p>
                                <div class="slider-list__image">
                                    <img [src]="sharesUploadsPath + snippet.mainThumbnail" alt="news-image" *ngIf="snippet.mainThumbnail">
                                </div>

                                <p class="slider-list__title" *ngIf="snippet.text">{{snippet.text}}</p>
                                <p class="slider-list__date">{{parseDate(snippet.created_at)}}</p>

                                <div class="slider-list__type" *ngIf="snippet.name">Акция</div>
                            </a>

                            <div class="slider-list__edit" *ngIf="isAuthorizated">

                                <button class="slider-list__edit-item" (click)="onSelectItem(snippet._id)"
                                    [class.slider-list__edit-item_active]="snippet._id == activeTooltip"><span></span></button>

                                <div class="slider-list__tooltip" *ngIf="snippet.title">
                                    <div class="slider-list__tooltip-item" (click)="redactNewsSnippet(snippet._id)" *ngIf="snippet.title">Редактировать</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.show_on_main = false; updateNewsSnippet(snippet)" *ngIf="snippet.show_on_main">Убрать с главной</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.show_on_main = true; updateNewsSnippet(snippet)" *ngIf="!snippet.show_on_main && snippet.publish">На главную</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.publish = false; snippet.show_on_main = false; updateNewsSnippet(snippet)" *ngIf="snippet.publish">В черновик</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.publish = true; updateNewsSnippet(snippet)" *ngIf="!snippet.publish">Опубликовать</div>
                                    <div class="slider-list__tooltip-item" (click)="deleteNewsSnippet(snippet._id)" *ngIf="snippet.title">Удалить</div>
                                </div>
                                <div class="slider-list__tooltip" *ngIf="snippet.name">
                                    <div class="slider-list__tooltip-item" (click)="redactShareSnippet(snippet._id)" *ngIf="snippet.name">Редактировать</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.show_on_main = false; updateShareSnippet(snippet)" *ngIf="snippet.show_on_main">Убрать с главной</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.show_on_main = true; updateShareSnippet(snippet)" *ngIf="!snippet.show_on_main && snippet.publish">На главную</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.publish = false; snippet.show_on_main = false; updateShareSnippet(snippet)" *ngIf="snippet.publish">В черновик</div>
                                    <div class="slider-list__tooltip-item" (click)="snippet.publish = true; updateShareSnippet(snippet)" *ngIf="!snippet.publish">Опубликовать</div>
                                    <div class="slider-list__tooltip-item" (click)="deleteShareSnippet(snippet._id)" *ngIf="snippet.name">Удалить</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>

        </ng-container>

    </div>
</section>

<!-- форма создания новости -->
<app-news-create-redact-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="getAllSnippets()"
    [snippetsArray]="allSnippets"
    [redactId]="redactId"
    [objectId]="objectId"
    [objectName]="objectName"
    (close)="isNewsCreateRedactForm = false; windowScrollLocker.unblock()"
    [isForm]="isNewsCreateRedactForm">
</app-news-create-redact-form>

<!-- форма удаления новости -->
<app-news-delete-form class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="getAllSnippets()"
    (close)="isNewsDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="allSnippets"
    [redactId]="redactId" [isForm]="isNewsDeleteForm">
</app-news-delete-form>

<!-- форма редактирования и создания акции -->
<app-shares-edit class="admin-controll"
    *ngIf="isAuthorizated && isSharesCreateRedactForm"
    (snippetsChange)="getAllSnippets()"
    [objectId]="objectId"
    [objectName]="objectName"
    [objectMod]="objectMod"
    (close)="isSharesCreateRedactForm = false; windowScrollLocker.unblock()"
    [redactId]="redactId" [isForm]="isSharesCreateRedactForm">
</app-shares-edit>

<!-- форма удаления акции -->
<app-shares-delete class="admin-controll"
    *ngIf="isAuthorizated"
    (snippetsChange)="getAllSnippets()"
    (close)="isSharesDeleteForm = false; windowScrollLocker.unblock()"
    [snippetsArray]="allSnippets"
    [redactId]="redactId" [isForm]="isSharesDeleteForm">
</app-shares-delete>
