<div class="search-output" *ngIf="flatsList" #container>

    <app-loader 
        [loaderHeight]="300"
        [loaderShow]="isLoading"
    ></app-loader>

    <div class="search-output__head">

        <h3 class="search-output__head-title">Найдено {{flatsCount()}} квартир</h3>
    </div>

    <div class="search-output__result">
        <div class="search-output__empty" *ngIf="flatsList.length === 0 && !isLoading">Квартир по вашему запросу не найдено.<br>Попробуйте изменить условия поиска.</div>

        <app-flats-list
            [flatsList]="flatsList">
        </app-flats-list>

    </div>
    <div class="search-output__btn">
        <button class="search-output__btn-show btn_var-3" *ngIf="showMore" (click)="loadMore.emit()">Показать еще</button>
        <button class="search-output__btn-up btn-empty" (click)="scrollToTop()">Наверх</button>
    </div>

</div>
