<header class="header"
        [ngClass]="{
            'header-fixed' : isFixed,
            'header-fixed--hide' : isHidden,
            'header_open' : openMenu}">

    <div class="header__container">

        <a class="header__phone" [href]="'tel: +7 (499) 211 22 33'"></a>

        <a class="header__logo" routerLink="/">
            <img src="/assets/img/jk-object/header_logo.svg" alt="logo" >
        </a>

        <button class="header__burger" [ngClass]="{'header__burger_open': openMenu }"
            (click)="openBurger()">
                <span></span>
        </button>

        <div class="header__menu" *ngIf="openMenu">

            <div class="header__menu-container">

                <ul class="header__menu-list">
                    <li class="header__menu-item" *ngFor="let link of links">
                        <a [routerLink]="link.url" (click)="closeMenu()">
                            {{link.name}}
                        </a>
                    </li>
                </ul>

                <div class="header__menu-info">
                    <p class="header__menu-address">г. Люберцы, Новорязанское ш., д 7 <br> Торгово-офисный центр Гренада</p>
                    <div class="header__menu-social">
                        <a href="#" target="_blank" class="header__menu-link header__menu-link_insta"></a>
                        <a href="#" target="_blank" class="header__menu-link header__menu-link_fb"></a>
                    </div>
                    <a [href]="'tel: +7 (499) 211 22 33'" class="header__menu-number">+7 (499) 211 22 33</a>
                    <!--<button class="header__menu-desktop" (click)="showFullVersion()">Полная версия сайта</button>-->
                </div>
            </div>
        </div>
    </div>
</header>
