<section class="info">
    <div class="info-container">

        <div class="info-img"></div>

        <div class="info__wrapper">
            <div class="info__content">
                <ng-container *ngIf="snippet">
                    <p class="info__main-text">{{snippet.title}}</p>
                    <p class="info__text">{{snippet.text}}</p>
                </ng-container>
            </div>
            <div class="info__links">
                <ul>
                    <li><a href="javascript:void(0)" routerLink="/about" (click)="toCareer()" class="info__link">Вакансии</a></li>
                    <li><a href="javascript:void(0)" routerLink="/contacts" class="info__link">Контакты</a></li>
                    <li><a href="javascript:void(0)" routerLink="/about" fragment="team" class="info__link">Команда</a></li>
                    <li><a href="javascript:void(0)" routerLink="/about" fragment="functions" class="info__link">Наши функции</a></li>
                    <li><a href="javascript:void(0)" routerLink="/about" fragment="stage" class="info__link">Этапы реализации проекта</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
