<section class="object-gallery" [class.object-item--margin]="switchOn">

    <div class="object-item__container object-gallery__container">

        <ng-container *ngIf="switchOn">

            <h2 class="object-gallery__title">Галерея</h2>

            <nav class="object-gallery__nav" *ngIf="tabSnippet && tabSnippet.gallery">
                <div class="object-gallery__nav-wrap">
                    <div class="object-gallery__nav-wrap--scroll">
                        <nav-menu
                            [linkType]="'else'"
                            [navList]="this.tabSnippet.gallery"
                            (routeNavigate)="changeTab($event)"
                        ></nav-menu>
                    </div>
                </div>
            </nav>

            <div class="object-gallery__slider swiper-gallery">

                <div class="swiper-wrapper swiper-gallery__wrap" *ngIf="contentSnippet && contentSnippet.image_data && contentSnippet.image_data.length; else elseBlock">
                    <div class="swiper-gallery__slide swiper-slide" *ngFor="let slide of contentSnippet.image_data; let i = index">

                        <div class="swiper-gallery__slide-image">
                            <img [src]="uploadsPath + slide.image" alt="slide">
                        </div>

                        <h3 class="swiper-gallery__slide-title">{{slide.title}}</h3>
                        <div class="swiper-gallery__slide-descr">{{slide.description}}</div>
                        <div class="swiper-gallery__timeline" *ngIf="sliderTimeline"></div>
                    </div>
                </div>

                <div class="swiper-pagination swiper-gallery__pagination"></div>

                <button class="swiper-gallery__btn swiper-gallery__btn--next btn-slider btn-slider_next btn-slider_black"><span></span></button>
                <button class="swiper-gallery__btn swiper-gallery__btn--prev btn-slider btn-slider_prev btn-slider_black"><span></span></button>

                <ng-template #elseBlock>
                    <div class="gallery-slide__image">
                        <div class="object-item__mock-img"></div>
                    </div>
                </ng-template>
            </div>

        </ng-container>

    </div>
</section>
