@import "../../styles/modules/mixins/mixin";

.favorite {
    width: 100%;
    padding: 40px 0 96px;
    display: flex;
    flex-flow: column;
    align-items: center;
    @media (max-width: 760px) { padding: 32px 0 64px; }

    &__container { @include container(); }
    &__head {
        margin-bottom: 24px;
        
        &-title {
            font: 500 48px $font-formular;
            margin: 0 0 16px;
        }
        &-subtitle { font: 24px/29px $font-proba; }
    }

    &__objects { width: 100%; }

    @media (max-width: 760px) {
        padding: 32px 0 0;

        &__head {
            &-title { @include font-size(28px,28px); }
            &-subtitle { @include font-size(20px,26px); }
        }
    }
}
