<a [routerLink]="['/news-shares/news/list/' + snippet._id]" *ngIf="snippet.title">
    <p class="swiper-news__slide-jkName">{{snippet.objectName}}</p>
    <div class="swiper-news__slide-image">
        <img [src]="newsUploadsPath + snippet.thumbnail" alt="news-image" *ngIf="snippet.thumbnail">
    </div>
    <p class="swiper-news__slide-title" *ngIf="snippet.title">{{snippet.title}}</p>
    <p class="swiper-news__slide-date">{{parseCreatedAtDate(snippet.created_at)}}</p>
</a>

<a [routerLink]="['/news-shares/shares/list/' + snippet._id]" *ngIf="snippet.name">
    <p class="swiper-news__slide-jkName">{{snippet.objectName}}</p>
    <div class="swiper-news__slide-image">
        <img [src]="sharesUploadsPath + snippet.mainThumbnail" alt="news-image" *ngIf="snippet.mainThumbnail">
        <div class="swiper-news__slide-isShare" *ngIf="snippet.name">Акция</div>
    </div>
    <p class="swiper-news__slide-title" *ngIf="snippet.text">{{snippet.text}}</p>
    <p class="swiper-news__slide-date">{{parseCreatedAtDate(snippet.created_at)}}</p>
</a>
