<section class="object-news">

    <div class="object-news__container" [class.object-news__container--about]="pageName !== 'home'">

        <h2 class="object-news__title">Новости</h2>

        <nav class="object-news__nav">
            <nav-menu
                [navList]="navList"
                [linkType]="'else'"
                (routeNavigate)="changeType($event)"
            ></nav-menu>
            <a class="g-all-object object-news__nav-all" routerLink="/news-shares/all">
                <span class="object-news__nav-all-text">Все новости</span>
            </a>
        </nav>

        <div class="swiper-news">
            <div class="swiper-wrapper swiper-news__wrap">

                <app-news-shares-snippet class="swiper-news__slide swiper-slide" *ngFor="let snippet of currentSnippets"
                    [snippet]="snippet">
                </app-news-shares-snippet>
                
            </div>
        </div>

    </div>

</section>
