<app-admin-modal [formValid]="true" (closeModal)="close($event)">

    <h1 class="location__title">Настройка контента «Местоположения»</h1>
    <ul class="tabs">
        <li class="tabs__item" [class.active]="show === 'routes'" (click)="show = 'routes'">
            Объект
        </li>
        <li class="tabs__item" [class.active]="show === 'infra'" (click)="show = 'infra'">
            Инфраструктура
        </li>
    </ul>

    <app-location-routes-admin *ngIf="show === 'routes'"
        [(routesMarks)]="this.contentSnippet.data[0].routesMarks">
    </app-location-routes-admin>

    <app-infrastructure-routes-admin *ngIf="show === 'infra'"
        [(infraMarks)]="this.contentSnippet.data[2].infraMarks">
    </app-infrastructure-routes-admin>
</app-admin-modal>
