<app-admin-modal [formValid]="true" (closeModal)="close($event)">

    <h1 class="location__title">Настройка контента «Местоположения»</h1>
    <ul class="tabs">
        <li>
            <a href="javascript:void(0)" class="tab" [class.tab--active]="show === 'routes'" (click)="show = 'routes'">Объект</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="tab" [class.tab--active]="show === 'infra'" (click)="show = 'infra'">Инфраструктура</a>
        </li>
    </ul>

    <app-location-routes-admin *ngIf="show === 'routes'"
        [(routesMarks)]="this.contentSnippet.data[0].routesMarks">
    </app-location-routes-admin>

    <app-infrastructure-routes-admin *ngIf="show === 'infra'"
        [(infraMarks)]="this.contentSnippet.data[2].infraMarks">
    </app-infrastructure-routes-admin>
</app-admin-modal>
