@import '../../../../../styles/modules/mixins/mixin';

.tabs {
    width: 268px;
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #d8d8d8;
    font: 24px/29px $font-proba;
    color: rgba(0, 0, 0, 0.5);

    &__item {
        margin-right: 16px;
        position: relative;
        cursor: pointer;
        &:last-child { margin-right: 0; }
        &.active {
            color: $col-black;
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -9px; left: 0;
                background-color: $col-red;
            }
        }
    }
}

.location__title {
    font-size: 36px;
    margin-bottom: 24px;
}
