p {
    font: unset;
}

.product {
    width: 1280px;
    padding: 0 88px;
    margin: auto;
    padding-top: 292px;
    // padding-bottom: 145px;
    position: relative;
    box-sizing: border-box;
}
.product__shape-img {
    position: absolute;
    top: 212px;
    left: 88px;
    z-index: 2;
}
.product__inner {
    display: flex;
    margin-bottom: 90px;

}
.product__text {
    font-size: 24px;
    line-height: 30px;
    width: 764px;
    margin-right: 118px;
}
.product__sidetext {
    margin-top: 4px;
    font-size: 18px;
    line-height: 20px;
    width: 352px;
    padding-right: 60px;
    color: rgba(0, 0, 0, .5);
}
.product__parallax {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.product__parallax-group1 {
    width: auto;
    margin-right: 117px;
    position: relative;

}
.product__parallax-index1,
.product__parallax-index2,
.product__parallax-index3 {
    position: absolute;
}
.product__parallax-index1 {
    top: 110px;
    left: 75px;
    z-index: 15;
}
.product__parallax-index2 {
    top: 80px;
    left: 240px;
    z-index: 15;
    color: #fff;
}
.product__parallax-index3 {
    top: 385px;
    left: 250px;
    z-index: 3;
    color: #fff;
}
.product__parallax-num {
    font-size: 72px;
    font-family: 'Formular-medium';
}
.product__parallax-num--mod {
    position: relative;
    sup {
        position: absolute;
        right: -30px;
        top: 0px;
        font-size: 48px;
    }
}
.product__parallax-text {
    font-size: 24px;
    line-height: 1.25;
}
.product__parallax-item1,
.product__parallax-item2,
.product__parallax-item3 {
    position: absolute;
    top: 0;
    left: 160PX;
    z-index: 1;
}
.product__parallax-item2 {
    top: 250px;
    left: 16px;
    z-index: 2;
}
.product__parallax-item3 {
    top: 600px;
    left: -20px;
    z-index: 3;
}
.product__parallax-group2 {
    width: 351px;
    position: relative;

}
.product__parallax-item4 {
    position: absolute;
    right: 0;
    top: 0;
}
.product__parallax-item5 {
    margin-bottom: 240px;
    margin-top: 60px;
}
.product__parallax-item6,
.product__parallax-item7,
.product__parallax-item8 {
    margin-bottom: 56px;
    // transition: opacity 1s linear; 
    // transition: transform 1s linear; 
    opacity: 0;

    &--active {
        transform: translateY(-20px);
        animation: parallax 1s;
    }
    &--op {
        opacity: 1;
    }

}

@keyframes parallax {
    from {opacity: 0;transform: translateY(0);}
    to{opacity: 1;transform: translateY(-20px);}
}

.product__parallax-item5,
.product__parallax-item6,
.product__parallax-item7,
.product__parallax-item8 {
    text-align: left;
    width: 264px;
}
.company__year {
    font-size: 40px;
    color:  #ee4237;
    font-family: "Formular-medium";
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: -46px;
        z-index: 2;
        width: 200px;
        height: 2px;
        background: #ee4237;
    }
}
.company__info {
    font-size: 18px;
    line-height: 20px;
}
