<div class="product">
    <img class="product__shape-img" src="/assets/img/about/product/shape.svg" alt="shape">
    <div class="product__inner">
        <p class="product__text"> Наш продукт — это не типовая застройка, и не только жилые комплексы,
            но хорошо продуманная и организованная инфраструктура и среда объектов, включающая детские
            сады, школы, поликлиники, торговые центры, парковки, благоустроенные дворы и зеленые зоны,
            а также гостиницы и бизнес-центры.</p>
        <p class="product__sidetext"> Ряд объектов являются лауреатами
            и победителями престижных премий
            на рынке жилой недвижимости, таких
            как RREF AWARDS, CRE&PRO Estate
            Awards и др.</p>
    </div>
    <div class="product__parallax">
        <div class="product__parallax-index1" [style.transform]="'translateY(' + ( scrollTop * (-14)/100 + 'px)')">
            <p class="product__parallax-num">7</p>
            <p class="product__parallax-text">лет на <br> рынке</p>
        </div>
        <div class="product__parallax-index2" [style.transform]="'translateY(' + ( scrollTop * 8/100 + 'px)')">
            <p class="product__parallax-num product__parallax-num--mod">1,4 млн м <sup>2</sup></p>
            <p class="product__parallax-text">Общая площадь объектов</p>
        </div>
        <div class="product__parallax-index3">
            <p class="product__parallax-num">12</p>
            <p class="product__parallax-text">Проектов</p>
        </div>
        <div class="product__parallax-group1">
            <div class="product__parallax-item1">
                <img src="/assets/img/about/product/parallax-group1.png" alt="image" class="parallax-img1" [style.transform]="'translateY(' + ( scrollTop * 8/100 + 'px)')">
            </div>
            <div class="product__parallax-item2">
                <img src="/assets/img/about/product/parallax-group2.png" alt="image" class="parallax-img2">
            </div>
            <div class="product__parallax-item3">
                <img src="/assets/img/about/product/parallax-group3.png" alt="image" class="parallax-img3" [style.transform]="'translateY(' + ( scrollTop * (-14)/100 + 'px)')">
            </div>
        </div>
        <div class="product__parallax-group2">
            <div class="product__parallax-item4">
                <img src="/assets/img/about/product/blue-bar.svg" alt="bar">
            </div>
            <div class="product__parallax-item5">
                <p class="company__year">2012</p>
                <p class="company__info">Компания 3-RED основана командой профессионалов
                    в сфере девелопмента</p>
            </div>
            <div class="product__parallax-item6" #year1>
                <p class="company__year">2016</p>
                <p class="company__info">В 2016-2019 г. 3-RED входит
                    в десятку крупнейших застройщиков Московской области.
                    Текущий портфель превышает 1 млн м²</p>
            </div>
            <div class="product__parallax-item7" #year2>
                <p class="company__year">2018</p>
                <p class="company__info">Запущен в строительство
                    1-й объект в Москве, жилой комплекс «Дом на Барвихинской»</p>
            </div>
            <div class="product__parallax-item8" #year3>
                <p class="company__year">2019</p>
                <p class="company__info">3-RED вышла на федеральный рынок с проектом жилого комплекса в Ярославле
                    «Сердце Ярославля»</p>
            </div>

        </div>
    </div>
</div>
