
<div *ngIf="isSlideShow" class="dynamic-modal">

    <div class="dynamic-modal__wrap">
        <button (click)="close.emit(false)" class="dynamic-modal__cls-btn btn-cls"><span></span></button>

        <ng-container *ngFor="let slide of slides; let i = index">
            <img *ngIf="slide.type === 'IMAGE'"
                class="dynamic-modal__img"
                [src]="uploadsPath + slide.origin"
                [ngClass]="{'dynamic-slider-current': i === slideShowCurrent}"
            />
        </ng-container>

        <button (click)="prev()" class="dynamic-modal__btn dynamic-modal__btn_left btn-slider btn-slider_prev btn-slider_white"><span></span></button>
        <button (click)="next()" class="dynamic-modal__btn dynamic-modal__btn_right btn-slider btn-slider_next btn-slider_white"><span></span></button>

        <!-- Сюда должны подгружаться Заголовок и месяц с годом -->
        <p class="dynamic-modal__text dynamic-modal__text-title">Корпус 1</p>
        <p class="dynamic-modal__text dynamic-modal__text-month">Апрель 2019</p>
    </div>

</div>
