
<div class="dynamic-modal">

    <div class="dynamic-modal__wrap">
        <button (click)="close.emit(false)" class="dynamic-modal__cls-btn btn-cls"><span></span></button>

        <ng-container *ngFor="let slide of slides; let i = index">
            <img
                class="dynamic-modal__img"
                [src]="uploadsPath + slide.image"
                [ngClass]="{'dynamic-slider-current': i === slideShowCurrent}"
            />
        </ng-container>

        <button (click)="prev()" class="dynamic-modal__btn dynamic-modal__btn_left btn-slider btn-slider_prev btn-slider_white"><span></span></button>
        <button (click)="next()" class="dynamic-modal__btn dynamic-modal__btn_right btn-slider btn-slider_next btn-slider_white"><span></span></button>

        <!-- Сюда должны подгружаться Заголовок и месяц с годом -->
        <p class="dynamic-modal__text dynamic-modal__text-title">{{currentObject.title}}</p>
        <p class="dynamic-modal__text dynamic-modal__text-month">{{monthArray[month - 1]}} {{year}}</p>
    </div>

</div>
