
<section class="object-preview">

    <img src="/assets/img/jk-object/temp_bg.jpg" class="object-preview__background-image" alt="background-image">

    <div class="object-preview__wrapper object-preview__wrapper_top">
        <a [routerLink]="['/objects/list']" class="object-preview__back-btn">Назад <span>к списку объектов</span></a>
        <div class="object-preview__item">
            <a href="#" class="object-preview__info object-preview__info--icon"><span>Трансляция с веб-камер</span></a>
        </div>

        <div class="object-preview__wrap">
            <div class="object-preview__item">
                <p class="object-preview__info"
                    [ngClass]="{'object-preview__info_success': limit.success}" *ngFor="let limit of mockDate">
                    {{ limit.corpus + ' — ' + limit.date }}
                </p>
            </div>
        </div>
    </div>

    <div class="object-preview__wrapper object-preview__wrapper_bottom">
        <h1 class="object-preview__title">Сердце Ярославля</h1>
        <p class="object-preview__text">г. Ярославль, ул. Городской Вал 15</p>

        <div class="indicators">

            <ng-container *ngFor="let item of mockSnippet">
                
                <div class="indicators__item" *ngIf="item.text === 'Цена квартиры'">
                    <div class="indicators__value">{{item.val}}</div>
                    <div class="indicators__key">{{item.text}}</div>
                </div>
            </ng-container>
        </div>
        <div class="object-preview__wrap object-preview__wrap_btns">
            <button class="object-preview__change-dynamic">Фотоотчет</button>
            <button class="object-preview__change-flats btn_var-1">Выбрать квартиру</button>
        </div>
    </div>
</section>