<section class="house" *ngIf="jk">

    <div class="house__container">

        <div class="house__nav">
            <div class="object__flat-list-wrap">
                <a [routerLink]="'/objects/list/' + jk._id + '/storerooms'" class="house__nav-back">Дом {{houseNumber}}, секция {{sectionNumber}}, этаж {{floorNumber}}</a>
            </div>
        </div>

        <div class="storerooms-floor_description">

            <div [innerHTML]="floorSvg | houseSVGSanitizePipe" class="storerooms-floor_description_scheme"></div>

            <app-storeroom-info-window *ngIf="infoWindow"
                [infoWindow]="infoWindow">
            </app-storeroom-info-window>

        </div>

    </div>

</section>

<app-storeroom-request-window *ngIf="isRequestWindowOpen"
    (close)="isRequestWindowOpen = $event; windowScrollLocker.unblock()"
    [isOpen]="isRequestWindowOpen"
    [storeroomData]="storeroomData">
</app-storeroom-request-window>
