
<section class="storage-modal">

    <div class="storage-modal__container">

        <button class="storage-modal__btn-cls btn-cls"><span></span></button>

        <h2 class="storage-modal__name">Кладовая, №109</h2>
        <div class="storage-modal__image">
            <img src="/assets/img/flats/storage-modal.jpg" alt="preview-image">
        </div>

        <ul class="storage-modal__list">
            <li class="storage-modal__list-item">
                <span>Дом</span>
                <span>3</span>
            </li>
            <li class="storage-modal__list-item">
                <span>Секция</span>
                <span>3</span>
            </li>
            <li class="storage-modal__list-item">
                <span>Площадь</span>
                <span>3</span>
            </li>
            <li class="storage-modal__list-item">
                <span>Стоимость</span>
                <span>3</span>
            </li>
        </ul>

        <div class="storage-modal__btns">
            <button class="storage-modal__btns-reserve btn_var-2">Забронировать кладовую</button>
            <button class="storage-modal__btns-credit btn_var-3">Заявка на ипотеку</button>
        </div>
    </div>
</section>