@import '../../../../../../styles/modules/mixins/mixin';

.storage-modal {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: $col-fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    &__container {
        width: 400px;
        position: relative;
        box-sizing: border-box;
        background-color: $col-white;
        padding: 16px 24px 24px;
    }

    &__btn-cls {
        position: absolute;
        top: 0; left: calc(100% + 24px);
    }

    &__name {
        font: 24px/29px $font-proba;
        color: $col-black;
        margin: 0 0 8px;
    }
    &__image {
        width: 100%;
        height: 234px;
        margin: 0 0 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__list {
        font: $font-18;
        color: $col-black;
        margin: 0 0 24px;

        &-item {
            width: 100%;
            padding: 8px 0;
            border-bottom: 1px solid $col-border;
            display: flex;
            justify-content: space-between;
            &> span:last-child { color: $col-black-5; }
        }
    }

    &__btns {
        width: 100%;

        &-reserve {
            width: 100%;
            margin: 0 0 12px;
        }
        &-credit { width: 100%; }
    }
}