<main class="main" *ngIf="newsLoaded">

    <app-home-preview
        [newsSnippet]="allSnippets"
        [isAuthorizated]="isAuthorizated">
    </app-home-preview>

    <app-home-item-filter>
    </app-home-item-filter>

    <app-jk-objects-list
        [isMainPage]="true">
    </app-jk-objects-list>

    <app-home-ilike>
    </app-home-ilike>

    <app-home-news
        [pageName]="'home'">
    </app-home-news>

    <app-home-info
        [isAuthorizated]="isAuthorizated">
    </app-home-info>
</main>
