@import '../../../../../../../styles/modules/mixins/mixin';

.house-selector__modal {
    width: 150px;
    max-height: 48px * 5;
    border: 1px solid $col-border;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background-color: $col-white;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;

    &-item {
        height: 48px;
        box-sizing: border-box;
        padding-left: 16px;
        cursor: pointer;
        font: $font-18;
        transition: color .2s linear;
        display: flex;
        align-items: center;
        &:hover { color: $col-red; }
    }
}

.house-selector__label {
    width: 89px + 16px + 28px;
    height: 28px;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 38px;
    box-sizing: border-box;
    cursor: pointer;
    &:before {
        content: '';
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: auto;
        background: url(/assets/img/admin_content/arrow_select_list.svg) 45% no-repeat rgba($color: $col-border, $alpha: .31);
        background-size: 8px 10px;
        transform: rotate(-90deg);
    }

    &-text {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
