<section class="object-location" [class.object-item--margin]="switchOn || isAuthorizated">


    <div class="object-item__container">

        <div [class.object-location__head]="switchOn">
            <input type="checkbox" name="switch" id="location-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="location-switch" class="object-item__title">Местоположение</label>
        </div>

        <ng-container *ngIf="switchOn">

            <h2 *ngIf="!isAuthorizated">Местоположение</h2>

            <div class="object-location__options" *ngIf="isAuthorizated">
                <button class="btn__admin-setting">Настройки</button>
                <button class="btn__admin-content btn_var-2">Контент</button>
            </div>

            <nav class="object-location__nav">
                <ul class="object-location__nav-list">
                    <li class="object-location__nav-item" *ngFor="let nav of navPoint"
                        [ngClass]="{'object-location__nav-item_active': nav.name === openPath}"
                        (click)="openPath = nav.name">{{nav.name}}</li>
                </ul>

                <div class="object-location__address">
                    <p class="object-location__address-title">ЖК распологается по адресу</p>
                    <p class="object-location__address-name">Горки Ленинские, Московская обл.,142712</p>
                </div>
            </nav>

            <app-location-infrastructure *ngIf="openPath === 'Инфраструктура'">

            </app-location-infrastructure>


        </ng-container>

    </div>

    <div class="object-location__map" *ngIf="switchOn">

        <app-location-routes *ngIf="openPath === 'Объект'">

        </app-location-routes>

        <div id="map" class="object-location__map-item">
        </div>

    </div>

</section>
