<app-admin-modal [formValid]="form.valid" (closeModal)="close($event)" *ngIf="!isLoad">

    <h2 class="team-settings__title">Контент {{tabName}}</h2>

    <form class="tabs" [formGroup]="form">
        <div class="tabs__wrap" formArrayName="data" *ngFor="let data of form.controls['data'].controls; let i = index">
            <ng-container formGroupName="{{i}}">
                <div class="tabs__container">
                    <h2 class="tabs__title">Карточка {{i + 1}}</h2>
                    <div class="tabs__nav">
                        <a href="javascript:void(0)" class="tabs__nav-link" (click)="popData(i)">Удалить</a>
                        <!--<a href="#" class="tabs__nav-link">Вверх</a>-->
                        <!--<a href="#" class="tabs__nav-link">Вниз</a>-->
                    </div>
                </div>
                <label class="btn btn--camera">Загрузить фото
                    <input style='display: none;' type="file" placeholder="Upload file" accept=".jpg" (change)="imageUpload($event, i)">
                </label>
                <div class="wrap" *ngIf="data.get('thumbnail').value">
                    <button class="button__delete" (click)="delImg(i)"><img class="tab__img" src="/assets/img/jk-object/admin-modal/tab_delete.svg" alt="delete"></button>
                    <img class='bg-img' [src]="uploadsPath + data.get('thumbnail').value" alt="image" width="94" height="94">
                </div>
                <div class="form">
                    <div class="form__wrap">
                        <div class="form-item form-item--inline form-item--mr">
                            <input type="text" class="form-input info-input" appSlideTopLabel formControlName="fio">
                            <label class="form-label info-suptitle">Имя Фамилия</label>
                        </div>
                        <div class="form-item form-item--inline">
                            <input type="text" class="form-input info-input" appSlideTopLabel formControlName="position">
                            <label class="form-label info-suptitle">Должность</label>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <button class="btn btn--settings" (click)="pushData()">Добавить карточку</button>
    </form>

</app-admin-modal>
