<div class="news__list">

    <ng-container *ngFor="let snippet of snippetsArray">
        <div  class="news__list-item">
            <a [routerLink]="['/news-shares/news/list/' + snippet._id]" class="news__item" *ngIf="snippet.title">
                <div class="news__category" [class.news__category--exist]="snippet.objectName">{{snippet.objectName}}</div>
                <div class="news__img-wrap">
                    <img [src]="uploadsPath + snippet.thumbnail" height="264" alt="news" class="news__image">
                </div>
                <p class="news__list-title">{{snippet.title}}</p>
                <div class="news__date">{{parseCreatedAtDate(snippet.created_at)}}</div>
            </a>

            <div class="news__list__edit" *ngIf="isAuthorizated">

                <button class="news__list__edit-item" (click)="onSelectItem(snippet._id)"
                        [class.news__list__edit-item_active]="snippet._id == activeTooltip"><span></span></button>

                <div class="news__list__tooltip" *ngIf="snippet.title">
                    <div class="news__list__tooltip-item" (click)="redactSnippet.emit(snippet._id)">Редактировать</div>
                    <div class="news__list__tooltip-item" (click)="snippet.show_on_main = false; updateSnippet.emit(snippet)" *ngIf="snippet.show_on_main">Убрать с главной</div>
                    <div class="news__list__tooltip-item" (click)="snippet.show_on_main = true; updateSnippet.emit(snippet)" *ngIf="!snippet.show_on_main">На главную</div>
                    <div class="news__list__tooltip-item" (click)="snippet.publish = false; updateSnippet.emit(snippet)" *ngIf="snippet.publish">В черновик</div>
                    <div class="news__list__tooltip-item" (click)="snippet.publish = true; updateSnippet.emit(snippet)" *ngIf="!snippet.publish">Опубликовать</div>
                    <div class="news__list__tooltip-item" (click)="deleteSnippet.emit(snippet._id)">Удалить</div>
                </div>
            </div>
        </div>
    </ng-container>

</div>
