
<section class="object-filter">

    <div class="object-filter__container">

        <h3 class="object-filter__title">Подобрать квартиру</h3>
    
        <div class="object-filter__room">
            <p class="object-filter__text object-filter__text_for-input g-text_sign">Количество комнат</p>
            <div class="object-filter__room-item">
                <input id="stud" type="checkbox" style="display: none;">
                <label for="stud">Ст</label>
            </div>
            <div class="object-filter__room-item">
                <input id="room1" type="checkbox" style="display: none;">
                <label for="room1">1</label>
            </div>
            <div class="object-filter__room-item">
                <input id="room2" type="checkbox" style="display: none;">
                <label for="room2">2</label>
            </div>
            <div class="object-filter__room-item">
                <input id="room3" type="checkbox" style="display: none;">
                <label for="room3">3+</label>
            </div>
        </div>
        
        <div class="object-filter__price">
            <p class="object-filter__text object-filter__text_for-input g-text_sign">Стоимость</p>

            <div class="object-filter__price-range">
                <p class="object-filter__text object-filter__text_for-price"><span #minPrice>2 000 000</span> &#8381;</p>
                <p class="object-filter__text object-filter__text_for-price">&mdash;</p>
                <p class="object-filter__text object-filter__text_for-price"><span #maxPrice>12 000 000</span> &#8381;</p>
            </div>

            <!-- Он не правильно работает, но я добавил что бы сделать верстку -->
            <ghm-range-number
                [min]="config.price.min"
                [max]="config.price.max"
                [toFixed]="true"
                (move)="minPrice.innerHTML = ($event.min / 1000000).toFixed(1); maxPrice.innerHTML = ($event.max / 1000000).toFixed(1)">
            </ghm-range-number>
        </div>

        <button class="object-filter__btn-link btn_var-3">
            1241 предложение
        </button>
    </div>
</section>