

@import '../../../../../../styles/modules/mixins/mixin';

.storage-list {
    width: 100%;
    min-height: calc(100vh - 93px);
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 0 0;

    &__container { @include container(); }
    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 24px;

        &-container {
            @include container();
            display: flex;
            flex-flow: column;
            align-items: flex-start;
        }

        &-wrap {
            width: calc(100% + 40px);
            height: 25px;
            overflow: hidden;
            margin: 0 -20px;

            &--scroll {
                width: 100%;
                height: calc(100% + 20px);
                box-sizing: border-box;
                overflow-x: scroll;
                overflow-y: hidden;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 20px;
            }
        }

        &-back {
            display: block;
            font: 24px/29px $font-proba;
            color: $col-black;
            padding-left: 8px + 28px;
            position: relative;
            cursor: pointer;
            margin: 0 0 24px;
            &::before {
                content: '';
                position: absolute;
                top: -2px; left: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: url(/assets/img/arrow.svg) center no-repeat rgba($color: $col-black, $alpha: .03);
                transition: background-color .2s linear;
            }
            &:hover::before {
                background-color: rgba($color: $col-black, $alpha: .5);
            }
        }
        &-list {
            display: flex;
            padding-right: 20px;
            li + li { margin-left: 16px; }
        }
        &-link {
            font: 18px/23px $font-proba;
            color: rgba($color: $col-black, $alpha: .5);
            transition: color .2s linear;
            &:hover { color: $col-red_hover; }
            &.active { color: $col-red; }
        }
    }

    &__title {
        font: 36px/43px $font-proba;
        color: $col-black;
        margin: 0 0 40px;
        @media (max-width: 760px) {
            @include font-size(28px,34px);
            margin: 0 0 32px;
        }
    }

    &__houses {
        width: 100%;
        display: block;
        margin: 0 0 32px;

        &-title {
            font: 24px/29px $font-proba;
            color: $col-black;
            margin: 0 0 16px;
            @media (max-width: 760px) {
                @include font-size(20px,26px);
                margin: 0 0 8px;
            }
        }
    }
    &__sections {
        // width: 916px;
        width: 100%;
        height: 71px;
        background-color: $col-white;
        transition: background-color .2s linear;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        position: relative;
        padding: 0 24px;
        margin: 0 0 4px;
        cursor: pointer;
        &:hover { background-color: #fef5f5; }
        &:last-child { margin: 0; }

        &-count,
        &-floor,
        &-price {
            font: 18px/24px $font-proba;
            color: $col-black;
        }
        &-count { margin-right: 12px; }
        &-floor {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            color: rgba($color: $col-black, $alpha: .5);
        }
        @media (max-width: 760px) {
            height: 50px;
            justify-content: flex-start;

            &-count,
            &-floor,
            &-price { @include font-size(14px,18px); }
            &-floor {
                position: static;
                transform: none;
            }
            &-price { margin-left: auto; }
        }
    }
}
