<section class="storage-list" *ngIf="jk">

    <div class="storage-list__nav">
        <div class="storage-list__nav-container">

            <a [routerLink]="'/objects/list/' + jk._id" class="storage-list__nav-back">ЖК {{jk.name}}</a>

            <div class="storage-list__nav-wrap">
                <div class="storage-list__nav-wrap--scroll">
                    <ul class="storage-list__nav-list">
                        <li><a [routerLink]="'/objects/list/' + jk._id + '/flats'" routerLinkActive="active" class="storage-list__nav-link">Квартиры</a></li>
                        <li><a [routerLink]="'/objects/list/' + jk._id + '/storerooms'" routerLinkActive="active" class="storage-list__nav-link">Кладовые</a></li>
                        <li *ngIf="isParking"><a [routerLink]="'/objects/list/' + jk._id + '/parking'" routerLinkActive="active" class="storage-list__nav-link">Машиноместа</a></li>
                        <!--<li><a class="storage-list__nav-link">Коммерческая недвижимость</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="storage-list__container">

        <h2 class="storage-list__title">Кладовые в ЖК {{jk.name}}</h2>

        <!-- routerLink=":house/:section/:floor" -->
        <ng-container *ngFor="let item of storeMas">
            <div class="storage-list__houses">
                <h2 class="storage-list__houses-title">Дом {{item.house}}</h2>

                <a [routerLink]="['/objects/list/' + jk._id + '/storerooms/house/' + item.house + '/section/' + store.section + '/floor/' + store.floor]" class="storage-list__sections" *ngFor="let store of item.stores">
                    <div class="storage-list__sections-count">Секция  {{store.section}}</div>
                    <div class="storage-list__sections-floor">Этаж {{store.floor}}</div>
                    <div class="storage-list__sections-price">от {{store.price | myBitNumberPipe}} ₽</div>
                </a>
            </div>
        </ng-container>
    </div>
</section>
