<section class="stage" id="stage" #stage>
    <div class="stage__container">
        <h2 class="stage__title">Этапы реализации проекта</h2>
        <p class="stage__text">
            Каждый наш объект реализован по индивидуальному проекту, разработанному 
            с учетом максимальных возможностей площадок. Девелопмент в 3-RED — это 
            творческая работа, основанная на тщательном анализе, подробных исследованиях 
            и расчетах. Результатом такой работы становятся жилые комплексы с идеальным 
            балансом экономических, эстетических, функциональных характеристик.</p>
        <div class="stage__parallax-wrap">

            <img src="/assets/img/about/product/all-arrow.svg" alt="arrows" class="stage__parallax-img1">

            <div class="stage__parallax-wrapper">
                <img src="/assets/img/about/product/parallax-img.png" alt="image" class="stage__parallax-img2"
                     [style.transform]="stage.getBoundingClientRect().top < 200 ? 'translateY(' + stage.getBoundingClientRect().top * - 0.06333 + 'px)' : img.style.transform" #img>
            </div>
            <div class="stage__grid-container">
                <div class="stage__grid-item">
                    <p class="stage__num">1</p>
                    <p class="stage__parallax-text"> Маркетинговые исследования</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">2</p>
                    <p class="stage__parallax-text">Расчет экономики
                        проектов и построение финансовых моделей</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">3</p>
                    <p class="stage__parallax-text">Подбор и оформление
                        земельных участков</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">4</p>
                    <p class="stage__parallax-text"> Привлечение
                        финансирования</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">5</p>
                    <p class="stage__parallax-text">Формирование
                        архитектурной концепции</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">6</p>
                    <p class="stage__parallax-text">Разработка
                        градостроительной доументации</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">7</p>
                    <p class="stage__parallax-text"> Проектно-
                        изыскательские работы</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">8</p>
                    <p class="stage__parallax-text"> Огранизация
                        строительства, строительный контроль</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">9</p>
                    <p class="stage__parallax-text"> Ввод в эксплуатацию
                        и передача готового объекта</p>
                </div>
                <div class="stage__grid-item">
                    <p class="stage__num">10</p>
                    <p class="stage__parallax-text"> Коммерческое управление
                        и техническая эксплуатация объекта</p>
                </div>

            </div>
        </div>
    </div>

</section>
