:host {
    width: 100%;
    position: relative;
}

.share-view {
    &__blocks-img {
        width: 100%;
        object-fit: contain;
        padding-right: 24px;
    }

    &__btn2-wrap {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 557px;
        top: 90px;
        left: 39px;
        z-index: 1;
    }
}
