<div class="location_aside">

    <ul class="location_aside_list">

        <!-- собираются маркеры с типом 'auto' -->
        <div class="location_aside_list_block">
            <h5 class="location_aside_list_title location_aside_list_title--auto" [class.location_aside_list_title--open]="asideTypeActive === 'auto'" (click)="asideTypeActive = asideTypeActive === 'auto' ? '' : 'auto'">Автомобиль</h5>
            <ng-container *ngFor="let link of markers">
                <li (click)="changeRoute(link)" [ngClass]="{ 'location_aside_list_item--active': link.config.content == linkActive }" *ngIf="link.config.type == 'auto' && asideTypeActive === 'auto'" class="location_aside_list_item">
                    <p class="location_aside_list_item_name">{{link.config.place}} <br><span class="location_aside_list_item_hint">({{link.config.info}})</span></p>
                </li>
            </ng-container>
        </div>

        <!-- собираются маркеры с типом 'metro' -->
        <div class="location_aside_list_block">
            <h5 class="location_aside_list_title location_aside_list_title--metro" [class.location_aside_list_title--open]="asideTypeActive === 'metro'" (click)="asideTypeActive = asideTypeActive === 'metro' ? '' : 'metro'">Общественный транспорт</h5>
            <ng-container *ngFor="let link of markers">
                <li (click)="changeRoute(link)" [ngClass]="{ 'location_aside_list_item--active': link.config.content == linkActive }" *ngIf="link.config.type == 'metro' && asideTypeActive === 'metro'" class="location_aside_list_item">
                    <p class="location_aside_list_item_name">{{link.config.place}} <span class="location_aside_list_item_hint">({{link.config.info}})</span></p>
                    <p class="location_aside_list_item_subtext_name location_aside_list_item_subtext--bus">
                        {{link.config.name}}&nbsp;
                        <!--<span class="location_aside_list_item_subtext_hint">{{subText.hint}}</span>-->
                    </p>
                </li>
            </ng-container>
        </div>

    </ul>

</div>
