<section class="object-flat" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container" *ngIf="isAuthorizated" [class.object-flat__container]="switchOn">
        <div class="project__wrap">
            <input type="checkbox" name="switch" id="chooseHouse-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="chooseHouse-switch" class="object-item__title">Выберите дом</label>
        </div>
        <p *ngIf="switchOn && isAuthorizated" class='object-flat__text'>Данный блок не настраивается и не заполняется с помощью админки</p>
    </div>

    <ng-container *ngIf="switchOn">

        <h2 class="object-flat__title" *ngIf="!isAuthorizated">Выберите дом</h2>

        <nav class="object-flat__nav">
            <ul class="object-flat__nav-list">
                <li class="object-flat__nav-line"
                    [style.left.px]="offsetLeftActive"
                    [style.width.px]="widthActive"></li>
                <li class="object-flat__nav-item" [class.active]="activeTab === 'flats'" *ngIf="storerooms.length || parking.length" (click)="getActiveElement($event); changeTab('flats')">Квартиры</li>
                <!--<li class="object-flat__nav-item">Коммерческая недвижимость</li>-->
                <li class="object-flat__nav-item" [class.active]="activeTab === 'storerooms'" *ngIf="storerooms.length" (click)="getActiveElement($event); changeTab('storerooms')">Кладовые</li>
                <li class="object-flat__nav-item" [class.active]="activeTab === 'parking'" *ngIf="parking.length" (click)="getActiveElement($event); changeTab('parking')">Машиноместа</li>
            </ul>
        </nav>

        <div class="object-flat__plan" *ngIf="mod !== 'НТМ' && mod !== 'ОБ' && mod !== 'НК' && mod !== 'МКВ'">

            <img class="object-flat__plan-img" src="/assets/img/jk-object/temp_bg.jpg" alt="">
    <!-- Места поблизсти -->
            <div class="object-flat__placement">
                <div class="object-flat__placement-item object-flat__placement-item_{{item.mod}}" *ngFor="let item of genplanPlacement">
                    {{ item.title }}
                </div>
            </div>
    <!-- Генплан квартир -->
            <div class="object-flat__house g-3red">
                <!-- <div class="object-flat__house-wrap object-flat__house-wrap_house-{{house.houseNumber}}" *ngFor="let house of tempHouse">
                    <a class="object-flat__house-item">
                        <span>№{{house.houseNumber}}</span>
                        <span>{{house.freeFlats ? house.freeFlats + ' кв' : 'не в продаже'}}</span>
                    </a>
                    <div class="object-flat__house-tooltip object-flat__house-tooltip_house-{{house.houseNumber}}">
                        <h3>Дом №{{house.houseNumber}}</h3>
                        <ul>
                            <li *ngFor="let room of house.rooms" class="object-flat__house-room">
                                <span>{{room.name === 0 ? 'Студии' : room.name + '-комнатные'}}</span>
                                <span>{{room.minPrice ? 'от ' + room.minPrice + ' млн Р' : 'не в продаже'}}</span>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>

        <app-flats-nk-plan-page *ngIf="mod === 'НК'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-nk-plan-page>

        <app-flats-mkv-plan-page *ngIf="mod === 'МКВ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-mkv-plan-page>

        <app-flats-nt-plan-page *ngIf="mod === 'НТМ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-nt-plan-page>

        <app-flats-ob-plan-page *ngIf="mod === 'ОБ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-ob-plan-page>

    </ng-container>
</section>


