<section class="object-flat" [class.object-item--margin]="switchOn || isAuthorizated">

    <div class="object-item__container" *ngIf="isAuthorizated" [class.object-flat__container]="switchOn">
        <div class="project__wrap">
            <input type="checkbox" name="switch" id="chooseHouse-switch" class="switch" (change)="switchBlock($event)" [checked]="switchOn">
            <label *ngIf="isAuthorizated" for="chooseHouse-switch" class="object-item__title">Выберите дом</label>
        </div>
        <p *ngIf="switchOn && isAuthorizated" class='object-flat__text'>Данный блок не настраивается и не заполняется с помощью админки</p>
    </div>

    <ng-container *ngIf="switchOn">

        <h2 class="object-flat__title" *ngIf="!isAuthorizated">Выберите дом</h2>

        <!--<nav class="object-flat__nav">-->
            <!--<ul class="object-flat__nav-list">-->
                <!--<li class="object-flat__nav-line"-->
                    <!--[style.left.px]="offsetLeftActive"-->
                    <!--[style.width.px]="widthActive"></li>-->
                <!--<li class="object-flat__nav-item" [class.active]="activeTab === 'flats'" *ngIf="storerooms.length || parking.length" (click)="getActiveElement($event); changeTab('flats')">Квартиры</li>-->
                <!--<li class="object-flat__nav-item">Коммерческая недвижимость</li>-->
                <!--<li class="object-flat__nav-item" [class.active]="activeTab === 'storerooms'" *ngIf="storerooms.length" (click)="getActiveElement($event); changeTab('storerooms')">Кладовые</li>-->
                <!--<li class="object-flat__nav-item" [class.active]="activeTab === 'parking'" *ngIf="parking.length" (click)="getActiveElement($event); changeTab('parking')">Машиноместа</li>-->
            <!--</ul>-->
        <!--</nav>-->

        <div class="object-flat__plan" *ngIf="mod !== 'СЯ' && mod !== 'ВБ2' && mod !== 'БР' && mod !== 'НТМ' && mod !== 'ОБ' && mod !== 'НК' && mod !== 'МКВ' && mod !== 'МАЙ' && mod !== 'АИБ'">
            <img class="object-flat__plan-img" src="/assets/img/jk-object/temp_bg.jpg" alt="">
    <!-- Места поблизсти -->
            <div class="object-flat__placement">
                <div class="object-flat__placement-item object-flat__placement-item_{{item.mod}}" *ngFor="let item of genplanPlacement">
                    {{ item.title }}
                </div>
            </div>
    <!-- Генплан квартир -->
            <div class="object-flat__house g-3red"></div>
        </div>

        <app-flats-nk-plan-page *ngIf="mod === 'НК'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-nk-plan-page>

        <app-flats-yar-plan-page *ngIf="mod === 'СЯ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-yar-plan-page>

        <app-flats-vb2-plan-page *ngIf="mod === 'ВБ2'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-vb2-plan-page>

        <app-flats-br-plan-page *ngIf="mod === 'БР'"
            class="object-flat__template"
            [objectId]="objectId"
            [menuMod]="activeTab"
            [parking]="parking"
            [storerooms]="storerooms"
            [mod]="mod">
        </app-flats-br-plan-page>

        <app-flats-mkv-plan-page *ngIf="mod === 'МКВ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-mkv-plan-page>

        <app-flats-nt-plan-page *ngIf="mod === 'НТМ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-nt-plan-page>

        <app-flats-ob-plan-page *ngIf="mod === 'ОБ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-ob-plan-page>

        <app-flats-may-plan-page *ngIf="mod === 'МАЙ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-may-plan-page>

        <app-flats-dabl-plan-page *ngIf="mod === 'АИБ'"
            class="object-flat__template"
            [objectId]="objectId"
            [mod]="mod">
        </app-flats-dabl-plan-page>

    </ng-container>
</section>


