<ul class="examples">
    <li class="examples__example">
        <img src="/assets/img/furniture/furniture-preview-1.jpg" alt="">
    </li>
    <li class="examples__example">
        <img src="/assets/img/furniture/furniture-preview-2.jpg" alt="">
    </li>
    <li class="examples__example examples__example--toggle">
        <img src="/assets/img/furniture/furniture-preview-3.jpg" alt="">
    </li>
    <li class="examples__example examples__example-link">
        <!-- Ссылка на объект, блок меблировки -->
        <a href="#">
            <h4 class="examples__example-link-title">
                Больше примеров
            </h4>
            <p class="examples__example-link-desc">
                Подробная галерея для всех видов меблировки и квартир
            </p>
        </a>
    </li>
</ul>
